@model GTI_Mvc.ViewModels.DebitoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Localizar Inscrição";
}

<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
        width: 440px;
        border: 1px solid rgba(0,0,0,0.24);
        padding: 20px;
        box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>

<div class="center" style="width:800px">
    <label style="color: brown;font-size: 16px;font-style: italic">Localizar Inscrição</label>
    <br />
    <br />
    <label style="color: brown;font-size: 14px;font-weight: normal">Critérios de busca</label>
    <br />

    @using (Html.BeginForm("Findcd", "Home", FormMethod.Post, new { @id = "MainForm" })) {

        <table>
            <tr style="height:40px">
                <td style="padding-top:7px"><label style="font-weight:normal;width:200px">
                    Tipo de Cadastro:&nbsp;</label>
                </td>
                <td style="width: 420px">
                    @foreach (var gender in Model.Genders) {
                        @Html.RadioButtonFor(model => model.Gender, gender) @gender<br />
                    }
                    <input type="submit" />
                    @*@Html.CheckBoxFor(m=>m.Tipo_Cadastro)*@
                    @*Imóvel:&nbsp; <input type="radio" required asp-for="Tipo_Cadastro" id="imovelCheck" value="cpf" name="tipo" checked="checked"  />
        &nbsp;Empresa:&nbsp;  <input type="radio" required asp-for="Tipo_Cadastro" id="empresaCheck" value="cnpj" name="tipo" />
        &nbsp;Cidadão:&nbsp;  <input type="radio" required asp-for="Tipo_Cadastro" id="cidadaoCheck" value="cnpj" name="tipo"  />*@
                </td>
            </tr>
            <tr style="height:40px">
                <td >
                    CPF:&nbsp; <input type="radio" required asp-for="CpfCnpjLabel" id="cpfCheck" value="cpf" name="doc" checked="checked" onclick="radioCheck()" />
                    &nbsp;CNPJ:&nbsp;  <input type="radio" required asp-for="CpfCnpjLabel" id="cnpjCheck" value="cnpj" name="doc" onclick="radioCheck()" />
                </td>
                <td >
                    @Html.TextBoxFor(m => m.CpfValue, new { @id = "cpfTxt", @class = "textBoxBlue", @style = "max-width:200px", @onKeyPress = "return formata(this, '§§§.§§§.§§§-§§', event)", @onchange = "ClearError()", @placeholder = "Digite o nº do CPF" })
                    @Html.TextBoxFor(m => m.CnpjValue, new { @id = "cnpjTxt", @class = "textBoxBlue", @style = "max-width:200px;display:none", @onKeyPress = "return formata(this, '§§.§§§.§§§/§§§§-§§', event)", @onchange = "ClearError()", @placeholder = "Digite o nº do CNPJ" })
                </td>
            </tr>
            <tr>
                <td style="padding-top:7px"><label style="font-weight:normal">Nome/Razão Social:&nbsp;</label></td>
                <td style="width:420px">@Html.TextBoxFor(m => m.Nome, new { @id = "nome", @class = "textBoxBlue", @style = "width:400px" })</td>
            </tr>

        </table>

        <br />
        <button type="submit" class="btn btn-primary" title="Retornar o código selecionado">Consultar</button>
        <br />


        <label style="font-weight:normal;color:red;padding-left:1px" id="errorLabel">@ViewBag.Result</label>

    }

    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
</div>


@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });

        function radioCheck() {
            document.getElementById('cnpjTxt').value = "";
            document.getElementById('cpfTxt').value = "";
            if (document.getElementById('cpfCheck').checked) {
                document.getElementById('cpfTxt').style.display = 'block';
            }
            else {
                document.getElementById('cpfTxt').style.display = 'none';
            }
            if (document.getElementById('cnpjCheck').checked) {
                document.getElementById('cnpjTxt').style.display = 'block';
            }
            else {
                document.getElementById('cnpjTxt').style.display = 'none';
            }
        }

        function ValidateForm() {
            ClearError();
            var _codigo = document.getElementById('codigo').value;

            if (_codigo == "" || parseInt(_codigo) == 0) {
                document.getElementById('errorLabel').innerHTML = "Digite um código válido";
                return false;
            }
            return true;
        }

        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }

    </script>
}
