@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu de Opções";
}
<link href="~/Content/gti.css" rel="stylesheet" />
<div style="width:650px">
    <ul>
        <li>@Html.ActionLink("Consulta e atualização de boletos vencidos para pagamento", "Dama", "Tributario")</li>
        @*<li>@Html.ActionLink("Emissão de 2ª via do carnê de IPTU (2019)", "Details", "Empresa")</li>
            <li>@Html.ActionLink("Emissão de 2ª via do carnê de ISS Fixo/Taxa de Licença (2019)", "Details", "Empresa")</li>
            <li>@Html.ActionLink("Emissão de 2ª via do carnê de Vigilância Sanitária (2019)", "Details", "Empresa")</li>
            <li>@Html.ActionLink("Consulta de Processos", "Details", "Empresa")</li>
            <li>@Html.ActionLink("Emissão de 2ª via da contribuição de iluminação pública (CIP)(2019)", "Details", "Empresa")</li>
            <li>@Html.ActionLink("Consultar endereço da contribuição de iluminação pública (CIP)(2019)", "Details", "Empresa")</li>
            <li>@Html.ActionLink("Impressão dos detalhes de um boleto", "Details", "Empresa")</li>
            <li>@Html.ActionLink("Comprovante de inscrição e de situação cadastral", "Details", "Empresa")</li>*@
        <li><a href="~/Files/DECA2018.pdf">Download da declaração cadastral (DECA)</a></li>
        @*<li>@Html.ActionLink("Importação de arquivos Via Rápida Empresa (VRE)", "Details", "Empresa")</li>
            <li>@Html.ActionLink("Renovação de alvará de funcionamento", "Details", "Empresa")</li>*@
        <li>@Html.ActionLink("Emissão de certidões/Verificar autenticidade ", "Certidao", "Home")</li>
        <li>@Html.ActionLink("Dados cadastrais de uma empresa", "Details", "Empresa")</li>
        <li>@Html.ActionLink("Impressão de comprovante de pagamento", "Comprovante_pagamento", "Tributario")</li>
        <li>@Html.ActionLink("Situação dos débitos ref. a ISS Fixo, Taxa de Licença e Vig. Sanitária", "Certidao_Pagamento", "Empresa")</li>
        <li>@Html.ActionLink("Acesso ao Sistema", "Login", "Home")</li>
    </ul>
</div>
