@model GTI_Mvc.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login do Sistema";
}
<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>

<div class="center">
    <div class="container" style="width:360px">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "MainForm" })) {
            <div class="panel panel-danger">
                <div class="panel-heading">Acesso ao Sistema</div>
                <div class="panel-body">
                    @Html.TextBoxFor(m => m.Usuario, new { @id = "codigo", @class = "textBoxBlue", @style = "max-width:300px;width:320px", placeholder = "Nome de usuário ou Email" })<br /><br />
                    @Html.TextBoxFor(m => m.Senha, new { @type = "password", @id = "senha", @class = "textBoxBlue", @style = "max-width:200px", placeholder = "Digite a senha" })<br />
                    <br />
                    <button type="submit" title="Acessar o sistema" class="btn btn-primary"> Entrar</button><span>&nbsp;&nbsp;&nbsp;</span>@Html.ActionLink("Criar conta", "Login_create", "Home", null, new { @class = "btn btn-info", title = "Criar uma nova conta no sistema" })
                </div>

                <label style="font-weight:normal;color:red;padding-left:10px" id="errorLabel">@ViewBag.Result</label>
                <div class="panel-footer">
                    @Html.ActionLink("Esqueci minha senha", "Login_resend_pwd", "Home", null, new { @class = "actionlink" })<br />
                    @Html.ActionLink("Reenviar email para ativação da conta", "Login_resend", "Home", null, new { @class = "actionlink" })<br />
                    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
                </div>

            </div>
            
        }

    </div>
</div>





@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });

        function ValidateForm() {
            ClearError();
            var _cod = document.getElementById('codigo').value;
            var _senha = document.getElementById('senha').value;

            if (_cod == "" || _senha == "") {
                document.getElementById('errorLabel').innerHTML = "Digite o Usuário/Email e a senha";
                return false;
            }

            return true;
        }

        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }


    </script>
}

