@model GTI_Mvc.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Alteração de Senha";
}
<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>

<div class="center container" style="width:350px">

    @using (Html.BeginForm("Login_update", "Home", FormMethod.Post, new { @id = "MainForm" })) {
        <div class="panel panel-danger">
            <div class="panel-heading">Alteração de Senha</div>
            <div class="panel-body">

                <table width="500px">
                    <tr style="height:40px">
                        <td style="width:80px">@Html.LabelFor(m => m.Senha, new { @style = "font-weight:normal" })</td>
                        <td style="width:300px">@Html.TextBoxFor(m => m.Senha, new { @type = "password", @id = "senha", @class = "textBoxBlue", @style = "max-width:200px" })</td>
                    </tr>
                    <tr style="height:40px">
                        <td style="width:80px">@Html.LabelFor(m => m.Senha2, new { @style = "font-weight:normal" })</td>
                        <td style="width:300px">@Html.TextBoxFor(m => m.Senha2, new { @type = "password", @id = "senha2", @class = "textBoxBlue", @style = "max-width:200px" })</td>
                    </tr>
                    <tr style="height:40px">
                        <td style="width:80px">@Html.LabelFor(m => m.Senha3, new { @style = "font-weight:normal" })</td>
                        <td style="width:300px">@Html.TextBoxFor(m => m.Senha3, new { @type = "password", @id = "senha3", @class = "textBoxBlue", @style = "max-width:200px" })</td>
                    </tr>
                </table>
                <br />
                <button type="submit" title="Acessar o sistema" class="btn btn-primary"> Entrar</button>
            </div>
            <label style="font-weight:normal;color:red" id="errorLabel">@ViewBag.Result</label>
            <div class="panel-footer">
                @Html.ActionLink("Retornar ao menu do sistema", "sysMenu", "Home", null, new { @class = "actionlink" })
            </div>
        </div>
    }
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });

        function ValidateForm() {
            ClearError();
            var _senha = document.getElementById('senha').value;
            var _senha2 = document.getElementById('senha2').value;
            var _senha3 = document.getElementById('senha3').value;

            if (_senha == "" || _senha2 == "" || _senha3 == "") {
                document.getElementById('errorLabel').innerHTML = "Preencha todos os campos";
                return false;
            } else {
                if (_senha2 != _senha3) {
                    document.getElementById('errorLabel').innerHTML = "Novas senhas não conferem";
                    return false;
                } else {
                    if (_senha2.length < 6) {
                        document.getElementById('errorLabel').innerHTML = "A senha tem que ter mais de 6 caracteres";
                        return false;
                    }
                }
            }
            return true;
        }

        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }

    </script>
}

