@model GTI_Mvc.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Criar nova conta";
}
<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
        width: 520px;
        border: 1px solid rgba(0,0,0,0.24);
        padding: 20px;
        box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>

<div class="center">
    <br />
    <label style="color: brown;font-size: 16px;font-style: italic">Por favor faça o seu cadastro</label>
    <br />

    <br />
    @using (Html.BeginForm("Login_create", "Home", FormMethod.Post, new { @id = "MainForm" })) {
<table width="500px">
    <tr style="height:40px">
        <td style="width:150px"><label style="font-weight:normal">Nome completo:</label></td>
        <td style="width:300px">@Html.TextBoxFor(m => m.Usuario, new { @id = "nome", @class = "textBoxBlue", @style = "max-width:400px;width:300px" })</td>
    </tr>
    <tr style="height:40px">
        <td >
            CPF:&nbsp; <input type="radio" required asp-for="CpfCnpjLabel" id="cpfCheck" value="cpf" name="doc" checked="checked" onclick="radioCheck()" />
            &nbsp;CNPJ:&nbsp;  <input type="radio" required asp-for="CpfCnpjLabel" id="cnpjCheck" value="cnpj" name="doc" onclick="radioCheck()" />
        </td>
        <td >
            @Html.TextBoxFor(m => m.CpfValue, new { @id = "cpfTxt", @class = "textBoxBlue", @style = "max-width:200px", @onKeyPress = "return formata(this, '§§§.§§§.§§§-§§', event)", @onchange = "ClearError()", @placeholder = "Digite o nº do CPF" })
            @Html.TextBoxFor(m => m.CnpjValue, new { @id = "cnpjTxt", @class = "textBoxBlue", @style = "max-width:200px;display:none", @onKeyPress = "return formata(this, '§§.§§§.§§§/§§§§-§§', event)", @onchange = "ClearError()", @placeholder = "Digite o nº do CNPJ" })
        </td>
    </tr>
    <tr style="height:40px">
        <td ><label style="font-weight:normal">Nº de Telefone:</label></td>
        <td >@Html.TextBoxFor(m => m.Telefone, new { @id = "telefone", @class = "textBoxBlue", @style = "max-width:400px;width:300px" })</td>
    </tr>
    <tr style="height:40px">
        <td ><label style="font-weight:normal">Endereço de Email:</label></td>
        <td >@Html.TextBoxFor(m => m.Email, new { @id = "email", @class = "textBoxBlue", @style = "max-width:400px;width:300px" })</td>
    </tr>
    <tr style="height:40px">
        <td ><label style="font-weight:normal">Digite a Senha:</label></td>
        <td >@Html.TextBoxFor(m => m.Senha2, new { @type = "password", @id = "senha2", @class = "textBoxBlue", @style = "max-width:400px" })</td>
    </tr>
    <tr style="height:40px">
        <td ><label style="font-weight:normal">Confirme a Senha:</label></td>
        <td >@Html.TextBoxFor(m => m.Senha3, new { @type = "password",@id = "senha3", @class = "textBoxBlue", @style = "max-width:400px" })</td>
    </tr>

    <tr style="height:40px">
        <td  valign="middle">
            <img id="img-captcha" src="~/Empresa/GetCaptcha" />
        </td>
        <td  valign="middle">
            @Html.TextBoxFor(m => m.CaptchaCode, new { @id = "captchaTxt", @class = "textBoxBlue", @maxlength = "6", @style = "max-width:100px;" })
        </td>
    </tr>
</table>
        <br />
        <button type="submit" title="Finalizar o cadastro" class="btn btn-primary"> Finalizar</button>

        <br />
        <br />
        <div class="form-group row">
            <label style="font-weight:normal;color:red;padding-left:10px" id="errorLabel">@ViewBag.Result</label>
        </div>
    }

    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
</div>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });

        function ValidateForm() {
            ClearError();
            var _nome = document.getElementById('nome').value;
            var _cpf = document.getElementById('cpfTxt').value;
            var _cnpj = document.getElementById('cnpjTxt').value;
            var _captcha = document.getElementById('captchaTxt').value;
            var _email = document.getElementById('email').value;
            var _fone = document.getElementById('telefone').value;
            var _senha2 = document.getElementById('senha2').value;
            var _senha3 = document.getElementById('senha3').value;

            if (_nome == "" ) {
                document.getElementById('errorLabel').innerHTML = "Informe o nome completo";
                return false;
            }

            var regName = /^[a-zA-Z]+ [a-zA-Z]+$/;
            var name = document.getElementById('nome').value;
            if (!regName.test(name)) {
                document.getElementById('errorLabel').innerHTML = "Informe o nome completo";
                document.getElementById('nome').focus();
                return false;
            }

            if (_fone == "") {
                document.getElementById('errorLabel').innerHTML = "Informe o nº de telefone";
                return false;
            }

            if (_nome == "") {
                document.getElementById('errorLabel').innerHTML = "Informe o endereço de email";
                document.getElementById('email').focus();
                return false;
            }

            if (_cpf == "" && _cnpj == "") {
                document.getElementById('errorLabel').innerHTML = "Informe o cpf ou o cnpj";
                return false;
            }

            var mailformat = /^[a-z0-9\.\_%+-]+@@[a-z0-9\.\-]+\.[a-z]{2,4}$/i;
            if (!mailformat.test(_email)) {
                document.getElementById('errorLabel').innerHTML = "Endereço de email inválido";
                document.getElementById('email').focus();
                return false;
            }

            if (_senha2.length<6 ) {
                document.getElementById('errorLabel').innerHTML = "Senha muito curta";
                return false;
            }

            if (_senha2!=_senha3) {
                document.getElementById('errorLabel').innerHTML = "Senhas não conferem";
                return false;
            }

            return true;
        }

        function radioCheck() {
            document.getElementById('cnpjTxt').value = "";
            document.getElementById('cpfTxt').value = "";
            if (document.getElementById('cpfCheck').checked) {
                document.getElementById('cpfTxt').style.display = 'block';
            }
            else {
                document.getElementById('cpfTxt').style.display = 'none';
            }
            if (document.getElementById('cnpjCheck').checked) {
                document.getElementById('cnpjTxt').style.display = 'block';
            }
            else {
                document.getElementById('cnpjTxt').style.display = 'none';
            }
        }

        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }


    </script>
}

