@model GTI_Mvc.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Redefinição de senha";
}
<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
        width: 420px;
        border: 1px solid rgba(0,0,0,0.24);
        padding: 20px;
        box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>

<div class="center">
    <br />
    <label style="color: brown;font-size: 16px;font-style: italic">Redefinição de senha <span style="color:darkblue;font-weight:normal">(@Model.Email)</span></label>
    <br />

    <br />
    @using (Html.BeginForm("Login_reset", "Home", FormMethod.Post, new { @id = "MainForm" })) {
        @Html.HiddenFor(m=>m.Email)
        <table width="400px">
            <tr style="height:40px">
                <td><label style="font-weight:normal">Digite a Senha:</label></td>
                <td>@Html.TextBoxFor(m => m.Senha2, new { @type = "password", @id = "senha2", @class = "textBoxBlue", @style = "max-width:400px" })</td>
            </tr>
            <tr style="height:40px">
                <td><label style="font-weight:normal">Confirme a Senha:</label></td>
                <td>@Html.TextBoxFor(m => m.Senha3, new { @type = "password", @id = "senha3", @class = "textBoxBlue", @style = "max-width:400px" })</td>
            </tr>

            <tr style="height:40px">
                <td valign="middle">
                    <img id="img-captcha" src="~/Empresa/GetCaptcha" />
                </td>
                <td valign="middle">
                    @Html.TextBoxFor(m => m.CaptchaCode, new { @id = "captchaTxt", @class = "textBoxBlue", @maxlength = "6", @style = "max-width:100px;" })
                </td>
            </tr>
        </table>
        <br />
        <button type="submit" title="Gravar a nova senha" class="btn btn-primary"> Redefinir</button>

        <br />
        <br />
        <div class="form-group row">
            <label style="font-weight:normal;color:red;padding-left:10px" id="errorLabel">@ViewBag.Result</label>
        </div>
    }

    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
</div>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });

        function ValidateForm() {
            ClearError();
            var _captcha = document.getElementById('captchaTxt').value;
            var _senha2 = document.getElementById('senha2').value;
            var _senha3 = document.getElementById('senha3').value;


            if (_senha2.length<6 ) {
                document.getElementById('errorLabel').innerHTML = "Senha muito curta";
                return false;
            }

            if (_senha2!=_senha3) {
                document.getElementById('errorLabel').innerHTML = "Senhas não conferem";
                return false;
            }

            if (_captcha.length <6) {
                document.getElementById('errorLabel').innerHTML = "Código de validação inválido";
                document.getElementById('captchaTxt').focus();
                return false;
            }

            return true;
        }


        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }

        


    </script>
}

