@model GTI_Mvc.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login do Sistema";
}
<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }
   .center {
        margin: auto;
        width: 350px;
        border: 1px solid rgba(0,0,0,0.24);
        padding: 20px;
        box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;
    }
</style>

<div class="center">
    <br />
    <label style="color: brown;font-size: 16px;font-style: italic">Acesso ao Sistema</label>
    <br />


    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "MainForm" })) {

        <table width="500px">
            <tr style="height:40px">
                <td style="width:80px">@Html.LabelFor(m => m.Usuario, new { @style = "font-weight:normal" })</td>
                <td style="width:300px">@Html.TextBoxFor(m => m.Usuario, new { @id = "codigo", @class = "textBoxBlue", @style = "max-width:200px" })</td>
            </tr>
            <tr style="height:40px">
                <td style="width:80px">@Html.LabelFor(m => m.Senha, new { @style = "font-weight:normal" })</td>
                <td style="width:300px">@Html.TextBoxFor(m => m.Senha, new { @type = "password", @id = "senha", @class = "textBoxBlue", @style = "max-width:200px" })</td>
            </tr>
        </table>

        <br />
            <button type="submit" title="Acessar o sistema" class="btn btn-primary"> Entrar</button>
     
        <br />
        <div class="form-group row">
            <label style="font-weight:normal;color:red" id="errorLabel">@ViewBag.Result</label>
        </div>
    }

    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home")
</div>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });

        function ValidateForm() {
            ClearError();
            var _cod = document.getElementById('codigo').value;
            var _senha = document.getElementById('senha').value;

            if (_cod == "" || _senha == "") {
                document.getElementById('errorLabel').innerHTML = "Digite o login e a senha";
                return false;
            }

            return true;
        }

        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }


    </script>
}

