
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu de Opções";
}
<link href="~/css/gti.css" rel="stylesheet" />
<style>
    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>
<br />

    <div class="center container" style="width:500px">
        <div class="panel panel-danger">
            <div class="panel-heading">Selecione um serviço</div>
            <div class="panel-body">
                @if (Session["hashfunc"].ToString() == "S") {
                    @Html.ActionLink("Tramitação de processos", "Tramite_Processo", "Protocolo", null, new { @class = "actionlink" })<br />
                    if (Session["hashfiscal"].ToString() == "S") {
                        @Html.ActionLink("Notificação de ISS Contrução Civil", "Notificacao_menu", "Tributario", null, new { @class = "actionlink" })<br />
                    }
                }
                @if (ViewBag.UsoPlataforma == "S") {
                    @Html.ActionLink("Uso de Plataforma (terminal Rodoviário)", "Rod_menu", "Tributario", null, new { @class = "actionlink" })<br />
                }

                @*@if (Session["hashid"].ToString() == "433") {
                @Html.ActionLink("Cadastro de imóvel", "CadImovel", "Imovel",null, new { Codigo = 1 ,  @class = "actionlink" })<br />
            }*@
                @Html.ActionLink("Imposto sobre Transmissão de Bens Imóveis (ITBI)", "Itbi_menu", "Imovel", null, new { @class = "actionlink" })<br />

            </div>
            <div class="panel-footer">
                @Html.ActionLink("Alterar a senha", "Login_update", "Home", null, new { @class = "actionlink" })<br />
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })

            </div>
            </div>
        </div>
