@model GTI_Mvc.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Liberação de Acesso de usuários";
}

<style>

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
</style>

@{var res = @ViewBag.Result;}
<div class="center">

    @using (Html.BeginForm("User_query_doc", "Home", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        <input type="hidden" id="userId" value="@Model.UserId">
        <input type="hidden" id="status">
        <input type="hidden" id="dataenvio">

        <div class="container" style="width:900px">
            <div class="card">
                <div class="card-header">
                    Liberação de Acesso de usuários cadastrados
                </div>
                <div class="card-body">

                    <table id="tblMain" class="tableContainer" style="font-size:14px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse">
                        <thead style="background-color:brown;color:white;font-size:14px;font-weight:normal; white-space: nowrap;">
                            <tr style="height:14px;">
                                <td style="display:none">Id</td>
                                <td style="width:250px">Nome do Usuário</td>
                                <td style="width:140px;font-weight:normal">Cpf/Cnpj</td>
                                <td style="width:250px">Email</td>
                                <td style="width: 130px; font-weight: normal; text-align: center">Enviado em</td>
                                <td style="width: 50px; font-weight: normal; text-align: center">Liberado</td>
                                <td style="width:30px;text-align:right">
                                </td>
                            </tr>
                        </thead>
                        <tbody id="tblComprador" class="tableContainer" style="font-size:14px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse;padding-left:10px;">

                            @for (int i = 0; i < Model.Lista_Usuario_Web_Analise.Count; i++) {
                                <tr style="height:20px;">
                                    <td style="display:none">@Model.Lista_Usuario_Web_Analise[i].Id</td>
                                    <td style="width:250px;font-weight:normal">@Functions.TruncateTo(Model.Lista_Usuario_Web_Analise[i].Nome, 30)</td>
                                    <td style="width:140px;font-weight:normal">@Functions.FormatarCpfCnpj(Model.Lista_Usuario_Web_Analise[i].CpfCnpj)</td>
                                    <td style="width:250px;font-weight:normal">@Functions.TruncateTo(Model.Lista_Usuario_Web_Analise[i].Email, 30)</td>
                                    <td style="width:130px;font-weight:normal;text-align:center">@Model.Lista_Usuario_Web_Analise[i].Data_envio.ToString("dd/MM/yyyy hh:mm")</td>
                                    @if (Model.Lista_Usuario_Web_Analise[i].Autorizado) {
                                        <td style="width: 50px; font-weight: normal; text-align: center;color:darkgreen">Sim</td>
                                    } else {
                                        <td style="width: 50px; font-weight: normal; text-align: center;color:red">Não</td>
                                    }
                                    <td style="width:30px;text-align:right">
                                        <img src="~/Images/Consultar.gif" id="btnDetalhe" style="cursor:pointer" width="16" height="16" title="Dados do usuário" onclick="Detalhe(@i)" />
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>
        </div>
    }
</div>
<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>


<div class="modal fade" id="AnexoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content" style="font-family: Arial, Helvetica, sans-serif;width:680px">
            <div class="modal-header">
                <h5 class="modal-title">Liberar acesso do usuário</h5>
            </div>
            <div class="modal-body">
                <div id="AnexoTable" style="max-height: 247px; overflow: auto;width:650px;padding-top:7px">
                    <table id="tblHeader" style="font-size:13px">
                        <tr>
                            <td style="width:80px">Nome</td>
                            <td style="font-weight:bold"></td>
                        <tr>
                            <td style="width:80px">Cpf:Cnpj</td>
                            <td style="font-weight:bold"></td>
                        </tr>
                        <tr>
                            <td style="width:80px">Email</td>
                            <td style="font-weight:bold"></td>
                        </tr>
                    </table>
                    <br />
                    <span style="text-decoration: underline; color: maroon; font-size: 13px">Relação de documentos enviados</span><br />
                    <table id="tblAnexo" class="tableContainer" style="font-size:13px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse">
                        <thead style="background-color:brown;color:white;font-size:13px;font-weight:normal">
                            <tr style="height:12px;">
                                <th style="display:none;font-weight:normal">
                                    #
                                </th>
                                <th style="width:350px;font-weight:normal">
                                    Descrição do documento
                                </th>
                                <th style="width:250px;font-weight:normal">
                                    Nome do Arquivo
                                </th>
                                <th style="width:50px;text-align:left">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnOK" onclick="Liberar()"><i class="fas fa-save"></i>&nbsp;Liberar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i>&nbsp;Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }
        });

        function Detalhe(row) {
            row++;
            var _userId = $("#tblMain tr:eq(" + row + ") td:eq(0)").text().trim();
            document.getElementById("userId").value =_userId;
            var _status = $("#tblMain tr:eq(" + row + ") td:eq(5)").text().trim();
            document.getElementById("status").value = _status;
            var _status = $("#tblMain tr:eq(" + row + ") td:eq(4)").text().trim();
            document.getElementById("dataenvio").value = _status;
            $("#tblHeader tr:eq(0) td:eq(1)").text($("#tblMain tr:eq(" + row + ") td:eq(1)").text().trim());
            $("#tblHeader tr:eq(1) td:eq(1)").text($("#tblMain tr:eq(" + row + ") td:eq(2)").text().trim());
            $("#tblHeader tr:eq(2) td:eq(1)").text($("#tblMain tr:eq(" + row + ") td:eq(3)").text().trim());

            $.getJSON("Carrega_User_Doc",
                { userId: _userId },
                function (json) {
                    var tr;
                    $("#tblAnexo tbody tr").remove();
                    for (var i = 0; i < json.length; i++) {
                        tr = $('<tr id="' + json[i].Seq + '" style="height: 12px; font-weight: normal; font-size: 13px; white-space: nowrap"  />');
                        tr.append("<td style='display:none'>" + json[i].Codigo + "</td>");
                        tr.append("<td style='width:350px'>" + json[i].Descricao + "</td>");
                        tr.append("<td style='width:250px'>" + json[i].Arquivo + "</td>");
                        tr.append("<td style='width:50px'><a href=/Home/Anexo_Download?userid=" + _userId + "&tipo=" + json[i].Codigo + " class='actionlink'>download</a> </td>");
                        $("#tblAnexo").find('tbody').append(tr);
                    }
                });



            $('#AnexoModal').modal({ backdrop: 'static', keyboard: false });
        }

        function Liberar() {
            var _id = document.getElementById("userId").value;
            var _status = document.getElementById("status").value;
            var _dataenvio = document.getElementById("dataenvio").value;
            if (_status == "Sim") {
                alert("Este acesso já foi liberado!");
                return false;
            }
            var retVal = confirm("Deseja liberar o acesso a este usuário?");
            if (retVal == true) {

                var $formData = new FormData();
                $formData.append('userId', _id);
                $formData.append('dataenvio', _dataenvio);

                $.ajax({
                    url: location.hostname == "localhost" ? "/Home/Libera_Acesso" : "/gti/Home/Libera_Acesso",
                    type: 'POST',
                    data: $formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function ($data) {
                        location.reload();
                    }
                });

                $('#AnexoModal').hide();
                Alert("O acesso foi liberado.");
            } 
        }

    </script>

}

