@model GTI_Mvc.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Identificação do Usuário";
}

<style>

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }
    
    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
    .smallbtn {
        background-color: Highlight;
        border: solid;
        border-width: .3px;
        border-color: black;
        color: whitesmoke;
        width: 100px;
        height: 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 6px;
        cursor: pointer;
    }

        .smallbtn:hover {
            background-color: darkred;
            color: whitesmoke;
        }

    .smallbtnred {
        background-color: red;
        border: solid;
        border-width: .3px;
        border-color: black;
        color: whitesmoke;
        width: 100px;
        height: 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 6px;
        cursor: pointer;
    }

        .smallbtnred:hover {
            background-color: darkred;
            color: whitesmoke;
        }
</style>

@{var res = @ViewBag.Result;}
<div class="center">

    @using (Html.BeginForm("User_doc", "Home", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.Usuario)
        @Html.HiddenFor(m => m.CpfCnpjLabel)
        <input type="hidden" id="Seq_Anexo">

        <div class="container" style="width:720px">
            <div class="card">
                <div class="card-header">Identificação do Usuário</div>
                <div class="card-body">

                    <article style="font-size:13px;color:black;text-align:justify">
                        Para maior segurança, o serviço que você esta tentando acessar requer a<b> confirmação de sua identidade</b>. Por favor anexar abaixo os documentos solicitados e clicar em enviar.
                        Após o envio, os documentos serão analisados pelo setor de dívida ativa, e se aprovados, o serviço será liberado. Qualquer dúvida entrar em contato através do email <a href="mailto:pad@jaboticabal.sp.gov.br">pad@jaboticabal.sp.gov.br</a>. <br />Obs: Os anexos deverão ser enviados no formato PDF com tamanho máximo de 4Mb.
                    </article>
                    <br />

                    <div id="AnexoTable" style="max-height: 247px; overflow: auto;width:650px;padding-top:7px">
                        <table id="tblAnexo" class="tableContainer" style="font-size:13px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse">
                            <thead style="background-color:brown;color:white;font-size:13px;font-weight:normal">
                                <tr style="height:12px;">
                                    <th style="display:none;font-weight:normal">
                                        #
                                    </th>
                                    <th style="width:350px;font-weight:normal">
                                        Descrição do documento
                                    </th>
                                    <th style="width:250px;font-weight:normal">
                                        Nome do Arquivo
                                    </th>
                                    <th style="width:50px;text-align:left">

                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Lista_Usuario_Web_Anexo) {
                                    <tr>
                                        <td style="display:none; font-weight:normal;color:darkblue">
                                            @Html.DisplayFor(modelItem => item.Codigo)
                                            @Html.HiddenFor(modelItem => item.Codigo)
                                        </td>
                                        <td style="font-weight:normal;color:darkblue">
                                            @Html.DisplayFor(modelItem => item.Descricao)
                                            @Html.HiddenFor(modelItem => item.Descricao)
                                        </td>
                                        <td style="font-weight:normal;color:darkblue">
                                            @Html.DisplayFor(modelItem => item.Arquivo)
                                            @Html.HiddenFor(modelItem => item.Arquivo)
                                        </td>
                                        <td>
                                            <img src="~/Images/save.png" id="btnAnexo" style="cursor:pointer" width="16" height="16" title="Anexar Arquivo" onclick="Anexar(@item.Codigo)" />
                                            <a href="@Url.Action("Itbi_urbano", "Itbi", new { @a = "ra", @style="cursor:pointer" })" title="Remover anexo"> <img src="@Url.Content("~/images/cancelar.gif")" /></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>
        </div>
    }
</div>

<div class="modal" tabindex="-1" role="dialog" id="AnexoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"> <span>Inserir Anexo</span> </div>
            <div class="modal-body">
                <input style="width:610px;font-size:12px" type="file" name="file" id="file" accept="application/pdf" />
                <br />
                <br />
                <button type="button" class="smallbtn" id="Inserir_Anexo" onclick="Inserir_Anexo()">Anexar</button>&nbsp;
                <button type="button" class="smallbtnred" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">
 
        function Anexar(id) {
            document.getElementById("Seq_Anexo").value = id;
            $("#seq").text(id);
            $('#AnexoModal').modal({ backdrop: 'static', keyboard: false });
        }

        function Inserir_Anexo() {
            var $file = document.getElementById('file'),
                $formData = new FormData();

            if ($file.files.length > 0) {
                for (var i = 0; i < $file.files.length; i++) {
                    $formData.append('file-' + i, $file.files[i]);
                }
                $formData.append('Seq', document.getElementById("Seq_Anexo").value);
                $formData.append('Id', document.getElementById("UserId").value);

                $.ajax({
                    url: '/Home/UploadFile',
                    type: 'POST',
                    data: $formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function ($data) {
                        location.reload();
                    }
                });
            } else {
                alert("Selecione um anexo válido!");
            }
        }

        $(function () {
            $("#file").change(function () {
                if (undefined != this.files) {
                    var f = this.files[0]
                    var id = this.id;
                    var extArray = new Array("dll", "exe");
                    var ext = f.name.replace(/^.*?\.([a-zA-Z0-9]+)$/, "$1");
                    if (ext.toUpperCase() != "PDF") {
                        alert("Apenas arquivos do tipo PDF podem ser anexados!");
                        return false;
                    }

                    if (ext == extArray[0] || ext == extArray[1]) {
                        alert("O sistema não permite anexar arquivos com extensão(.exe,.dll). Tente anexar outroa rquivo.");
                        //reset file upload control
                        $("#" + this.id).replaceWith($("#" + this.id).clone(true));
                        this.value = null;
                        return false;
                    }
                    //here I CHECK if the FILE SIZE is bigger than 5 MB (numbers below are in bytes)
                    else if (f.size > 4194304 || f.fileSize > 4194304) {
                        //show an alert to the user
                        alert("Tamanho máximo excedido. (Max. 4 MB)");
                        this.value = null;
                        //reset file upload control
                        $("#" + this.id).replaceWith($("#" + this.id).clone(true));
                        return false;
                    }
                }
            })
        });
    </script>
   
}

