@model GTI_Mvc.ViewModels.ImovelDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastro de imóvel";
}

<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }
</style>

<label style="color: brown;font-size: 16px;font-style: italic;font-weight: normal;text-decoration:underline" ;>Cadastro de imóvel</label>
<br />
<br />
@using (Html.BeginForm("CadImovel", "Imovel", FormMethod.Post, new { @id = "MainForm" })) {
    <label style="font-weight:normal">Código Reduzido:&nbsp;&nbsp;</label>@Html.TextBoxFor(m => m.Inscricao, new { @id = "codigo", @class = "textBoxBlue", @style = "max-width:100px", @onKeyPress = "return formata(this, '§§§§§', event)" })
    <label>&nbsp;&nbsp;</label>
    <button type="submit" class="btn btn-primary"> Consultar</button>
    <br />
}

@if (@Model.ImovelStruct != null && Model.ImovelStruct.EE_TipoEndereco != null) {

    <table style="font-size:12px">
        <tr>
            <td>Código:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.Codigo.ToString("00000")</span>&nbsp;&nbsp;Inscrição:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.Inscricao</span>       </td>
        </tr>
        <tr>
            <td>Condomínio:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.NomeCondominio</span> </td>
        </tr>
    </table>
    <br />
    <label style="font-weight:normal;font-style:italic;text-decoration:underline;color:indigo">Proprietário(s)</label>
    <br />
    <table style="font-size:12px;font-weight:bold">
        @foreach (GTI_Models.Models.ProprietarioStruct prop in Model.Lista_Proprietario) {
            @Html.Raw(" <tr><td>")
            if (@prop.Principal) {
                @prop.Nome @Html.Raw(" (Principal)");
            } else {
                @prop.Nome;
            }
            @Html.Raw("</td></tr>")
        }
    </table>
    <br />
    <table style="font-size:12px">
        <tr>
            <td style="font-weight:normal;width:165px">
                Proprietário reside no imóvel:
            </td>
            <td style="font-weight:bold">
                @if (Model.ImovelStruct.ResideImovel == true) {
                    @Html.Raw("Sim")
                } else {
                    @Html.Raw("Não")
                }
            </td>
        </tr>
    </table>

    <br />
    <label style="font-weight:normal;font-style:italic;text-decoration:underline;color:indigo">Localização</label>
    <br />

    <table style="font-size:12px">
        <tr>
            <td>Endereço:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.NomeLogradouro @Html.Raw(", ") @Model.ImovelStruct.Numero.ToString() @Html.Raw(" ") @Model.ImovelStruct.Complemento</span></td>

        </tr>
        <tr>
            <td>Bairro:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.NomeBairro</span>&nbsp;&nbsp;CEP:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.Cep</span></td>
        </tr>
        <tr>
            <td style="a">Lote:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.LoteOriginal</span>&nbsp;&nbsp;Quadra:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.QuadraOriginal</span></td>
        </tr>
    </table>

    <br />
    <label style="font-weight:normal;font-style:italic;text-decoration:underline;color:indigo">Endereço de Entrega</label>
    <br />
    <table style="font-size:12px">
        <tr>
            <td>
                Tipo de Endereço:&nbsp; <span style="font-weight:bold">
                    @if (Model.ImovelStruct.EE_TipoEndereco == 0) {
                        @Html.Raw("Endereço de Localização")
                    } else {
                        if (Model.ImovelStruct.EE_TipoEndereco == 1) {
                            @Html.Raw("Endereço do Proprietário")
                        } else {
                            @Html.Raw("Endereço de Entrega")
                        }
                    }
                </span>
            </td>
        </tr>
        <tr>
            <td>Endereço:&nbsp; <span style="font-weight:bold">@Model.Endereco_Entrega.Endereco @Html.Raw(", ") @Model.Endereco_Entrega.Numero.ToString() @Html.Raw(" ") @Model.Endereco_Entrega.Complemento</span></td>
        </tr>
        <tr>
            <td>Bairro:&nbsp; <span style="font-weight:bold">@Model.Endereco_Entrega.NomeBairro</span>&nbsp;&nbsp;CEP:&nbsp; <span style="font-weight:bold">@Model.Endereco_Entrega.Cep</span></td>
        </tr>
        <tr>
            <td>Cidade:&nbsp; <span style="font-weight:bold">@Model.Endereco_Entrega.NomeCidade</span>&nbsp;&nbsp;UF:&nbsp; <span style="font-weight:bold">@Model.Endereco_Entrega.UF</span></td>
        </tr>
    </table>

    <br />
    <label style="font-weight:normal;font-style:italic;text-decoration:underline;color:indigo">Dados Territoriais</label>
    <br />
    <table style="font-size:12px">
        <tr>
            <td>Área do Terreno:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.Area_Terreno.ToString("#0.00")  m²</span> &nbsp;&nbsp;Fração Ideal: <span style="font-weight:bold">&nbsp;@Model.ImovelStruct.FracaoIdeal.ToString("#0.00") m²</span></td>
        </tr>
        <tr>
            <td>Topografia:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.Topografia_Nome</span>&nbsp;&nbsp;Situação:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.Situacao_Nome</span></td>
        </tr>
        <tr>
            <td>Categoria:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.Categoria_Nome</span>&nbsp;&nbsp;Pedologia:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.Pedologia_Nome</span></td>
        </tr>
        <tr>
            <td>Benfeitoria:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.Benfeitoria_Nome</span>&nbsp;&nbsp;Uso Construção:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.Uso_terreno_Nome</span></td>
        </tr>

    </table>

    <br />
    <label style="font-weight:normal;font-style:italic;text-decoration:underline;color:indigo">Áreas Construidas</label>
    <br />
    <table class="table table-condensed" style="font-size:12px;width:500px">
        <thead style="background-color:darkslateblue;color:whitesmoke">
            <tr style="height:10px">
                <td style="text-align:center">Seq</td>
                <td>Uso</td>
                <td>Tipo</td>
                <td>Categoria</td>
                <td style="text-align:right">Área m²</td>
            </tr>
        </thead>
        @foreach (GTI_Models.Models.AreaStruct area in Model.Lista_Areas) {
            @Html.Raw(" <tr>")
            @Html.Raw("<td style=" + "text-align:center" + " >")
            @area.Seq ;
            @Html.Raw("</td>")
            @Html.Raw(" <td>")
            @area.Uso_Nome ;
            @Html.Raw("</td>")
            @Html.Raw(" <td>")
            @area.Tipo_Nome ;
            @Html.Raw("</td>")
            @Html.Raw(" <td>")
            @area.Categoria_Nome ;
            @Html.Raw("</td>")
            @Html.Raw("<td style=" + "text-align:right" + " >")
            @area.Area ;
            @Html.Raw("</td>")
            @Html.Raw("</tr>")
        }
    </table>

}

<br />
<div class="form-group row">
    <label style="font-weight:normal;color:red" id="errorLabel">@ViewBag.Result</label>
</div>
<br />
@Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home")

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });

        function ValidateForm() {
            ClearError();
            var _codigo = document.getElementById('codigo').value.trim();
            if (_codigo == "") {
                document.getElementById('errorLabel').innerHTML = "Digite o código do imóvel!";
                return false;
            } else {
                if (_codigo >= 40000) {
                    document.getElementById('errorLabel').innerHTML = "Imóvel não cadastrado";
                    return false;
                } else {
                    return true;
                }
            }
        }

        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }

    </script>
}