@model GTI_Mvc.ViewModels.ImovelDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastro de imóvel";
}

<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }
</style>

<label style="color: brown;font-size: 16px;font-style: italic;font-weight: normal;text-decoration:underline" ;>Cadastro de imóvel</label>
<br />
<br />
@using (Html.BeginForm("CadImovel", "Imovel", FormMethod.Post, new { @id = "MainForm" })) {
    <table style="font-size:12px">
        <tr>
            <td>Código:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.Codigo.ToString("000000")</span>&nbsp;&nbsp;Inscrição:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.Inscricao</span>       </td>
        </tr>
        <tr>
            <td>Condomínio:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.NomeCondominio</span> </td>
        </tr>
    </table>
    <br />
    <label style="font-weight:normal;font-style:italic;text-decoration:underline;color:indigo">Proprietário(s)</label>
    <br />
    <table style="font-size:12px;font-weight:bold">
        @foreach (GTI_Models.Models.ProprietarioStruct prop in Model.Lista_Proprietario) {
            @Html.Raw(" <tr><td>")
            if (@prop.Principal) {
                @prop.Nome @Html.Raw(" (Principal)");
            } else {
                @prop.Nome;
            }
            @Html.Raw("</td></tr>")
        }
    </table>
    <br />
    <table style="font-size:12px">
        <tr>
            <td style="font-weight:normal;width:165px">
                Proprietário reside no imóvel:
            </td>
            <td style="font-weight:bold">
                @if (Model.ImovelStruct.ResideImovel == true) {
                    @Html.Raw("Sim")
                } else {
                    @Html.Raw("Não")
                }
            </td>
        </tr>
    </table>

    <br />
    <label style="font-weight:normal;font-style:italic;text-decoration:underline;color:indigo">Localização</label>
    <br />

    <table style="font-size:12px">
        <tr>
            <td>Endereço:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.NomeLogradouro @Html.Raw(", ") @Model.ImovelStruct.Numero.ToString() @Html.Raw(" ") @Model.ImovelStruct.Complemento</span></td>
        </tr>
        <tr>
            <td>Bairro:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.NomeBairro</span>&nbsp;&nbsp;CEP:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.Cep</span></td>
        </tr>
        <tr>
            <td>Lote:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.LoteOriginal</span>&nbsp;&nbsp;Quadra:&nbsp; <span style="font-weight:bold">@Model.ImovelStruct.QuadraOriginal</span></td>
        </tr>
    </table>


    <br />
    <label style="font-weight:normal;font-style:italic;text-decoration:underline;color:indigo">Endereço de Entrega</label>
    <br />
    <table style="font-size:12px">
        <tr>
            <td>Endereço:&nbsp; <span style="font-weight:bold">@Model.Endereco_Entrega.Endereco @Html.Raw(", ") @Model.Endereco_Entrega.Numero.ToString() @Html.Raw(" ") @Model.Endereco_Entrega.Complemento</span></td>
        </tr>
        <tr>
            <td>Bairro:&nbsp; <span style="font-weight:bold">@Model.Endereco_Entrega.NomeBairro</span>&nbsp;&nbsp;CEP:&nbsp; <span style="font-weight:bold">@Model.Endereco_Entrega.Cep</span></td>
        </tr>
        <tr>
            <td>Cidade:&nbsp; <span style="font-weight:bold">@Model.Endereco_Entrega.NomeCidade</span>&nbsp;&nbsp;UF:&nbsp; <span style="font-weight:bold">@Model.Endereco_Entrega.UF</span></td>
        </tr>
    </table>

}

<br />
@Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home")


