@model GTI_Mvc.ViewModels.CertidaoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "2ª via de IPTU";
}


<style>

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
        text-decoration:underline;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
</style>

@{var res = Model.ErrorMessage;}
<div class="center container" style="width:390px">
    @using(Html.BeginForm("Carne_Iptu","Imovel",FormMethod.Post,new { @id = "MainForm" })) {
        @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-header">Emissão de 2ª via de IPTU</div>
            <div class="card-body">


                <table width="410px">
                    <tr style="height:30px">
                        <td style="width:130px"><label style="font-weight:normal;font-size:14px;padding-top:10px">Código do imóvel:</label></td>
                        <td style="width:280px">@Html.TextBoxFor(m => m.Inscricao,new { @id = "codigo",@style = "Width:80px;font-size:14px",@onKeyPress = "return formata(this, '§§§§§§', event)" })</td>
                    </tr>
                    <tr style="height:30px">
                        <td style="width:130px;font-size:14px">Cpf/Cnpj:</td>
                        <td style="width:280px">
                            @Html.TextBoxFor(m => m.CpfValue,new { @id = "cpfcnpj",@name= "cpfcnpj",@style = "Width:160px;font-size:14px" })
                        </td>
                    </tr>
                </table>
                <br />
                <div class="g-recaptcha" data-sitekey="6LfRjG0aAAAAAOEd4ksnWZYw3oX4cUsimIy7yOqD"></div>
                <br />
                @*<span style="font-size:12px;font-weight:bold;color:brown;text-align:justify">Conforme <a href="~/Files/Decreto7408.pdf" style="font-weight:normal" class="actionlink">DECRETO Nº 7.408, DE 31 DE MAIO DE 2021</a><br />  </span><br />
                <article style="text-align:justify;font-size:12px">
                    <span style="font-weight:bold">Art. 2º</span>  Prorroga-se o prazo para cobrança de juros e multas do Imposto Predial e Territorial Urbano – IPTU das parcelas referentes aos meses de junho e julho:<br /><br />
                    <span style="font-weight:bold">I –</span> A parcela com vencimento original em 15 de junho de 2021, poderá ser paga até o dia 15 de setembro de 2021;<br />
                    <span style="font-weight:bold">II –</span> A parcela com vencimento original em 15 de julho de 2021, poderá ser paga até o dia 15 de outubro de 2021;<br />
                    <br /><span style="font-size:12px;color:red">Por conta disso, as parcelas mencionadas terão suas datas de vencimento alteradas.</span>

                </article><br />*@
                <button type="submit" class="btn btn-primary"> <img src="~/Images/print.png" /> &nbsp; Imprimir
                </button>

            </div>

            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu principal","Login_gti","Home",null,new { @class = "actionlink" })
            </div>

        </div>

    }

</div>

<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@Model.ErrorMessage</p>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $("input[id*='cpfcnpj']").inputmask({
                mask: ['999.999.999-99', '99.999.999/9999-99'],
                keepStatic: true
            });

            $("#MainForm").submit(function () {
                ShowMsg();
                return ValidateForm();
            });

            

            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }

        });


        function ValidateForm() {
            var _cod = document.getElementById('codigo').value;
            var _cpf = document.getElementById('cpfcnpj').value;

            if (_cod == "" || parseInt(_cod) == 0) {
                document.getElementById('lblMsg').innerHTML = "Digite o código do imóvel";
                $('#msgBox1').dialog('open');
                return false;
            } else {
                if (parseInt(_cod) > 0 && _cpf == "") {
                    document.getElementById('lblMsg').innerHTML = "Digite o Cpf ou o CNPJ!";
                    $('#msgBox1').dialog('open');
                    return false;
                }
            }

            //*** Valida CpfCnpj ***
            if (_cpf.length == 14) {
                if (!valida_Cpf(_cpf)) {
                    document.getElementById('lblMsg').innerHTML = "Nº de Cpf/Cnpj inválido!";
                    $('#msgBox1').dialog('open');
                    return false;
                }
            } else {
                if (_cpf.length == 18) {
                    if (!valida_Cnpj(_cpf)) {
                        document.getElementById('lblMsg').innerHTML = "Nº de Cpf/Cnpj inválido!";
                        $('#msgBox1').dialog('open');
                        return false;
                    }
                } else {
                    document.getElementById('lblMsg').innerHTML = "Nº de Cpf/Cnpj inválido!";
                    $('#msgBox1').dialog('open');
                    return false;
                }
            }
            //*********************

            return true;
        }


        function ShowMsg() {
           alert( "Boletos liberados até as 16:30h podem ser quitados a partir do dia seguinte de sua liberação, após às 16:30h será necessário mais um dia útil para o registro, caso queira pagar alguma parcela hoje, selecione a opção (Consulta e atualização de boletos) para emitir uma guia para pagamento à vista.");
        }

    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
