@model GTI_Mvc.ViewModels.CertidaoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "2ª via de IPTU";
}


<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }
</style>

<label style="color: brown;font-size: 16px;font-style: italic;font-weight: normal;text-decoration:underline" ;>Emissão de 2ª via de IPTU</label>
<br />
<br />

@using (Html.BeginForm("Carne_Iptu", "Imovel", FormMethod.Post, new { @id = "MainForm" })) {

<table width="500px">
    <tr style="height:40px">
        <td style="width:150px">@Html.LabelFor(m => m.Inscricao, new { @style = "font-weight:normal" })</td>
        <td style="width:300px">@Html.TextBoxFor(m => m.Inscricao, new { @id = "codigo", @class = "textBoxBlue", @style = "max-width:100px", @onKeyPress = "return formata(this, '§§§§§§', event)" })</td>
    </tr>
    <tr style="height:40px">
        <td style="width:150px">
            CPF:&nbsp; <input type="radio" required asp-for="CpfCnpjLabel" id="cpfCheck" value="cpf" name="doc" checked="checked" onclick="radioCheck()" />
            &nbsp;CNPJ:&nbsp;  <input type="radio" required asp-for="CpfCnpjLabel" id="cnpjCheck" value="cnpj" name="doc" onclick="radioCheck()" />
        </td>
        <td style="width:300px">
            @Html.TextBoxFor(m => m.CpfValue, new { @id = "cpfTxt", @class = "textBoxBlue", @style = "max-width:200px", @onKeyPress = "return formata(this, '§§§.§§§.§§§-§§', event)", @onchange = "ClearError()", @placeholder = "Digite o nº do CPF" })
            @Html.TextBoxFor(m => m.CnpjValue, new { @id = "cnpjTxt", @class = "textBoxBlue", @style = "max-width:200px;display:none", @onKeyPress = "return formata(this, '§§.§§§.§§§/§§§§-§§', event)", @onchange = "ClearError()", @placeholder = "Digite o nº do CNPJ" })
        </td>
    </tr>

    <tr style="height:40px">
        <td style="width:150px" valign="middle">
            <img id="img-captcha" src="~/Empresa/GetCaptcha" />
        </td>
        <td style="width:150px" valign="middle">
            @Html.TextBoxFor(m => m.CaptchaCode, new { @id = "captchaTxt", @class = "textBoxBlue", @maxlength = "6", @style = "max-width:100px;" })
        </td>
    </tr>
</table>

    <br />
    <div class="col-sm-10">
        &nbsp;&nbsp;<button type="submit" class="green_button"> Consultar</button>
    </div>
    <br />

}

<br />
@Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home")


@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });

        function radioCheck() {
            document.getElementById('cnpjTxt').value = "";
            document.getElementById('cpfTxt').value = "";
            if (document.getElementById('cpfCheck').checked) {
                document.getElementById('cpfTxt').style.display = 'block';
            }
            else {
                document.getElementById('cpfTxt').style.display = 'none';
            }
            if (document.getElementById('cnpjCheck').checked) {
                document.getElementById('cnpjTxt').style.display = 'block';
            }
            else {
                document.getElementById('cnpjTxt').style.display = 'none';
            }
        }

        function ValidateForm() {
            ClearError();
            var _cod = document.getElementById('codigo').value;
            var _cpf = document.getElementById('cpfTxt').value;
            var _cnpj = document.getElementById('cnpjTxt').value;
            var _captcha = document.getElementById('captchaTxt').value;

            if (_cod == "" || parseInt(_cod) == 0) {
                document.getElementById('errorLabel').innerHTML = "Digite a inscrição municipal";
                return false;
            }
            else {
                if (parseInt(_cod) > 0 && _cpf == "" && _cnpj == "") {
                    document.getElementById('errorLabel').innerHTML = "Digite o Cpf ou o CNPJ!";
                    return false;
                } else {
                    if (_captcha == "") {
                        document.getElementById('errorLabel').innerHTML = "Digite o código de validação!";
                        return false;
                    } else {
                        return true;
                    }
                }
            }
        }

        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }


    </script>
}
