@model GTI_Mvc.ViewModels.CertidaoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "2ª via da CIP";
}


<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="center container" style="width:400px">
    @using (Html.BeginForm("Carne_Cip", "Imovel", FormMethod.Post, new { @id = "MainForm" })) {
        <div class="card ">
            <div class="card-header">Emissão de 2ª via da CIP</div>
            <div class="card-body">
                <table width="450px">
                    <tr style="height:40px">
                        <td style="width:150px"><label style="font-weight:normal">Código do imóvel:</label></td>
                        <td style="width:300px">@Html.TextBoxFor(m => m.Inscricao, new { @id = "codigo", @class = "textBoxBlue", @style = "max-width:100px", @onKeyPress = "return formata(this, '§§§§§§', event)" })</td>
                    </tr>
                    <tr style="height:40px">
                        <td style="width:150px">
                            CPF:&nbsp; <input type="radio" required asp-for="CpfCnpjLabel" id="cpfCheck" value="cpf" name="doc" checked="checked" onclick="radioCheck()" />
                            &nbsp;CNPJ:&nbsp;  <input type="radio" required asp-for="CpfCnpjLabel" id="cnpjCheck" value="cnpj" name="doc" onclick="radioCheck()" />
                        </td>
                        <td style="width:300px">
                            @Html.TextBoxFor(m => m.CpfValue, new { @id = "cpfTxt", @class = "textBoxBlue", @style = "max-width:200px", @onKeyPress = "return formata(this, '§§§.§§§.§§§-§§', event)", @onchange = "ClearError()", @placeholder = "Digite o nº do CPF" })
                            @Html.TextBoxFor(m => m.CnpjValue, new { @id = "cnpjTxt", @class = "textBoxBlue", @style = "max-width:200px;display:none", @onKeyPress = "return formata(this, '§§.§§§.§§§/§§§§-§§', event)", @onchange = "ClearError()", @placeholder = "Digite o nº do CNPJ" })
                        </td>
                    </tr>

                    @*<tr style="height:40px">
                <td style="width:150px" valign="middle">
                    <img id="img-captcha" src="~/Empresa/GetCaptcha" />
                </td>
                <td style="width:150px" valign="middle">
                    @Html.TextBoxFor(m => m.CaptchaCode, new { @id = "captchaTxt", @class = "textBoxBlue", @maxlength = "6", @style = "max-width:100px;" })
                </td>
            </tr>*@
                </table>
                <br />
                <div class="g-recaptcha" data-sitekey="6LfRjG0aAAAAAOEd4ksnWZYw3oX4cUsimIy7yOqD"></div>
                <br />
                <button type="submit" class="btn btn-primary"> Consultar</button>
            </div>
            <label class="errorlabel" id="errorLabel">@Model.ErrorMessage</label>
            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>
        </div>


    }


</div>











@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });

        function radioCheck() {
            document.getElementById('cnpjTxt').value = "";
            document.getElementById('cpfTxt').value = "";
            if (document.getElementById('cpfCheck').checked) {
                document.getElementById('cpfTxt').style.display = 'block';
            }
            else {
                document.getElementById('cpfTxt').style.display = 'none';
            }
            if (document.getElementById('cnpjCheck').checked) {
                document.getElementById('cnpjTxt').style.display = 'block';
            }
            else {
                document.getElementById('cnpjTxt').style.display = 'none';
            }
        }

        function ValidateForm() {
            ClearError();
            var _cod = document.getElementById('codigo').value;
            var _cpf = document.getElementById('cpfTxt').value;
            var _cnpj = document.getElementById('cnpjTxt').value;

            if (_cod == "" || parseInt(_cod) == 0) {
                document.getElementById('errorLabel').innerHTML = "Digite a inscrição municipal";
                return false;
            }
            else {
                if (parseInt(_cod) > 0 && _cpf == "" && _cnpj == "") {
                    document.getElementById('errorLabel').innerHTML = "Digite o Cpf ou o CNPJ!";
                    return false;
                } 
            }
            return true;
        }

        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }


    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
