@model GTI_Mvc.ViewModels.ImovelDetailsViewModel

@{
    ViewBag.Title = "Dados_Imovel";
}

<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
</style>

@{var res = @ViewBag.Result;}
<div class="center container" style="width:400px">
    @using(Html.BeginForm("Dados_Imovel","Imovel",FormMethod.Post,new { @id = "MainForm" })) {
        @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-header">Dados de um imóvel</div>
            <div class="card-body">
                <table width="410px">
                    <tr style="height:30px">
                        <td style="width:130px"><label style="font-weight:normal;font-size:14px;padding-top:10px">Código do imóvel:</label></td>
                        <td style="width:280px">@Html.TextBoxFor(m => m.Inscricao,new { @id = "codigo",@style = "Width:80px;font-size:14px",@onKeyPress = "return formata(this, '§§§§§§', event)" })</td>
                    </tr>
                    <tr style="height:30px">
                        <td style="width:130px;font-size:14px">Cpf/Cnpj:</td>
                        <td style="width:280px">
                            @Html.TextBoxFor(m => m.CpfValue,new { @id = "cpfTxt",@name = "cpfTxt",@style = "Width:160px;font-size:14px" })
                        </td>
                    </tr>
                </table>

                <br />
                <div class="g-recaptcha" data-sitekey="6LfRjG0aAAAAAOEd4ksnWZYw3oX4cUsimIy7yOqD"></div>
                <br />

                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i>&nbsp; Consultar</button>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu principal","Login_gti","Home",null,new { @class = "actionlink" })
            </div>
        </div>


    }
</div>
<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>



@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });

            //Máscara Cpf/Cnpj
            $("#cpfTxt").keydown(function () {
                try {
                    $("#cpfTxt").unmask();
                } catch (e) { }
                var tamanho = $("#cpfTxt").val().length;
                if (tamanho < 11) {
                    $("#cpfTxt").mask("999.999.999-99");
                } else {
                    $("#cpfTxt").mask("99.999.999/9999-99");
                }
                var elem = this;
                setTimeout(function () {
                    elem.selectionStart = elem.selectionEnd = 10000;
                }, 0);
                var currentValue = $(this).val();
                $(this).val('');
                $(this).val(currentValue);
            });


            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }

            

        });

        function ValidateForm() {
            var _cod = document.getElementById('codigo').value;
            var _cpf = document.getElementById('cpfTxt').value;

            if (_cod == "" || parseInt(_cod) == 0) {
                document.getElementById('lblMsg').innerHTML = "Digite o código do imóvel";
                $('#msgBox1').dialog('open');
                return false;
            }
            else {
                if (parseInt(_cod) > 0 && _cpf == "") {
                    document.getElementById('lblMsg').innerHTML = "Digite o Cpf/Cnpj!";
                    $('#msgBox1').dialog('open');
                    return false;
                } else {
                    if (_cpf != "" && !valida_Cpf(_cpf)) {
                        if (!valida_Cnpj(_cpf)) {
                            document.getElementById('lblMsg').innerHTML = "Cpf/Cnpj inválido";
                            $('#msgBox1').dialog('open');
                            return false;
                        }
                    }
                }
            }
            return true;
        }

        function valida_Cpf(cpf) {
            cpf = cpf.split("").filter(n => (Number(n) || n == 0)).join("");
            var numeros, digitos, soma, i, resultado, digitos_iguais;
            digitos_iguais = 1;
            if (cpf.length < 11)
                return false;
            for (i = 0; i < cpf.length - 1; i++)
                if (cpf.charAt(i) != cpf.charAt(i + 1)) {
                    digitos_iguais = 0;
                    break;
                }
            if (!digitos_iguais) {
                numeros = cpf.substring(0, 9);
                digitos = cpf.substring(9);
                soma = 0;
                for (i = 10; i > 1; i--)
                    soma += numeros.charAt(10 - i) * i;
                resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                if (resultado != digitos.charAt(0))
                    return false;
                numeros = cpf.substring(0, 10);
                soma = 0;
                for (i = 11; i > 1; i--)
                    soma += numeros.charAt(11 - i) * i;
                resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                if (resultado != digitos.charAt(1))
                    return false;
                return true;
            }
            else
                return false;
        }

        function valida_Cnpj(cnpj) {

            cnpj = cnpj.replace(/[^\d]+/g, '');

            if (cnpj == '') return false;

            if (cnpj.length != 14)
                return false;

            // Elimina CNPJs invalidos conhecidos
            if (cnpj == "00000000000000" ||
                cnpj == "11111111111111" ||
                cnpj == "22222222222222" ||
                cnpj == "33333333333333" ||
                cnpj == "44444444444444" ||
                cnpj == "55555555555555" ||
                cnpj == "66666666666666" ||
                cnpj == "77777777777777" ||
                cnpj == "88888888888888" ||
                cnpj == "99999999999999")
                return false;

            // Valida DVs
            tamanho = cnpj.length - 2
            numeros = cnpj.substring(0, tamanho);
            digitos = cnpj.substring(tamanho);
            soma = 0;
            pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2)
                    pos = 9;
            }
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(0))
                return false;

            tamanho = tamanho + 1;
            numeros = cnpj.substring(0, tamanho);
            soma = 0;
            pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2)
                    pos = 9;
            }
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(1))
                return false;

            return true;

        }



    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}

