@model GTI_Mvc.ViewModels.ItbiViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ITBI Urbano";
}
<link href="~/Content/Baloon.css" rel="stylesheet" />
<style>
    .center {
        margin: auto;
        width: 730px;
        padding: 20px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .hidden {
        display: none;
    }

    .show {
        display: block;
    }
</style>

<div class="center">

    @using (Html.BeginForm("Itbi_urbano", "Imovel", FormMethod.Post, new { @id = "MainForm" })) {

        <div class="container" style="width:700px">
            <div class="panel panel-danger">
                <div class="panel-heading">Declaração de transações imobiliárias (Imóveis Urbanos) </div>
                <div class="panel-body">
                    <div style="padding-left:7px">
                        @if (@Model.Inscricao == null) {
                            <label style="font-weight:normal">Código do imóvel:&nbsp;&nbsp;</label>@Html.TextBoxFor(m => m.Codigo, new { @id = "codigo", @style = "max-width:100px", @onKeyPress = "return formata(this, '§§§§§', event)" })
                            <label>&nbsp;&nbsp;</label>
                            <button id="btnCodigoOk" type="submit" class="btn btn-primary" name="action" value="btnCodigoOK">Consultar</button>
                            <label style="font-weight:normal;font-size:14px;color:brown">&nbsp;&nbsp;(Encontra-se na capa do carnê de IPTU)&nbsp;&nbsp;</label><br />
                        } else {
                            <label style="font-weight:normal">Código do imóvel:&nbsp;&nbsp;</label>@Html.TextBoxFor(m => m.Codigo, new { @id = "codigo", @style = "max-width:100px", @onKeyPress = "return formata(this, '§§§§§', event)", @readonly = true })
                            <label>&nbsp;&nbsp;</label>
                            <button id="btnCodigoCancel" type="submit" class="btn btn-danger" onclick="return cancelarCodigo()" name="action" value="btnCodigoCancel" data-balloon-length="medium" aria-label="Ao cancelar, todos os dados inseridos neste lançamento de ITBI serão perdidos." data-balloon-pos="right">Cancelar</button>
                        }

                    </div>
                    @if (@Model.Inscricao != null) {
                        <div style="padding-left:7px">
                            <label style="font-weight:normal;padding-top:7px">Inscrição Cadastral:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue;padding-top:7px">@Html.TextBoxFor(m => m.Inscricao, new { @readonly = true, style = "width:200px;" })</label><br />
                            <label style="font-weight:normal;padding-top:7px">Natureza da transação:&nbsp;&nbsp;</label>
                            @Html.DropDownListFor(m => m.Natureza_Codigo, ViewBag.Lista_Natureza as SelectList, "(Selecione...)", new { @id = "NaturezaDropDown", style = "width:460px;height:25px", rows = 10 })<br />
                            <label style="font-weight:normal;text-decoration:underline;color:brown;padding-top:7px">Endereço do Imóvel:</label><br />
                            <label style="font-weight:normal;padding-top:7px">Cep:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.Cep, new { style = "width:80px;", @readonly = true })</label>
                            <label style="font-weight:normal;padding-left:10px">Logradouro:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.NomeLogradouro, new { style = "width:400px;", @readonly = true })</label><br />
                            <label style="font-weight:normal">Número:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.Numero, new { style = "width:90px;", @readonly = true })</label>
                            <label style="font-weight:normal;padding-left:10px">Complemento:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.Complemento, new { style = "width:350px;", @readonly = true })</label><br />
                            <label style="font-weight:normal">Quadra:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.QuadraOriginal, new { style = "width:100px;", @readonly = true })</label>
                            <label style="font-weight:normal;padding-left:10px">Lote:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.LoteOriginal, new { style = "width:140px;", @readonly = true })</label>
                            <label style="font-weight:normal;padding-left:10px">Bairro:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.NomeBairro, new { style = "width:200px;", @readonly = true })</label><br />
                        </div>
                    }
                </div>

                @if (@Model.Inscricao != null) {
                    <div class="panel-heading">Dados dos Compradores </div>
                    <div class="panel-body">
                        @if (@Model.Cpf_Cnpj != null && @Model.Cpf_Cnpj != "") {
                            <label style="font-weight:normal;">Cpf/Cnpj:&nbsp;&nbsp;</label>
                            @Html.TextBoxFor(m => m.Cpf_Cnpj, new { @id = "cpfcnpjc1Txt", @style = "max-width:200px", @onKeyPress = "return formata(this, '§§§§§§§§§§§§§§', event)", @readonly = true })
                        } else {
                            <label style="font-weight:normal;padding-left:7px">Digite o Cpf/Cnpj:&nbsp;&nbsp;</label>
                            @Html.TextBoxFor(m => m.Cpf_Cnpj, new { @id = "cpfcnpjc1Txt", @style = "max-width:200px", @onKeyPress = "return formata(this, '§§§§§§§§§§§§§§', event)" })
                        }

                        <span style="padding-left:10px">
                            @if (@Model.Cpf_Cnpj != null && @Model.Cpf_Cnpj != "") {
                                <button type="submit" class="btn btn-danger" name="action" value="btnCpfCompradorCancel">Trocar Comprador</button>
                            } else {
                                <button type="submit" class="btn btn-primary" name="action" value="btnCpfCompradorOK">Consultar</button>
                            }
                        </span><br />
                        @if (@Model.Cpf_Cnpj != null && @Model.Cpf_Cnpj != "") {
                            <label style="font-weight:normal;padding-top:9px">Nome:&nbsp;&nbsp;</label>
                            <label style="font-weight:normal;color:blue">
                                @Html.TextBoxFor(m => m.Comprador.Nome, new { style = "width:450px;", @readonly = true, @value = @Model.Comprador.Nome })
                            </label><br />
                            <label style="font-weight:normal;">Pesquisa de Cep:&nbsp;&nbsp;</label> <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Comprador.CepR, new { style = "width:80px;", @readonly = true })</label>
                            <button type="submit" class="btn btn-info" name="action" value="btnCpfCompradorOK">Pesquisar</button>
                            <label style="font-size:10px;padding-left:10px">&nbsp;Caso deseje, clique <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank">aqui</a> para consultar o Cep</label><br />
                            <label style="font-weight:normal;padding-top:10px">Logradouro:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Comprador.EnderecoR, new { style = "width:400px;", @readonly = true })</label>
                            <label style="font-weight:normal;padding-left:10px">Número:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Comprador.NumeroR, new { style = "width:60px;", @readonly = true })</label>

                            <table style="font-size:14px">
                                <tr style="height:30px">
                                    <td>
                                        <label style="font-weight:normal;">Complemento:&nbsp;&nbsp;</label>
                                    </td>
                                    <td>
                                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Comprador.ComplementoR, new { style = "width:230px;height:25px", @readonly = true })</label>
                                        
                                    </td>
                                    <td>
                                        <label style="font-weight:normal">&nbsp;&nbsp;Bairro:&nbsp;&nbsp;</label>
                                    </td>
                                    <td>
                                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Comprador.NomeBairroR, new { style = "width:230px;height:25px", @readonly = true })</label>
                                    </td>
                                </tr>
                                <tr style="height:30px">
                                    <td>
                                        <label style="font-weight:normal">Cidade:&nbsp;&nbsp;</label>
                                    </td>
                                    <td>
                                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Comprador.NomeCidadeR, new { style = "width:230px;height:25px", @readonly = true })</label>
                                        
                                    </td>
                                    <td>
                                        <label style="font-weight:normal;padding-left:10px">UF:&nbsp;&nbsp;</label>
                                    </td>
                                    <td>
                                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Comprador.UfR, new { style = "width:230px;height:25px", @readonly = true })</label>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                }

                <div class="form-group row">
                    <label style="font-weight:normal;color:red;padding-left:28px" id="errorLabel">@ViewBag.Error</label>
                </div>
            </div>

        </div>



        <div style="padding-left:15px">@Html.ActionLink("Retornar ao menu de opções", "Itbi_menu", "Imovel", null, new { @class = "actionlink" })</div>
    }


    <!-- Modal Endereço -->
    <div class="modal fade" id="EnderecoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Endereço do Comprador</h4>
                </div>
                <div class="modal-body">
                    <label style="font-weight:normal;padding-left:7px">Digite o Cep:&nbsp;&nbsp;</label>
                    @Html.TextBoxFor(m => m.Endereco.Cep, new { @id = "Endereco_Cep", @style = "max-width:100px", @onKeyPress = "return formata(this, '§§§§§-§§§', event)" })
                    <label>&nbsp;&nbsp;</label>
                    <button id="btnCepOk" type="button" class="btn btn-primary" name="action" value="btnCodigoOK">Consultar</button>
                    <label style="font-size:10px;padding-left:10px">&nbsp;Caso deseje, clique <a href="mailto:gti@jaboticabal.sp.gov.br">aqui</a> para consultar o Cep</label><br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Gravar</button>
                </div>
            </div>
        </div>
    </div>

</div>


@section scripts{


    <script type="text/javascript">
        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });

        function cancelarCodigo() {
            if (confirm('Deseja cancelar este ITBI?')) {
                return true;
            } else {
                return false;
            }
        }

        function EditarEndereco() {
            $("#EnderecoModal").modal('show');
        }


        function ValidateForm() {
            var _cod = document.getElementById('codigo').value;

            if (_cod == null || _cod == "" || parseInt(_cod) == 0) {
                document.getElementById('errorLabel').innerHTML = "Digite o código do imóvel";
                return false;
            }

            return true;
        }

    </script>
}
