@model GTI_Mvc.ViewModels.ItbiViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ITBI Urbano";
}

<link href="~/Content/Baloon.css" rel="stylesheet" />
<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        /*border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);*/
        background-color: white;
        font-size: 14px;
        /*box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);*/
    }

    .center {
        margin: auto;
        width: 730px;
        /*border: 1px solid rgba(0,0,0,0.24);*/
        padding: 20px;
        /*box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;*/
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>

<div class="center">

    @using (Html.BeginForm("Itbi_urbano", "Imovel", FormMethod.Post, new { @id = "MainForm" })) {

        <div class="container" style="width:700px">
            <div class="panel panel-danger">
                <div class="panel-heading">Declaração de transações imobiliárias (Imóveis Urbanos) </div>
                <div class="panel-body">
                    <div style="padding-left:7px">
                        <label style="font-weight:normal">Código do imóvel:&nbsp;&nbsp;</label>@Html.TextBoxFor(m => m.Codigo, new { @id = "codigo", @style = "max-width:100px", @onKeyPress = "return formata(this, '§§§§§', event)" })
                        <label>&nbsp;&nbsp;</label>
                        <button type="submit" class="btn btn-primary"> Consultar</button>
                        <label style="font-weight:normal;font-size:14px;color:brown">&nbsp;&nbsp;(Encontra-se na capa do carnê de IPTU)&nbsp;&nbsp;</label><br />
                    </div>                    
                    @if (@Model.Inscricao != null) {
                        
                <div style="padding-left:7px">
                    <label style="font-weight:normal;padding-top:7px">Inscrição Cadastral:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue;padding-top:7px">@Html.TextBoxFor(m => m.Inscricao, new { @Value = @Model.Inscricao, @readonly = true, style = "width:200px;" })</label><br />
                    <label style="font-weight:normal;text-decoration:underline;color:brown;padding-top:7px">Endereço do Imóvel:</label><br />
                    <label style="font-weight:normal;padding-top:7px">Cep:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.Cep, new { style = "width:80px;", @readonly = true })</label>
                    <label style="font-weight:normal;padding-left:10px">Logradouro:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.NomeLogradouro, new { style = "width:400px;", @readonly = true })</label><br />
                    <label style="font-weight:normal">Número:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.Numero, new { style = "width:90px;", @readonly = true })</label>
                    <label style="font-weight:normal;padding-left:10px">Complemento:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.Complemento, new { style = "width:350px;", @readonly = true })</label><br />
                    <label style="font-weight:normal">Quadra:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.QuadraOriginal, new { style = "width:100px;", @readonly = true })</label>
                    <label style="font-weight:normal;padding-left:10px">Lote:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.LoteOriginal, new { style = "width:140px;", @readonly = true })</label>
                    <label style="font-weight:normal;padding-left:10px">Bairro:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">
                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.NomeBairro, new { style = "width:200px;", @readonly = true })</label><br />
                    </label>
                </div>
                    }
                </div>
            </div>
        </div>


        <br /><br />
              <div style="padding-left:15px">@Html.ActionLink("Retornar ao menu de opções", "Itbi_menu", "Imovel", null, new { @class = "actionlink" })</div>
    }

    @if (@Model.Inscricao != null && @Model.Codigo != null) {
        <script type="text/javascript">window.onload = function () { alert("Imóvel não cadastrado"); };</script>
    }

</div>

