@model GTI_Mvc.ViewModels.ItbiViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Certidão de não incidência de ITBI";
}

<style>

    .center {
        margin: auto;
        width: 780px;
        border: 1px solid rgba(0,0,0,0.24);
        padding: 20px;
        box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>

<div class="center">

    @using (Html.BeginForm("Itbi_isencao", "Imovel", FormMethod.Post, new { @id = "MainForm" })) {

    <div class="container" style="width:700px">
        <div class="panel panel-danger">
            <div class="panel-heading">Certidão de não incidência de ITBI (Imóvel Urbano) </div>
            <div class="panel-body">
                <div style="padding-left:7px">

                    <table style="font-size:13px;width:640px">
                        <tr style="height:30px">
                            <td style="width:154px">
                                <label style="font-weight:normal">Código do imóvel:</label>
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.Codigo, new { @id = "codigo", @style = "width:100px;height:25px;color:blue", @readonly = true })
                            </td>
                        </tr>
                    </table>
                </div>
                @if (@Model.Inscricao != null) {
                    <div style="padding-left:7px">

                        <table style="font-size:13px;width:640px">

                            @Html.HiddenFor(m => m.Dados_Imovel.Proprietario_Nome)
                            @Html.HiddenFor(m => m.Dados_Imovel.Area_Terreno)
                            <tr style="height:30px">
                                <td style="width:154px">
                                    <label style="font-weight:normal">Inscrição cadastral:</label>
                                </td>
                                <td>
                                    <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Inscricao, new { @readonly = true, style = "width:200px;height:25px", @Value = Model.Inscricao })</label>
                                </td>
                            </tr>
                        </table>



                        <label style="font-weight:normal;text-decoration:underline;color:brown;padding-top:7px">Endereço do Imóvel:</label><br />

                        <table style="font-size:13px;width:640px">
                            <tr style="height:30px">
                                <td style="width:62px">
                                    <label style="font-weight:normal">Cep:</label>
                                </td>
                                <td>
                                    <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.Cep, new { style = "width:80px;height:25px", @readonly = true })</label>
                                    <label style="font-weight:normal;padding-left:10px">Logradouro:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.NomeLogradouro, new { style = "width:385px;height:25px", @readonly = true })</label>
                                </td>
                            </tr>
                            <tr style="height:30px">
                                <td>
                                    <label style="font-weight:normal">Número:</label>
                                </td>
                                <td>
                                    <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.Numero, new { style = "width:80px;height:25px", @readonly = true })</label>
                                    <label style="font-weight:normal;padding-left:10px">Complemento:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.Complemento, new { style = "width:369px;height:25px", @readonly = true })</label>
                                </td>
                            </tr>
                            <tr style="height:30px">
                                <td>
                                    <label style="font-weight:normal">Quadra:</label>
                                </td>
                                <td>
                                    <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.QuadraOriginal, new { style = "width:110px;height:25px", @readonly = true })</label>
                                    <label style="font-weight:normal;padding-left:10px">Lote:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.LoteOriginal, new { style = "width:110px;height:25px", @readonly = true })</label>
                                    <label style="font-weight:normal;padding-left:10px">Bairro:&nbsp;&nbsp;</label><label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Dados_Imovel.NomeBairro, new { style = "width:226px;height:25px", @readonly = true })</label>
                                </td>
                            </tr>
                        </table>


                    </div>
                }
            </div>
        </div>
    </div>
















                }

                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>


            @section scripts{

                <script type="text/javascript">

                    $(document).ready(function () {

                        $(".maskValor").mask("99999")
                    });



                </script>
            }


