@model List<GTI_Mvc.ViewModels.Itbi_Forum>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Análise de ITBI's";
}

<style>

    .center {
        margin: auto;
        width: 780px;
        border: 1px solid rgba(0,0,0,0.24);
        padding: 20px;
        box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>

<div class="center">

    <br />
    <div class="panel panel-success">
        <div class="panel-heading">
            Processo de análise do ITBI nº:&nbsp;<span style="font-weight:bold">@Model[0].Ano_Numero</span> &nbsp;&nbsp;Tipo de ITBI:&nbsp;<span style="font-weight:bold">@Model[0].Tipo_Itbi</span><br />
            Declarado em:&nbsp;<span style="font-weight:bold">@Model[0].Data_Itbi</span> &nbsp;&nbsp;Declarado por:&nbsp;<span style="font-weight:bold">@Model[0].User_Name</span><br />
            Email:&nbsp; <span style="font-weight:bold">@Model[0].User_Email</span> &nbsp;&nbsp;Telefone:&nbsp; <span style="font-weight:bold">@Model[0].User_Fone</span><br />
            Nome do Comprador:&nbsp;<span style="font-weight:bold">@Model[0].Comprador_Nome</span>
        </div>
        <div class="panel-body"></div>
        @using (Html.BeginForm("Itbi_forum", "Imovel", FormMethod.Post, new { @id = "MainForm" })) {
            if (Model.Count > 0 && Model[0].Mensagem!=null) {
                foreach (var item in Model) {
                    <div class="panel panel-info">
                        <div class="panel-heading">Mensagem enviada em: @item.Datahora por @item.User_Name </div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td style="font-size:13px;color:dodgerblue">
                                        @item.Mensagem
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                }
            }
            @Html.HiddenFor(m => m[0].Mensagem, new { @id = "mensagem_tmp" })
            @Html.HiddenFor(m => m[0].Action, new { @id = "action_tmp" })
            @Html.HiddenFor(m => m[0].Guid)

        }
        <div class="panel-footer">
            <div style="text-align:center">
                <button type="button" class="btn btn-primary" onclick="EditarMsg()">Escrever nova mensagem</button>&nbsp;&nbsp;
            </div>
        </div>

    </div>
    @Html.ActionLink("Voltar a consulta de ITBI", "Itbi_query", "Imovel", null, new { @class = "actionlink" })<br />
    @Html.ActionLink("Preencher outro ITBI", "Itbi_Menu", "Imovel", null, new { @class = "actionlink" })<br />
    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
</div>

<div class="modal fade" id="MsgModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Digite o texto da mensagem</h4>
            </div>
            <div class="modal-body">

                <table>
                    <tr style="height:30px">
                        <td>
                            <textarea id="MsgTxt" name="MsgTxt" cols="68" rows="5" maxlength="5000"></textarea>
                        </td>
                    </tr>
                </table>
                <br />

                <label style="font-weight:normal;color:red;padding-left:7px" id="errorMsg">@ViewBag.Error</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnMsgOk" >Gravar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        function EditarMsg() {
            $('#MsgModal').modal();
        }

         $(document).ready(function () {
           
            $('#btnMsgOk').click(function () {
                var Msgback = $("#MsgModal #MsgTxt").val();
                if (Msgback.trim() == "" || Msgback == null) {
                    document.getElementById('errorMsg').innerHTML = "Digite a mensagem";
                } else {
                    $("#MsgModal #MsgTxt").val("");
                    document.getElementById('mensagem_tmp').value = Msgback;
                    document.getElementById('action_tmp').value = "btnOkMsg";
                    $("#MainForm").submit();
                }
            });
        });

    </script>
}