@model GTI_Mvc.ViewModels.CertidaoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alvará de Funcionamento";
}

<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }
    .center {
        margin: auto;
        width: 480px;
        border: 1px solid rgba(0,0,0,0.24);
        padding: 20px;
        box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;
    }
</style>

<div class="center">
    <label style="color: brown;font-size: 16px;font-style: italic">&nbsp;Renovação de Alvará de Funcionamento</label>
    <br />

    <form asp-controller="Empresa" enctype="multipart/form-data" method="post" onsubmit="return ValidateForm()" asp-action="Details" style="margin-left:18px">
        <table width="500px">
            <tr>
                <td style="width:150px">@Html.LabelFor(m => m.Inscricao, new { @style = "font-weight:normal" })</td>
                <td style="width:300px">@Html.TextBoxFor(m => m.Inscricao, new { @id = "codigo", @class = "textBoxBlue", @style = "max-width:100px", @onKeyPress = "return formata(this, '§§§§§§', event)", @onchange = "ClearError()" })</td>
            </tr>
            <tr style="height:40px">
                <td style="width:150px">
                    CPF:&nbsp; <input type="radio" required asp-for="CpfCnpjLabel" id="cpfCheck" value="cpf" name="doc" checked="checked" onclick="radioCheck()" />
                    &nbsp;CNPJ:&nbsp;  <input type="radio" required asp-for="CpfCnpjLabel" id="cnpjCheck" value="cnpj" name="doc" onclick="radioCheck()" />
                </td>
                <td style="width:300px">
                    @Html.TextBoxFor(m => m.CpfValue, new { @id = "cpfTxt", @class = "textBoxBlue", @style = "max-width:200px", @onKeyPress = "return formata(this, '§§§.§§§.§§§-§§', event)", @onchange = "ClearError()", @placeholder = "Digite o nº do CPF" })
                    @Html.TextBoxFor(m => m.CnpjValue, new { @id = "cnpjTxt", @class = "textBoxBlue", @style = "max-width:200px;display:none", @onKeyPress = "return formata(this, '§§.§§§.§§§/§§§§-§§', event)", @onchange = "ClearError()", @placeholder = "Digite o nº do CNPJ" })
                </td>
            </tr>
            <tr>
                <td style="width:150px" valign="middle">
                    <img id="img-captcha" src="~/Empresa/GetCaptcha" />
                </td>
                <td style="width:150px" valign="middle">
                    @Html.TextBoxFor(m => m.CaptchaCode, new { @id = "captchaTxt", @class = "textBoxBlue", @maxlength = "6", @style = "max-width:110px;" })
                </td>
            </tr>
        </table>

        <br />
        <div>
            <button type="submit" class="btn btn-primary"> Consultar</button>
        </div>
        <br />
        <br />

        <br />
        <div style="border:1px solid black;width:400px;margin-left:1px">
            <br />
            <label style="color:brown;font-size:16px;font-style:italic;margin-left:10px;font-weight:normal;text-decoration:underline">Autenticar o Alvará</label>
            <br />
            <div class="form-group row align-items-lg-baseline">
                <div class="input-group">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chave</label>
                    &nbsp;&nbsp;@Html.TextBoxFor(m => m.Chave, new { @id = "chave", @class = "textBoxBlue", @style = "max-width:190px;" })

                    &nbsp;<button class="green_button" type="submit" title="Validar a certidão." formaction="Validate_AF" formmethod="post">Validar</button>
                </div>
            </div>
        </div>

    </form>


    @if (Model != null) {
        <div class="form-group row">
            <label style="font-weight:normal;color:red" id="errorLabel">@Model.ErrorMessage</label>
        </div>
    }

    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home")
</div>
@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });

        function radioCheck() {
            document.getElementById('cnpjTxt').value = "";
            document.getElementById('cpfTxt').value = "";
            if (document.getElementById('cpfCheck').checked) {
                document.getElementById('cpfTxt').style.display = 'block';
            }
            else {
                document.getElementById('cpfTxt').style.display = 'none';
            }
            if (document.getElementById('cnpjCheck').checked) {
                document.getElementById('cnpjTxt').style.display = 'block';
            }
            else {
                document.getElementById('cnpjTxt').style.display = 'none';
            }
        }

        function ValidateForm() {
            ClearError();
            var _cpf = document.getElementById('cpfTxt').value;
            var _cnpj = document.getElementById('cnpjTxt').value;
            var _captcha = document.getElementById('captchaTxt').value;
            var _chave = document.getElementById('chave').value;
            var _inscricao = document.getElementById('Inscricao').value;

            var _buscar_codigos = false;
            var _consultar = false;
            var _autenticar = false;

            if ((_cpf != "" || _cnpj != "") && _inscricao == "")
                _buscar_codigos = true;

            if ((_cpf != "" || _cnpj != "") && _inscricao != "")
                _consultar = true;

            if (_chave != "")
                _autenticar = true;

            if (_buscar_codigos == false && _consultar == false && _autenticar == false) {
                document.getElementById('errorLabel').innerHTML = "Informe o nº de CPF ou CNPJ.";
                return false;
            }

            if (_consultar == true && _captcha == "") {
                document.getElementById('errorLabel').innerHTML = "Digite o código de validação.";
                return false;
            }

            if (_autenticar == true && _chave == "") {
                document.getElementById('errorLabel').innerHTML = "Digite a chave de autenticação.";
                return false;
            }

            if (_chave.length > 8) {
                var _sufixo = _chave.substring(_chave.length - 3, _chave.length);
                if (_sufixo != "-AF" || _sufixo != "-AN") {
                    document.getElementById('errorLabel').innerHTML = "Chave de autenticação inválida!";
                    return false;
                }
            } else {
                if (_chave.length != "") {
                    document.getElementById('errorLabel').innerHTML = "Chave de autenticação inválida!";
                    return false;
                }
            }
            return true;
        }

        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }



    </script>
}

