@model GTI_Mvc.ViewModels.AlvaraViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alvará de Funcionamento";
}

<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="center container" style="width:450px">
    @using (Html.BeginForm("Alvara", "Empresa", FormMethod.Post, new { @id = "MainForm" })) {
        <div class="card">
            <div class="card-header">Alvará de funcionamento</div>
            <div class="card-body">

                <table width="500px">
                    <tr>
                        <td style="width:150px">
                            <label style="font-weight:normal;padding-top:7px;font-size:14px">Inscrição Municipal: </label>
                        </td>
                        @if (Model.Codigo > 0) {
                            <td style="width:300px">@Html.TextBoxFor(m => m.Codigo, new { @id = "codigo", @style = "max-width:100px;height:23px;font-size:14px", @onKeyPress = "return formata(this, '§§§§§§', event)", @onchange = "ClearError()" })</td>
                        } else {
                            <td style="width:300px">@Html.TextBoxFor(m => m.Codigo, new { @id = "codigo", @style = "max-width:100px;height:23px;font-size:14px", @onKeyPress = "return formata(this, '§§§§§§', event)", @onchange = "ClearError()", @Value = "" })</td>
                        }
                    </tr>
                    <tr>
                        <td style="width:150px">
                            <label style="font-weight:normal;padding-top:7px;font-size:14px">Nº Processo:</label>
                        </td>
                        <td style="width:300px">
                            @Html.TextBoxFor(m => m.Numero_Processo, new { @id = "txtProcesso", style = "width:100px;height:23px;font-size:14px" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="font-weight:normal;padding-top:7px;font-size:14px">Data Vencimento: </label>
                        </td>
                        <td style="width:200px;font-size:13px">
                            @if (Model.Data_Vencimento == null || Model.Data_Vencimento==DateTime.MinValue) {
                                @Html.TextBoxFor(x => x.Data_Vencimento, "{0:dd/MM/yyyy}", new { @id = "DataVencto", @style = "width:100px;height:23px", @onKeyPress = "return formata(this, '§§/§§/§§§§', event)", @Value = "" })
                            } else {
                                @Html.TextBoxFor(x => x.Data_Vencimento, "{0:dd/MM/yyyy}", new { @id = "DataVencto", @style = "width:100px;height:23px", @onKeyPress = "return formata(this, '§§/§§/§§§§', event)"})
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="width:150px">
                            <label style="font-weight:normal;padding-top:7px;font-size:14px">Protocolo Redesim:</label>
                        </td>
                        <td style="width:300px">
                            @Html.TextBoxFor(m => m.Protocolo_Vre, new { @id = "txtProcesso", style = "width:200px;height:23px;font-size:14px" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="font-weight:normal;padding-top:7px;font-size:14px">Data Validade: </label>
                        </td>
                        <td style="width:200px;font-size:13px">
                            @if (Model.Data_Vre == null) {
                                @Html.TextBoxFor(x => x.Data_Vre, "{0:dd/MM/yyyy}", new { @id = "DataVencto", @style = "width:100px;height:23px", @onKeyPress = "return formata(this, '§§/§§/§§§§', event)", @Value = "" })
                            } else {
                                @Html.TextBoxFor(x => x.Data_Vre, "{0:dd/MM/yyyy}", new { @id = "DataVencto", @style = "width:100px;height:23px", @onKeyPress = "return formata(this, '§§/§§/§§§§', event)"})
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="font-weight:normal;padding-top:7px;font-size:14px">Alvará Provisório: </label>
                        </td>
                        <td style="width:200px;font-size:13px">
                            @Html.EditorFor(m=>m.IsProvisorio)
                        </td>
                    </tr>
                </table>
                <br />
                <button type="submit" class="btn btn-primary"> Imprimir</button>
            </div>
            <label id="errorLabel" class="errorlabel"> @ViewBag.Result</label>
            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>
        </div>
    }
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
            

        });

        function ValidateForm() {
            document.getElementById('errorLabel').innerHTML = "";
 
            var _codigo = document.getElementById('codigo').value;

            if (_codigo == "" || parseInt(_codigo) == 0) {
                document.getElementById('errorLabel').innerHTML = "Digite a inscrição da empresa.";
                return false;
            }

            var _proc = document.getElementById('txtProcesso').value;
            var _error = Valida_Numero_Processo(_proc);
            if (_error != "") {
                document.getElementById('errorLabel').innerHTML = _error;
                return false;
            }
            var _datavencto = document.getElementById('DataVencto').value;
            if (!Valida_Data(_datavencto)) {
                document.getElementById('errorLabel').innerHTML = "Data de vencimento inválida";
                return false;
            }

            return true;
        }

        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }

    </script>
}

