@model GTI_Mvc.ViewModels.CertidaoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Certidão de Inscrição";
}

<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
</style>

@{var res = @ViewBag.Result;}
<div class="center container" style="width:450px">
    @using(Html.BeginForm("Certidao_Inscricao","Empresa",FormMethod.Post,new { @id = "MainForm" })) {
        @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-header">Certidão de Inscrição</div>
            <div class="card-body">
                <table width="500px">
                    <tr style="height:40px">
                        <td style="width:150px">
                            CPF:&nbsp; <input type="radio" required asp-for="CpfCnpjLabel" id="cpfCheck" value="cpf" name="doc" checked="checked" onclick="radioCheck()" />
                            &nbsp;CNPJ:&nbsp;  <input type="radio" required asp-for="CpfCnpjLabel" id="cnpjCheck" value="cnpj" name="doc" onclick="radioCheck()" />
                        </td>
                        <td style="width:300px">
                            @Html.TextBoxFor(m => m.CpfValue,new { @id = "cpfTxt",@class = "textBoxBlue",@style = "max-width:200px",@onKeyPress = "return formata(this, '§§§.§§§.§§§-§§', event)",@placeholder = "Digite o nº do CPF" })
                            @Html.TextBoxFor(m => m.CnpjValue,new { @id = "cnpjTxt",@class = "textBoxBlue",@style = "max-width:200px;display:none",@onKeyPress = "return formata(this, '§§.§§§.§§§/§§§§-§§', event)",@placeholder = "Digite o nº do CNPJ" })
                        </td>
                    </tr>
                    <tr style="height:40px">
                        <td>
                            Códigos disponíveis
                            @{ List<int> _lista_codigos = new List<int>();
                                if(ViewBag.Lista_Codigo != null) {
                                    _lista_codigos = ViewBag.Lista_Codigo;
                                }
                            }
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.Inscricao,new SelectList(_lista_codigos),new { @id = "inscricao",@class = "textBoxBlue",style = "width:100px;height:25px" })  <input type="submit" value="Verificar" title="Retorna as incrições municipais atreladas ao CPF/CNPJ informado." style="margin-left:1px" class="btn btn-primary" formaction="Retorna_Codigos" />
                        </td>
                    </tr>
                </table>
                <br />
                <div class="g-recaptcha" data-sitekey="6LfRjG0aAAAAAOEd4ksnWZYw3oX4cUsimIy7yOqD"></div>
                <br />
                <div class="form-group" style="margin-left:1px">
                    @Html.CheckBoxFor(m => m.Extrato)
                    <label style="font-size:14px;font-weight:normal;padding-left:2px;color:brown">Exibir o resumo dos pagamentos na certidão</label>
                </div>

                <button type="submit" title="Imprimir a certidão" class="btn btn-primary" formaction="Certidao_Inscricao" formmethod="post"><i class="fas fa-search"></i>&nbsp; Consultar</button>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu principal","Login_gti","Home",null,new { @class = "actionlink" })
            </div>
        </div>
    }
</div>
<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>




@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });

            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }

        });

        function radioCheck() {
            document.getElementById('cnpjTxt').value = "";
            document.getElementById('cpfTxt').value = "";
            if (document.getElementById('cpfCheck').checked) {
                document.getElementById('cpfTxt').style.display = 'block';
            }
            else {
                document.getElementById('cpfTxt').style.display = 'none';
            }
            if (document.getElementById('cnpjCheck').checked) {
                document.getElementById('cnpjTxt').style.display = 'block';
            }
            else {
                document.getElementById('cnpjTxt').style.display = 'none';
            }
        }

        function ValidateForm() {
            var _cpf = document.getElementById('cpfTxt').value;
            var _cnpj = document.getElementById('cnpjTxt').value;
            var _inscricao = document.getElementById('inscricao').value;
            var _buscar_codigos = false;
            var _consultar = false;
            var _autenticar = false;

            if ((_cpf != "" || _cnpj != "") && _inscricao == "")
                _buscar_codigos = true;

            if ((_cpf != "" || _cnpj != "") && _inscricao != "")
                _consultar = true;

            if (_buscar_codigos == false && _consultar == false && _autenticar == false) {
                document.getElementById('lblMsg').innerHTML = "Informe o nº de CPF ou CNPJ.";
                $('#msgBox1').dialog('open');
                return false;
            }
            return true;
        }


    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
