@model GTI_Mvc.ViewModels.ParcelamentoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Parcelamento de débitos";
}


<style>
    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<h5 style="text-align:center">Parcelamento de Débitos</h5>

<div class="center container" style="width:840px">

    @using (Html.BeginForm("Parc_cid", "Parcelamento", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {

        @Html.HiddenFor(m => m.Guid)
        @Html.HiddenFor(m => m.Requerente.TipoEnd)
        @Html.HiddenFor(m => m.Requerente.Bairro_Codigo, new { @Value = Model.Requerente.Bairro_Codigo })
        @Html.HiddenFor(m => m.Requerente.Cidade_Codigo, new { @Value = Model.Requerente.Cidade_Codigo })
        @Html.HiddenFor(m => m.Requerente.Logradouro_Codigo,new{@Value=Model.Requerente.Logradouro_Codigo })
    <div class="card">
        <div class="card-header">Atualização de Dados Cadastrais </div>
        <div class="card-body">

            <table style="font-size:14px;width:640px">
                <tr style="height:30px">
                    <td style="width:103px">
                        <label style="font-weight:normal;">Nº Cpf/Cnpj:</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Requerente.Cpf_Cnpj, new { @id = "cpfcnpjTxt", @style = "max-width:200px;height:25px;color:blue", @readonly = true })
                    </td>
                </tr>
            </table>

            <div style="padding-top:5px">
                <table style="font-size:14px;width:640px">
                    <tr style="height:30px">
                        <td style="width:103px">
                            <label style="font-weight:normal">Nome:&nbsp;&nbsp;</label>
                        </td>
                        <td>
                            <label style="font-weight:normal;color:blue">
                                @Html.TextBoxFor(m => m.Requerente.Nome, new { style = "width:527px;height:25px;color:blue", @readonly = true })
                            </label>
                        </td>
                    </tr>
                </table>
            </div>

            <table style="font-size:14px;width:640px">
                <tr style="height:30px">
                    <td style="width:103px">
                        <label style="font-weight:normal;">Nº do Cep:</label>
                    </td>
                    <td>

                        <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Requerente.Cep, new { @class = "maskCep", @id = "txtCep", style = "width:90px;height:25px" })</label>
                        <button type="submit" class="btn btn-info" name="action" value="btnCep">Pesquisar</button>
                        <label style="font-size:10px;padding-left:10px">&nbsp;Caso deseje, clique <a href="https://buscacepinter.correios.com.br/app/endereco/index.php" target="_blank">aqui</a> para consultar o Cep</label><span style="color:red">&nbsp;*</span><br /><br />
                    </td>
                </tr>
            </table>

            <div style="padding-top:5px">
                <table style="font-size:14px;width:640px">
                    <tr style="height:30px">
                        <td style="width:103px">
                            <label style="font-weight:normal">Logradouro:</label>
                        </td>
                        <td>
                            <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Requerente.Logradouro_Nome, new {id="txtRua", style = "width:392px;height:25px;color:blue", @readonly = true, @Value = Model.Requerente.Logradouro_Nome })</label>
                            <label style="font-weight:normal;padding-left:10px">Número:&nbsp;&nbsp;</label><label style="font-weight:normal">
                                @Html.TextBoxFor(m => m.Requerente.Numero, new { style = "width:60px;height:25px", @onKeyPress = "return formata(this, '§§§§§', event)", @Value = Model.Requerente.Numero })
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
            <table style="font-size:14px;width:640px">
                <tr style="height:30px">
                    <td style="width:103px">
                        <label style="font-weight:normal;">Complemento:</label>
                    </td>
                    <td>
                        <label style="font-weight:normal">@Html.TextBoxFor(m => m.Requerente.Complemento, new { style = "width:230px;height:25px", @Value = Model.Requerente.Complemento })</label>

                    </td>
                    <td>
                        <label style="font-weight:normal">&nbsp;&nbsp;Bairro:&nbsp;&nbsp;</label>
                    </td>
                    <td>
                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Requerente.Bairro_Nome, new { style = "width:230px;height:25px;color:blue", @readonly = true, @Value = Model.Requerente.Bairro_Nome })</label>
                    </td>
                </tr>
                <tr style="height:30px">
                    <td>
                        <label style="font-weight:normal">Cidade:</label>
                    </td>
                    <td>
                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Requerente.Cidade_Nome, new { style = "width:230px;height:25px;color:blue", @readonly = true, @Value = Model.Requerente.Cidade_Nome })</label>

                    </td>
                    <td>
                        <label style="font-weight:normal;padding-left:10px">UF:&nbsp;&nbsp;</label>
                    </td>
                    <td>
                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Requerente.UF, new { style = "width:230px;height:25px;color:blue", @readonly = true, @Value = Model.Requerente.UF })</label>
                    </td>
                </tr>
                <tr style="height:30px">
                    <td>
                        <label style="font-weight:normal">Telefone:</label>
                    </td>
                    <td>
                        <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Requerente.Telefone, new { style = "width:230px;height:25px", @Value = Model.Requerente.Telefone })</label>

                    </td>
                    <td>
                        <label style="font-weight:normal;padding-left:10px">Email:</label>
                    </td>
                    <td>
                        <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Requerente.Email, new { style = "width:230px;height:25px", @Value = Model.Requerente.Email })</label>
                    </td>
                </tr>
            </table>
            <span style="color:forestgreen;font-size:12px">*Caso o cep não retorne os dados do endereço, retorne ao menu de opções e faça o cadastro do mesmo. Mais informações no manual do usuário.</span>
            <br />
            <br />
            <button type="button" class="btn btn-success" id="btnValida" name="action" value="btnValida" onclick="ValidateForm()">Gravar</button><span style="padding-left:10px"></span>
            <button type="button" class="btn btn-danger" name="action" value="btnVoltar" onclick="javascript:history.back()">Cancelar</button>
        </div>
        <label class="errorlabel" id="errorLabel">@ViewBag.Error</label>
        <div class="card-footer">
            @Html.ActionLink("Retornar ao menu de opções", "Parc_index", "Parcelamento", null, new { @class = "actionlink" })<br />
            @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
        </div>

    </div>


    }
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $(".maskCep").inputmask("99999-999");
            $("#tblResumo tr:odd").css({
                "background-color": "#E9FAFA"
            });

           

           

        });


        function ValidateForm() {

            var rua = $("#txtRua").val();
            if (rua.trim() == "" || rua == null) {
                document.getElementById('errorLabel').innerHTML = "Logradouro não selecionado";
                return false;
            } else {
                document.getElementById("MainForm").submit();
            }
           
            return true;
        }





    </script>
}



