@model GTI_Mvc.ViewModels.ParcelamentoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Parcelamento de débitos";
}


<style>
    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<h5 style="text-align:center">Parcelamento de Débitos</h5>

<div class="center container" style="width:850px">

    @using (Html.BeginForm("Parc_reqb", "Parcelamento", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {

        @Html.HiddenFor(m => m.Guid)
        <div class="card">
            <div class="card-header">Dados do Requerente</div>
            <div class="card-body">


                <table style="font-size:14px;width:640px">
                    <tr style="height:30px">
                        <td style="width:103px">
                            <label style="font-weight:normal;padding-top:7px">Nº Cpf/Cnpj:</label>
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Requerente.Cpf_Cnpj, new { @style = "max-width:200px;height:25px", @readonly = true })
                        </td>
                    </tr>

                </table>
                <div style="padding-top:5px">
                    <table style="font-size:14px;width:640px">
                        <tr style="height:30px">
                            <td style="width:103px">
                                <label style="font-weight:normal">Nome:&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <label style="font-weight:normal;color:blue">
                                    @Html.TextBoxFor(m => m.Requerente.Nome, new { style = "width:527px;height:25px", @readonly = true })
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>

                <table style="font-size:14px;width:640px">
                    <tr style="height:30px">
                        <td style="width:103px">
                            <label style="font-weight:normal">Logradouro:</label>
                        </td>
                        <td>
                            <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Requerente.Logradouro_Nome, new { style = "width:392px;height:25px", @readonly = true })</label>
                            <label style="font-weight:normal;padding-left:10px">Número:&nbsp;&nbsp;</label><label style="font-weight:normal">
                                @Html.TextBoxFor(m => m.Requerente.Numero, new { style = "width:60px;height:25px", @readonly = true })
                            </label>
                        </td>
                    </tr>
                </table>

                <table style="font-size:14px;width:640px">
                    <tr style="height:30px">
                        <td style="width:103px">
                            <label style="font-weight:normal;">Complemento:</label>
                        </td>
                        <td>
                            <label style="font-weight:normal">@Html.TextBoxFor(m => m.Requerente.Complemento, new { style = "width:230px;height:25px", @readonly = true })</label>
                        </td>
                        <td>
                            <label style="font-weight:normal">&nbsp;&nbsp;Bairro:&nbsp;&nbsp;</label>
                        </td>
                        <td>
                            <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Requerente.Bairro_Nome, new { style = "width:230px;height:25px", @readonly = true })</label>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td>
                            <label style="font-weight:normal">Cidade/UF:</label>
                        </td>
                        <td>
                            <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Requerente.Cidade_Nome, new { style = "width:230px;height:25px", @readonly = true })</label>

                        </td>
                        <td>
                            <label style="font-weight:normal;padding-left:10px">Cep:&nbsp;&nbsp;</label>
                        </td>
                        <td>
                            <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Requerente.Cep, new { style = "width:230px;height:25px", @readonly = true })</label>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td>
                            <label style="font-weight:normal">Telefone:</label>
                        </td>
                        <td>
                            <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Requerente.Telefone, new { style = "width:230px;height:25px", @readonly = true })</label>

                        </td>
                        <td>
                            <label style="font-weight:normal;padding-left:10px">Email:</label>
                        </td>
                        <td>
                            <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Requerente.Email, new { style = "width:230px;height:25px", @readonly = true })</label>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="card-header">Dados do contribuinte selecionado</div>
            <div class="card-body">

                <table style="font-size:14px;width:640px">
                    <tr style="height:30px">
                        <td style="width:103px">
                            <label style="font-weight:normal;padding-top:7px">Nº da Inscrição:</label>
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Contribuinte.Codigo, new { @style = "max-width:100px;height:25px", @readonly = true })
                        </td>
                        <td style="width:144px"></td>
                        <td style="width:98px">
                            <label style="font-weight:normal;padding-top:7px;text-align:right">Nº Cpf/Cnpj:</label>
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Contribuinte.Cpf_Cnpj, new { @style = "max-width:200px;height:25px", @readonly = true })
                        </td>
                    </tr>

                </table>
                <div style="padding-top:5px">
                    <table style="font-size:14px;width:640px">
                        <tr style="height:30px">
                            <td style="width:103px">
                                <label style="font-weight:normal">Nome:&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <label style="font-weight:normal;color:blue">
                                    @Html.TextBoxFor(m => m.Contribuinte.Nome, new { style = "width:527px;height:25px", @readonly = true })
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>

                <table style="font-size:14px;width:640px">
                    <tr style="height:30px">
                        <td style="width:103px">
                            <label style="font-weight:normal">Endereco:</label>
                        </td>
                        <td>
                            <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Contribuinte.Logradouro_Nome, new { style = "width:527px;height:25px", @readonly = true })</label>
                        </td>
                    </tr>
                </table>

                <table style="font-size:14px;width:640px">
                    <tr style="height:30px">
                        <td style="width:103px">
                            <label style="font-weight:normal">Bairro/Cidade:</label>
                        </td>
                        <td>
                            <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Contribuinte.Bairro_Nome, new { style = "width:385px;height:25px", @readonly = true })</label>

                        </td>
                        <td>
                            <label style="font-weight:normal;color:blue"><span style="color:black">Cep:</span>&nbsp;&nbsp;@Html.TextBoxFor(m => m.Contribuinte.Cep, new { style = "width:80px;height:25px", @readonly = true })</label>
                        </td>
                    </tr>
                </table>

                
            </div>
            <div class="card-header">Parâmetros do parcelamento</div>
            <div class="card-body">
                <table style="font-size:14px;width:640px">
                    <tr>
                        <td style="width:153px">Plano de desconto:</td>
                        <td style="width:400px;padding-top:5px">
                            @foreach (var _plano in Model.Lista_Plano_Desconto) {
                                if (_plano == "Refis") {
                                    @Html.RadioButtonFor(model => model.Plano_Nome, _plano, new { disabled = "disabled" }) <span>&nbsp;</span>@_plano<span>&nbsp;&nbsp;</span>
                                } else {
                                    @Html.RadioButtonFor(model => model.Plano_Nome, _plano) <span>&nbsp;</span>@_plano<span>&nbsp;&nbsp;</span>
                                }

                            }
                        </td>

                    </tr>
                    <tr>
                        <td style="width:153px">Data de Vencimento:</td>
                        <td style="width:400px;padding-top:5px;color:brown">
                            @Model.Data_Vencimento <span style="padding-left:15px;color:black">Desconto:&nbsp;</span><span style="color:brown">@Model.Perc_desconto%</span><span style="padding-left:15px;color:black">Valor mínimo da parcela:&nbsp;</span><span style="color:brown">R$@Model.Valor_Minimo</span>
                        </td>
                    </tr>

                </table>
                <br />

                <br />
                <button type="submit" class="btn btn-primary" name="action" value="btnValida">Carregar Débitos...</button>&nbsp;&nbsp;
            </div>
            <label class="errorlabel" id="errorLabel">@ViewBag.Result</label>
            <div class="card-footer">
                <a style="color:darkslateblue;font-size:15px" href="javascript:history.back()">Selecionar outra inscrição</a><br />
                @Html.ActionLink("Retornar ao menu de opções", "Parc_index", "Parcelamento", null, new { @class = "actionlink" })<br />
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>
        </div>
    }
</div>

