@model GTI_Mvc.ViewModels.Processo2ViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Trâmite de Processo";
}

<style>
    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: darkslategrey;
        color: whitesmoke;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }

    .no-titlebar .ui-dialog-titlebar {
        display: none;
    }

    .uppercase {
        text-transform: uppercase
    }

    .ui-autocomplete {
        font-size: 13px;
        border-radius: 0px;
        border-color: maroon;
    }

    .highlight {
        background-color: #FFFFAF;
        color: Red;
        font-weight: bold;
        text-transform: uppercase
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
        background: darkred !important;
        font-weight: bold !important;
        color: #ffffff !important;
    }

    ul.ui-autocomplete {
        z-index: 1100;
    }

    .titulo {
        background: maroon;
        color: white;
        font-weight: normal;
        font-size: 13px;
    }

    .btnimage {
        border: 0 none;
        background: none;
        background-image: url('../../Images/cancelar.gif');
        width: 16px;
        height: 16px;
    }

    .btnimage2 {
        border: 0 none;
        background: none;
        background-image: url('../../Images/ok.png');
        width: 16px;
        height: 16px;
    }

    .tbl tbody tr:hover {
        background-color: red;
        color: white;
    }

    tr.highlighted td {
        background: maroon;
        color: white;
    }

    .titulo {
        background: darkblue;
        color: white;
        font-weight: normal;
        font-size: 13px;
    }

    .btn-group-xs > .btn, .btn-xs {
        padding: .25rem .3rem;
        font-size: .675rem;
        line-height: .9;
        border-radius: .2rem;
    }


    .smallbtn {
        background-color: Highlight;
        border: solid;
        border-width: .3px;
        border-color: black;
        color: whitesmoke;
        width: 100px;
        height: 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 6px;
        cursor: pointer;
    }

        .smallbtn:hover {
            background-color: darkred;
            color: whitesmoke;
        }

    .smallbtnred {
        background-color: red;
        border: solid;
        border-width: .3px;
        border-color: black;
        color: whitesmoke;
        width: 100px;
        height: 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 6px;
        cursor: pointer;
    }

        .smallbtnred:hover {
            background-color: darkred;
            color: whitesmoke;
        }

    
</style>

@{var res = ViewBag.Result;}
<div class="center container" style="width:900px">
    @using (Html.BeginForm("Processo_trm", "Processo", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Numero_Processo, new { @id = "Numero_Processo" })
        @Html.HiddenFor(m => m.AnoProcesso, new { @id = "Ano" })
        @Html.HiddenFor(m => m.NumProcesso, new { @id = "Numero" })
        @Html.HiddenFor(m => m.Seq, new { @id = "Seq" })
        @Html.HiddenFor(m => m.Assunto_Codigo, new { @id = "Assunto" })
        @Html.HiddenFor(m => m.Centro_Custo_Codigo, new { @id = "CCusto" })
        @Html.HiddenFor(m => m.Despacho_Codigo, new { @id = "Despacho" })

        <div class="card">
            <div class="card-header">Trâmite de Processo nº&nbsp;<span style="font-weight:bold">@Model.Numero_Processo</span>&nbsp;de&nbsp;<span style="font-weight:bold">@Model.Data_Entrada</span></div>
            <div class="card-body">
                <table title="Dados do Processo" style="font-size:12px;background-color:White;border-color:#CCCCCC; ">
                    <tr>
                        <td>
                            Requerente:
                        </td>
                        <td style="color: maroon">
                            @Model.Centro_Custo_Nome
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Assunto:
                        </td>
                        <td style="color: maroon">
                            @Model.Assunto_Nome
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Complemento:
                        </td>
                        <td style="color:maroon">
                            @Model.Complemento
                        </td>
                    </tr>
                    <tr style="height:10px"></tr>
                </table>

                <div id="table-container" style="overflow-x: scroll; max-height: 360px; height: auto; overflow: auto; width: 830px">
                    <table id="mainTable" style="width:1020px;" class="tbl table-bordered table-condensed">
                        <thead style="background-color:darkblue;color:white;font-weight:normal;font-size:11px">
                            <tr style="height:12px">
                                <th style="width:20px">
                                    Seq
                                </th>
                                <th style="display:none">
                                    CCustoCod
                                </th>
                                <th style="width:280px">
                                    Centro de Custos
                                </th>
                                <th style="width:60px;text-align:center">
                                    Dt.Entrada
                                </th>
                                <th style="width:50px;text-align:center">
                                    Hora
                                </th>
                                <th style="width:200px">
                                    Recebido por
                                </th>
                                <th style="width:150px">
                                    Despacho
                                </th>
                                <th style="width:60px;text-align:center">
                                    Dt.Envio
                                </th>
                                <th style="width:200px">
                                    Enviado por
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <br />
                <div style="text-align:center">
                    <button type="button" id="btnReceber" class="smallbtn" title="Receber o processo selecionado" onclick="Receber(@Model.AnoProcesso,@Model.NumProcesso)"> Receber</button>&nbsp;
                    <button type="button" id="btnEnviar" class="smallbtn" title="Enviar o processo selecionado"> Enviar</button>&nbsp;
                    <button type="button" id="btnAcima" class="smallbtn" title="Mover trâmite selecionado para cima" onclick="MoveUp(@Model.AnoProcesso,@Model.NumProcesso)">Acima</button>&nbsp;
                    <button type="button" id="btnAbaixo" class="smallbtn" title="Mover trâmite selecionado para baixo" onclick="MoveDown(@Model.AnoProcesso,@Model.NumProcesso)">Abaixo</button>&nbsp;
                    <button type="button" id="btnIncluir" class="smallbtn" title="Incluir tramitação" onclick="AddPlace(@Model.AnoProcesso,@Model.NumProcesso)">Incluir</button>&nbsp;
                    <button type="button" id="btnRemover" class="smallbtn" title="Remover tramitação" onclick="RemovePlace(@Model.AnoProcesso,@Model.NumProcesso)">Remover</button>&nbsp;
                    <button type="button" id="btnObs" class="smallbtn" title="Observação do trâmite"> Observação</button>
                </div>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Consultar outro processo", "Processo_qry", "Processo", null, new { @class = "actionlink" })    <br />
                @Html.ActionLink("Retornar ao menu de opções", "SysMenu", "Home", null, new { @class = "actionlink" })    <br />
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>
        </div>
    }
</div>
<div id="msgBoxWait" style='display: none;text-align:center'>
    <img src="~/Images/ajax-loader.gif"><br />
    <p>Processando, aguarde . . . </p>
</div>
<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>

<div class="modal" tabindex="-1" role="dialog" id="InserirModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"> <span>Inserir Local</span> </div>
            <div class="modal-body">
                @Html.DropDownListFor(x => x.Centro_Custo_Codigo, new SelectList(Enumerable.Empty<SelectListItem>()), "-Selecione um Local-", new { @id = "InserirDropDown", style = "width:450px;height:25px;font-size:13px", rows = 10 })
                <br />
                <br />
                <button type="button" class="smallbtn" id="Inserir_Save" onclick="InsertPlace()">Gravar</button>&nbsp;
                <button type="button" class="smallbtnred" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="ReceberModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"> <span>Receber Processo</span> </div>
            <div class="modal-body">
                <span style="font-size:13px;color:maroon;text-decoration:underline">Selecione o Despacho</span><br />
                @Html.DropDownListFor(x => x.Despacho_Codigo, new SelectList(Enumerable.Empty<SelectListItem>()), "-Selecione um Local-", new { @id = "DespachoDropDown", style = "width:450px;height:25px;font-size:13px;margin-top:10px", rows = 10 })
                <br />
                <br />
                <button type="button" class="smallbtn" id="Receber_Save" onclick="ReceberSave()">Gravar</button>&nbsp;
                <button type="button" class="smallbtnred" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        $(document).ready(function () {

            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#msgBoxWait').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "no-titlebar"
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            Carrega_Lista();

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }

        });

        $("#mainTable").on('click', 'tr', function (e) {
            $('#mainTable tr').removeClass('highlighted');
            $(this).addClass('highlighted');
            document.getElementById('Seq').value = $(this).attr('id');
            document.getElementById('CCusto').value = $(this).closest('tr').find('td:eq(1)').text();
        });

        function MoveUp(Ano, Numero) {
            var _seq = document.getElementById("Seq").value;
            var tbl = document.getElementById("mainTable");
            var rows = document.getElementById("mainTable").getElementsByTagName("tr").length;

            $('#msgBoxWait').dialog('open');
            if (_seq == 1) {
                $('#msgBoxWait').dialog('close');
                document.getElementById('lblMsg').innerHTML = "Não é possível mover para cima o primeiro local.";
                $('#msgBox1').dialog('open');
            } else {
                var _texto = tbl.rows[_seq - 1].cells[3].innerHTML.trim();
                if (elementIsEmpty(_texto) == false) {
                    $('#msgBoxWait').dialog('close');
                    document.getElementById('lblMsg').innerHTML = "O local acima já foi tramitado.";
                    $('#msgBox1').dialog('open');
                } else {
                    $.ajax({
                        type: "Post",
                    url: "/Processo/MoveUp",
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = data;
                    },
                    data: {
                        Ano: @Model.AnoProcesso,
                        Numero: @Model.NumProcesso,
                        Seq: _seq
                    }
                });
                }
            }
        }

        function MoveDown(Ano, Numero) {
            var _seq = document.getElementById("Seq").value;
            var tbl = document.getElementById("mainTable");
            var rows = document.getElementById("mainTable").getElementsByTagName("tr").length;

            $('#msgBoxWait').dialog('open');
            if (_seq == rows -1) {
                $('#msgBoxWait').dialog('close');
                document.getElementById('lblMsg').innerHTML = "Não é possível mover para baixo o último local.";
                $('#msgBox1').dialog('open');
            } else {
                var _texto = tbl.rows[_seq].cells[3].innerHTML.trim();
                if (elementIsEmpty(_texto) == false) {
                    $('#msgBoxWait').dialog('close');
                    document.getElementById('lblMsg').innerHTML = "Este local já foi tramitado.";
                    $('#msgBox1').dialog('open');
                } else {
                    $.ajax({
                        type: "Post",
                        url: "/Processo/MoveDown",
                        dataType: 'json',
                        success: function (data) {
                            Carrega_Lista();
                        },
                        data: {
                            Ano: @Model.AnoProcesso,
                            Numero: @Model.NumProcesso,
                            Seq: _seq
                        }
                    });
                }
            }
            return true;
        }

        function AddPlace(Ano, Numero) {
            var _seq = parseInt(document.getElementById("Seq").value);
            var tbl = document.getElementById("mainTable");
            var rows = document.getElementById("mainTable").getElementsByTagName("tr").length;
            if (_seq < rows) {
                _seq += 1;
                var _texto = $("#mainTable tr:eq(" + _seq + ") td:eq(3)").text().trim();
                if (elementIsEmpty(_texto) == false) {
                    document.getElementById('lblMsg').innerHTML = "O local abaixo já foi tramitado.";
                    $('#msgBox1').dialog('open');
                    return false;
                }
            }

            removeOptions(document.getElementById('InserirDropDown'));
            $.getJSON('@Url.Action("Lista_CCusto", "Processo")', function (result) {
                var dropdown = $('#InserirDropDown');
                $.each(result, function() {
                    dropdown.append(
                    $("<option></option>").text(this.Descricao).val(this.Codigo)
                );
                });
            });

            $('#InserirModal').modal({ backdrop: 'static', keyboard: false });
            return true;
        }

        function InsertPlace() {
            var _seq = document.getElementById("Seq").value;
            var ccValue = $("#InserirDropDown option:selected").val();
            if (ccValue=="" || parseInt(ccValue) == 0) {
                alert("Selecione um local!");
                return false;
            }
            $("#Inserir_Save").attr("disabled", true);
            $.ajax({
                type: "Post",
                url: "/Processo/AddPlace",
                dataType: 'json',
                success: function (data) {
                    $("#Inserir_Save").attr("disabled", false);
                    $('#InserirModal').modal('hide');
                    Carrega_Lista();
                },
                data: {
                    Ano: @Model.AnoProcesso,
                    Numero: @Model.NumProcesso,
                    Seq: _seq,
                    CCusto: ccValue
                }
            });

            return true;
        }

        function Carrega_Lista() {
            clearTable();
            $('#msgBoxWait').dialog('open');
            var _processo = document.getElementById("Numero_Processo").value;
            var _assunto = document.getElementById("Assunto").value;
            document.getElementById('Seq').value = 1;
            $.getJSON("Carrega_Tramite",
                { processo: _processo, assunto: _assunto },
                function (json) {
                    var tr;
                    for (var i = 0; i < json.length; i++) {
                        if (i == 0) {
                            tr = $('<tr id="' + json[i].Seq +  '" class="highlighted" style="height: 12px; font-weight: normal; font-size: 11px; white-space: nowrap; cursor: pointer"  />');
                        } else {
                            tr = $('<tr id="' + json[i].Seq +  '" style="height: 12px; font-weight: normal; font-size: 11px; white-space: nowrap; cursor: pointer"  />');
                        }
                        tr.append("<td style='width:20px'>" + json[i].Seq + "</td>");
                        tr.append("<td style='display:none'>" + json[i].CentroCustoCodigo + "</td>");
                        tr.append("<td style='width:280px'>" + json[i].CentroCustoNome + "</td>");
                        tr.append("<td style='width:60px;text-align:center'>" + subNull(json[i].DataEntrada) + "</td>");
                        tr.append("<td style='width:50px;text-align:center'>" + subNull(json[i].HoraEntrada) + "</td>");
                        tr.append("<td style='width:200px'>" + subNull(json[i].Usuario1) + "</td>");
                        tr.append("<td style='width:150px'>" + subNull(json[i].DespachoNome) + "</td>");
                        tr.append("<td style='width:60px'>" + subNull(json[i].DataEnvio) + "</td>");
                        tr.append("<td style='width:200px'>" + subNull(json[i].Usuario2) + "</td>");
                        $("#mainTable").find('tbody').append(tr);
                    }
                });
            $('#msgBoxWait').dialog('close');
        }

        function RemovePlace(Ano, Numero) {
            var _seq = parseInt(document.getElementById("Seq").value);
            var tbl = document.getElementById("mainTable");
            var rows = document.getElementById("mainTable").getElementsByTagName("tr").length;
            var _texto = tbl.rows[_seq - 1].cells[3].innerHTML.trim();
            if (rows > 2) {
                if (elementIsEmpty(_texto) == false) {
                    document.getElementById('lblMsg').innerHTML = "Este local já foi tramitado.";
                    $('#msgBox1').dialog('open');
                    return false;
                }
            } else {
                document.getElementById('lblMsg').innerHTML = "Não é possível remover o último local.";
                $('#msgBox1').dialog('open');
                return false;
            }
            $("#btnRemover").attr("disabled", true);
            $.ajax({
                type: "Post",
                url: "/Processo/RemovePlace",
                dataType: 'json',
                success: function (data) {
                    Carrega_Lista();
                    $("#btnRemover").attr("disabled", false);
                },
                data: {
                    Ano: @Model.AnoProcesso,
                    Numero: @Model.NumProcesso,
                    Seq: _seq
                }
            });
            return true;
        }

        function Receber(Ano, Numero) {
            var _seq = parseInt(document.getElementById("Seq").value);
            var tbl = document.getElementById("mainTable");
            var rows = document.getElementById("mainTable").getElementsByTagName("tr").length;
            var _texto = $("#mainTable tr:eq(" + _seq + ") td:eq(3)").text().trim();
            if (elementIsEmpty(_texto) == false) {
                document.getElementById('lblMsg').innerHTML = "Já houve recebimento neste local.";
                $('#msgBox1').dialog('open');
                return false;
            }

            removeOptions(document.getElementById('DespachoDropDown'));
            $.getJSON('@Url.Action("Lista_Despacho", "Processo")', function (result) {
                var dropdown = $('#DespachoDropDown');
                $.each(result, function() {
                    dropdown.append(
                    $("<option></option>").text(this.Descricao).val(this.Codigo)
                );
                });
            });

            $('#ReceberModal').modal({ backdrop: 'static', keyboard: false });
            return true;
        }

        function ReceberSave() {
            var _seq = document.getElementById("Seq").value;
            var _ccusto = document.getElementById("CCusto").value;
            var ccValue = $("#DespachoDropDown option:selected").val();
            if (ccValue=="" || parseInt(ccValue) == 0) {
                alert("Selecione um despacho!");
                return false;
            }
            $("#Receber_Save").attr("disabled", true);
            $.ajax({
                type: "Post",
                url: "/Processo/Receber",
                dataType: 'json',
                success: function (data) {
                    $("#Receber_Save").attr("disabled", false);
                    $('#ReceberModal').modal('hide');
                    Carrega_Lista();
                },
                data: {
                    Ano: @Model.AnoProcesso,
                    Numero: @Model.NumProcesso,
                    Seq: _seq,
                    Despacho: ccValue,
                    CentroCusto: _ccusto
                }
            });

            return true;
        }

        //#### Funções Genéricas #####
        function removeOptions(selectElement) {
            var i, L = selectElement.options.length - 1;
            for (i = L; i >= 0; i--) {
                selectElement.remove(i);
            }
        }

        function subNull(value) {
            return (value === null) ? "" : value;
        }

        function clearTable() {
            $("#mainTable tbody tr").remove(); //Clear tbody rows
        }

        function elementIsEmpty(el) {
            return (/^(\s|&nbsp;)*$/.test(el));
        }

        //############################

    </script>
}
