@model GTI_Mvc.ViewModels.Processo2ViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastro de novo processo";
}

<style>
    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: darkslategrey;
        color: whitesmoke;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }

    .no-titlebar .ui-dialog-titlebar {
        display: none;
    }

    .uppercase {
        text-transform: uppercase
    }

    .ui-autocomplete {
        font-size: 13px;
        border-radius: 0px;
        border-color: maroon;
    }

    .highlight {
        background-color: #FFFFAF;
        color: Red;
        font-weight: bold;
        text-transform: uppercase
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
        background: darkred !important;
        font-weight: bold !important;
        color: #ffffff !important;
    }

    ul.ui-autocomplete {
        z-index: 1100;
    }

    .titulo {
        background: maroon;
        color: white;
        font-weight: normal;
        font-size: 13px;
    }

    .btnimage {
        border: 0 none;
        background: none;
        background-image: url('../../Images/cancelar.gif');
        width: 16px;
        height: 16px;
    }
</style>

@{
    var res = @ViewBag.Result;
}

<div class="center" style="width:700px">
    @using (Html.BeginForm("Processo_add", "Processo", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()

        <input type="hidden" id="End_Cod">
        <input type="hidden" id="End_Nome">

        @Html.HiddenFor(m => m.Centro_Custo_Codigo, new { @id = "CCusto_Codigo" })
        @Html.HiddenFor(m => m.Centro_Custo_Nome, new { @id = "CCusto_Nome" })
        @Html.HiddenFor(m => m.Assunto_Codigo, new { @id = "Ass_Cod" })
        @Html.HiddenFor(m => m.Assunto_Nome, new { @id = "Ass_Nome" })
        @Html.HiddenFor(m => m.Tipo_Requerente, new { @id = "Tipo_Requerente" })
        @Html.HiddenFor(m => m.Guid, new { @id = "Guid" })

        <div class="container" style="width:670px">
            <div class="card">
                <div class="card-header">Abrir um novo processo</div>
                <div class="card-body">
                    <table style="width:600px">
                        <tr>
                            <td style="width:20%;font-size:14px">Requerente:</td>
                            <td style="width:80%;font-size:14px;color:darkblue">@Model.Centro_Custo_Codigo-@Model.Centro_Custo_Nome</td>
                        </tr>
                        <tr><td style="height:10px"></td></tr>
                        <tr>
                            <td style="width:20%;font-size:14px">Origem:</td>
                            <td style="width:80%; font-size: 14px; color: darkblue">@Model.Tipo_Requerente<span style="color:black;padding-left:50px">Processo Físico?&nbsp; @Html.EditorFor(m => m.Fisico,new { @id="fisico"})</span> </td>
                        </tr>
                        <tr><td style="height:10px"></td></tr>
                        <tr>
                            <td style="width:20%;font-size:14px">Assunto:</td>
                            <td style="width:80%; font-size: 14px"><input type="text" id="searchInput" style="width: 500px; " placeholder="Digite ao menos 3 caracteres..." /></td>
                        </tr>
                        <tr><td style="height:10px"></td></tr>
                        <tr>
                            <td style="width:20%;font-size:14px">Complemento:</td>
                            <td style="width:80%; font-size: 14px">@Html.TextBoxFor(m => m.Complemento, new {@id="complemento",  @style = "width:500px" })</td>
                        </tr>
                        <tr><td style="height:10px"></td></tr>
                        <tr>
                            <td style="width:20%;font-size:14px;vertical-align:top">Observação:</td>
                            <td style="width:80%; font-size: 14px">@Html.TextAreaFor(m => m.Observacao, new {@id="observacao", @maxlength = "5000", @cols = 86, @rows = 5, @style = "resize:none;width:500px" })</td>
                        </tr>
                    </table>
                </div>
                <div class="card-header">Endereço(s) de Ocorrência</div>
                <div class="card-body">
                    <table id="mainTableEnd" class="tbl table-bordered table-condensed " style="width:600px">
                        <thead>
                            <tr style="background-color:maroon;color:white">
                                <th class="titulo" style="width:0px;display:none">Código</th>
                                <th class="titulo" style="width:490px">Endereço</th>
                                <th class="titulo" style="width:70px">Número</th>
                                <th class="titulo" style="width:40px"></th>
                            </tr>
                        </thead>
                        <tbody id="mainTableBodyEnd"></tbody>
                    </table>

                    <br /><br />
                    <button type="button" id="btnCallModalEnd" class="btn btn-info" onclick="OpenModalEnd()" style="height:32px"> <i class="fas fa-plus"></i>&nbsp;Adicionar</button>
                </div>
                <div class="card-header">Documento(s) Necessário(s)</div>
                <div class="card-body">
                    <table id="mainTableDoc" style="width:600px;" class="tbl table-bordered table-condensed">
                        <thead>
                            <tr style="background-color:maroon;color:white">
                                <td style="width: 0px; font-size: 14px;display:none">Código</td>
                                <td style="width: 470px; font-size: 14px">Documento</td>
                                <td style="width: 90px; font-size: 14px;text-align:center">Entregue em</td>
                                <td style="width: 40px; font-size: 14px"></td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br /><br />
                    <button type="button" id="btnCallModalDoc" class="btn btn-info" onclick="OpenModalEnd()" style="height:32px"> <i class="fas fa-plus"></i>&nbsp;Adicionar</button>
                    <br /><br /><br /><br />
                </div>
                <div class="card-footer" style="text-align:center;background-color:white">
                    <button type="button" id="btnNext" class="btn btn-primary" name="action" value="btnNext" style="height:32px" onclick="Gravar()">Gravar o processo</button>
                </div>

                <div class="card-footer">
                    @Html.ActionLink("Retornar ao menu de opções", "Processo_menu", "Processo", null, new { @class = "actionlink" })<br />
                    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
                </div>
            </div>
        </div>
    }
</div>

<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>

<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>

<div class="modal fade" id="ModalEndereco" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog" style="max-width: 590px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>Informe o Endereço</span>

            </div>
            <div class="container"></div>
            <div class="modal-body">
                <span style="font-size:13px">Endereço:&nbsp;&nbsp;</span><input type="text" id="searchEndInput" style="width: 390px;font-size:13px " placeholder="Digite ao menos 3 caracteres..." /><span style="font-size:13px;padding-left:10px">
                <span style="font-size:13px">Nº&nbsp;&nbsp;</span></span><input type="text" id="searchNumInput" style="width: 60px;font-size:13px" onKeyPress = "return formata(this, '§§§§', event)"  />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSelectEnd">  <i class="fas fa-check"></i>&nbsp;Selecionar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }
        });

        $("#searchInput").on('change', function (){
            $("#mainTableDoc tbody tr").remove(); //Clear tbody rows
        });

        $("#searchInput").autocomplete({
            minLength:3,
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("Lista_Assunto","Processo")',
                    dataType: "json",
                    data: { search: $("#searchInput").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Nome, value: item.Nome,cod: item.Codigo };
                        }));
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var regx = new RegExp('(' + this.term + ')', 'ig');
            var label = item.value.replace(regx, "<span class='highlight'>" + this.term + "</span>");
            return $("<li/>").data("ui-autocomplete-item", item).append($("<a>").html(label)).appendTo(ul);
        };;

        $('#searchInput').on('autocompleteselect', function (e, ui) {
            document.getElementById("Ass_Cod").value = ui.item.cod;
            document.getElementById("Ass_Nome").value = ui.item.label;
            $("#mainTableDoc tbody tr").remove(); //Clear tbody rows

            $.ajax({
                type: "POST",
                url: '@Url.Action("Lista_Doc","Processo")',
                dataType: "json",
                data: { assunto: ui.item.cod },
                success: function (data) {
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        var _cod = data[i].Codigo;
                        var _nome = data[i].Nome;
                        var tr = $('<tr style="font-size: 14px" />');
                        tr.append($('<td style="display:none">' + _cod + '</td>'));
                        tr.append($('<td>' + _nome + '</td>'));
                        $('#mainTableDoc').append(tr);
                    }
                }
            })
        });

        $("#searchEndInput").autocomplete({
            minLength:3,
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("Lista_Endereco","Shared")',
                    dataType: "json",
                    data: { search: $("#searchEndInput").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Endereco, value: item.Endereco, cod: item.Codlogradouro };
                        }));
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var regx = new RegExp('(' + this.term + ')', 'ig');
            var label = item.value.replace(regx, "<span class='highlight'>" + this.term + "</span>");
            return $("<li/>").data("ui-autocomplete-item", item).append($("<a>").html(label)).appendTo(ul);
        };;

        $('#searchEndInput').on('autocompleteselect', function (e, ui) {
            document.getElementById("End_Cod").value = ui.item.cod;
            document.getElementById("End_Nome").value = ui.item.label;
        });

        $("#btnSelectEnd").click(function () {
            var tr = $('<tr style="font-size: 14px" />');
            var _cod = document.getElementById("End_Cod").value;
            var _nome = document.getElementById("End_Nome").value;
            var _num = document.getElementById("searchNumInput").value;
            if (_num == "") {
                _num = 0;
            }
            if (_cod == "" || parseInt(_cod) == 0) {
                alert("Selecione um endereço válido!");
            } else {
                tr.append($('<td style="display:none">' + _cod + '</td>'));
                tr.append($('<td>' + _nome + '</td>'));
                tr.append($('<td>' + _num + '</td>'));
                tr.append($('<td>  <input type="button" id="btnDelEnd" class="btnimage" title="Remover" onclick="delRowEnd(this)"/> </td>'));
                $('#mainTableEnd').append(tr);
                $('#ModalEndereco').modal('hide');
            }
        });

        function delRowEnd(x) {
            document.getElementById("mainTableEnd").deleteRow(x.parentElement.parentElement.rowIndex);
        }

        function OpenModalEnd() {
            document.getElementById("searchEndInput").value = '';
            document.getElementById("searchNumInput").value = '';
            $('#ModalEndereco').modal({ backdrop: 'static', keyboard: false });
        }

        function Gravar() {
            var _ass_cod = document.getElementById("Ass_Cod").value;
            var _ass_nome = document.getElementById("Ass_Nome").value;
            var _ccusto_cod = document.getElementById("CCusto_Codigo").value;
            var _ccusto_nome = document.getElementById("CCusto_Nome").value;
            var _guid = document.getElementById("Guid").value;
            var _tipo_req = document.getElementById("Tipo_Requerente").value;
            var _compl = document.getElementById("complemento").value;
            var _obs = document.getElementById("observacao").value;
            var _fisicoValue = $('#fisico:checked').val();

            var enderecos = new Array();
            $("#mainTableEnd tbody tr").each(function () {
                var row = $(this);
                var end = {};
                end.Codigo = row.find("td").eq(0).html();
                end.Endereco = row.find("td").eq(1).html();
                end.Numero = row.find("td").eq(2).html();
                enderecos.push(end);
            })

            var dados = new Array();
            var reg = {};
            reg.Assunto_Codigo = _ass_cod;
            reg.Assunto_Nome = _ass_nome;
            reg.Centro_Custo_Codigo = _ccusto_cod;
            reg.Centro_Custo_Nome = _ccusto_nome;
            reg.Guid = _guid;
            reg.Tipo_Requerente = _tipo_req;
            reg.Complemento = _compl;
            reg.Observacao = _obs;
            reg.Fisico = _fisicoValue;
            reg.Lista_Endereco = enderecos;
            dados.push(reg);

            $.ajax({
                type: "POST",
                url: "/Processo/Processo_addx",
                contentType: 'application/json',
                data: JSON.stringify({Dados: dados}),
                dataType: "json",
                success: function (data) {
                    alert("Processo gravado com sucesso!");
                }
            });

        }

    </script>
}
