@model GTI_Mvc.ViewModels.Processo2ViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastro de novo processo";
}

<style>
    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .modal:nth-of-type(even) {
        z-index: 1062 !important;
    }

    .modal-backdrop.show:nth-of-type(even) {
        z-index: 1061 !important;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: darkslategrey;
        color: whitesmoke;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }

    .uppercase {
        text-transform: uppercase
    }


    .btEdit {
        background: none !important;
        border: none;
        padding: 0 !important;
        font-family: arial, sans-serif;
        color: darkslateblue;
        text-decoration: underline;
        cursor: pointer;
    }

        .btEdit:hover {
            color: darkgreen;
        }
</style>


<div class="center" style="width:700px">

    @using (Html.BeginForm("Processo_tp", "Processo", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Centro_Custo_Codigo, new { @id = "CCusto_Codigo" })
        @Html.HiddenFor(m => m.Centro_Custo_Nome, new { @id = "CCusto_Nome" })

        <div class="container" style="width:550px">
            <div class="card">
                <div class="card-header">Cadastro de novo processo</div>
                <div class="card-body">

                    <div>
                        <table style="font-size:13px;width:500px">
                            <tr style="height:25px">
                                <td style="width:80px">
                                    <span style="font-weight:normal;font-weight:bold">Requerente:&nbsp;</span>
                                </td>
                                <td style="width:400px;">
                                    @Html.RadioButtonFor(model => model.Tipo_Requerente, "Prefeitura", new { @id = "reqChk1", @name = "reqChk1", @checked = true, @onclick = "radioCheck()" })<span style="font-weight:normal">&nbsp;Prefeitura&nbsp;</span>
                                    @Html.RadioButtonFor(model => model.Tipo_Requerente, "Contribuinte", new { @id = "reqChk2",@onclick = "radioCheck()" })<span style="font-weight:normal">&nbsp;Contribuinte</span>
                                    @*@Html.CheckBoxFor(m => m.Tipo_Requerente, new List<SelectListItem>{new SelectListItem{ Text="Prefeitura", Value = "1" }, new SelectListItem{ Text="Requerente", Value = "2" },  })*@
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br />
                    <div id="divInterno" style="display:block;">
                        <span style="font-weight:bold">Centro de Custo</span><br />
                        <span id="NomeCC">(Não selecionado)</span>
                    </div>
                    <div id="divExterno" style="display:none;">
                        <span style="font-weight:bold">Contribuinte</span><br />
                        <span id="NomeCC">(Não selecionado)</span>
                    </div>
                    <br />

                    <div>
                        <button type="button" id="btnCallModal" class="btn btn-primary" name="action" value="btnSearch"> Consultar</button>&nbsp;&nbsp;
                        <button type="submit" id="btnNext" class="btn btn-success" name="action" value="btnSearch"> Próximo</button>
                    </div>


                </div>
                <div class="card-footer">
                    @Html.ActionLink("Retornar ao menu de opções", "Cidadao_menu", "Cidadao", null, new { @class = "actionlink" })<br />
                    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
                </div>
            </div>


        </div>
    }
</div>


<div class="modal fade" id="ModalInterno" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-">
        <div class="modal-content">
            <div class="modal-header">
                <span>Selecione o Centro de Custos</span>

            </div>
            <div class="container">&nbsp;</div>
            <div class="modal-body">
                @Html.DropDownListFor(m => Model.Centro_Custo_Codigo, ViewBag.Lista_CCusto as SelectList, null, new { @id = "CCustoDropDown", @style = "font-weight:normal;width:400px;font-size:14px" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSelectCC"><i class="fas fa-search"></i>&nbsp; Selecionar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i>&nbsp;Cancelar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnSelectCC").click(function () {
                document.getElementById("divInterno").style.display = "block";
                document.getElementById("divExterno").style.display = "none";

                var ccText = $("#CCustoDropDown option:selected").text();
                var ccValue = $("#CCustoDropDown option:selected").val();
                document.getElementById('CCusto_Codigo').value = ccValue;
                document.getElementById('CCusto_Nome').value = ccText;
                document.getElementById("NomeCC").textContent = ccText;
                $('#ModalInterno').modal('hide');
            });

            $("#btnCallModal").click(function () {
                var _c1 = $("#reqChk1").is(":checked")
                var _c2 = $("#reqChk2").is(":checked")

                if (_c1) {
                    OpenModalInterno();
                }

            });
        });

        function OpenModalInterno() {
            $('#ModalInterno').modal();
        }

        function radioCheck() {
            var _c1 = $("#reqChk1").is(":checked")
            var _c2 = $("#reqChk2").is(":checked")
            if (_c1) {
                document.getElementById('divInterno').style.display = 'block';
                document.getElementById('divExterno').style.display = 'none';
            }
            else {
                document.getElementById('divInterno').style.display = 'none';
                document.getElementById('divExterno').style.display = 'block';
            }
        }

    </script>
}
