@model GTI_Mvc.ViewModels.ProcessoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Trâmite de Processo";
}

<style>
    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: darkslategrey;
        color: whitesmoke;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }

    .no-titlebar .ui-dialog-titlebar {
        display: none;
    }

    .uppercase {
        text-transform: uppercase
    }

    .ui-autocomplete {
        font-size: 13px;
        border-radius: 0px;
        border-color: maroon;
    }

    .highlight {
        background-color: #FFFFAF;
        color: Red;
        font-weight: bold;
        text-transform: uppercase
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
        background: darkred !important;
        font-weight: bold !important;
        color: #ffffff !important;
    }

    ul.ui-autocomplete {
        z-index: 1100;
    }

    .titulo {
        background: maroon;
        color: white;
        font-weight: normal;
        font-size: 13px;
    }

    .btnimage {
        border: 0 none;
        background: none;
        background-image: url('../../Images/cancelar.gif');
        width: 16px;
        height: 16px;
    }

    .btnimage2 {
        border: 0 none;
        background: none;
        background-image: url('../../Images/ok.png');
        width: 16px;
        height: 16px;
    }

    .tbl tbody tr:hover {
        background-color: red;
        color: white;
    }

    tr.highlighted td {
        background: maroon;
        color: white;
    }

    .titulo {
        background: darkblue;
        color: white;
        font-weight: normal;
        font-size: 13px;
    }

    .btn-group-xs > .btn, .btn-xs {
        padding: .25rem .3rem;
        font-size: .675rem;
        line-height: .9;
        border-radius: .2rem;
    }

    .smallbtn {
        background-color: cornflowerblue;
        border: none;
        color: white;
        width: 100px;
        height:28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        border-radius: 6px;
        cursor: pointer;
    }

        .dropbtn:hover {
            background-color: darkred;
            color: white;
        }
</style>

@{var res = ViewBag.Result;}
<div class="center container" style="width:900px">
    @using (Html.BeginForm("Processo_trm", "Processo", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Numero_Ano, new { @id = "Numero_Processo" })
        @Html.HiddenFor(m=>m.Seq,new {@id="Seq"})

        <div class="card">
            <div class="card-header">Trâmite de Processo nº&nbsp;<span style="font-weight:bold">@Model.Numero_Ano</span>&nbsp;de&nbsp;<span style="font-weight:bold">@Model.Data_Processo</span></div>
            <div class="card-body">
                <table title="Dados do Processo" style="font-size:12px;background-color:White;border-color:#CCCCCC; ">
                    <tr>
                        <td>
                            Requerente:
                        </td>
                        <td style="font-weight:bold">
                            @Model.Requerente
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Assunto:
                        </td>
                        <td style="font-weight:bold">
                            @Model.Assunto_Nome
                        </td>
                    </tr>
                    <tr style="height:10px"></tr>
                </table>

                <div id="table-container" style="overflow-x: scroll; max-height: 360px; height: auto; overflow: auto; width: 830px">
                    <table id="mainTable" style="width:1020px;" class="tbl table-bordered table-condensed">
                        <thead style="background-color:darkblue;color:white;font-weight:normal;font-size:11px">
                            <tr style="height:12px">
                                <th style="width:20px">
                                    Seq
                                </th>
                                <th style="width:280px">
                                    Centro de Custos
                                </th>
                                <th style="width:60px;text-align:center">
                                    Dt.Entrada
                                </th>
                                <th style="width:50px;text-align:center">
                                    Hora
                                </th>
                                <th style="width:200px">
                                    Recebido por
                                </th>
                                <th style="width:150px">
                                    Despacho
                                </th>
                                <th style="width:60px;text-align:center">
                                    Dt.Envio
                                </th>
                                <th style="width:200px">
                                    Enviado por
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Lista_Tramite) {
                                <tr style="height: 12px; font-weight: normal; font-size: 11px; white-space: nowrap; cursor: pointer">
                                    <td style="width:20px">
                                        @Html.DisplayFor(modelItem => item.Seq)
                                    </td>
                                    <td style="width:280px">
                                        @Html.DisplayFor(modelItem => item.CentroCustoNome)
                                    </td>
                                    <td style="width:60px;text-align:center">
                                        @Html.DisplayFor(modelItem => item.DataEntrada)
                                    </td>
                                    <td style="width:50px;text-align:center">
                                        @Html.DisplayFor(modelItem => item.HoraEntrada)
                                    </td>
                                    <td style="min-width:200px">
                                        @Html.DisplayFor(modelItem => item.Usuario1)
                                    </td>
                                    <td style="width:150px">
                                        @Html.DisplayFor(modelItem => item.DespachoNome)
                                    </td>
                                    <td style="width:60px;text-align:center">
                                        @Html.DisplayFor(modelItem => item.DataEnvio)
                                    </td>
                                    <td style="min-width:200px">
                                        @Html.DisplayFor(modelItem => item.Usuario2)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <div style="text-align:center">
                    <button type="button" id="btnReceber" class="smallbtn" title="Receber o processo selecionado"> Receber</button>&nbsp;
                    <button type="button" id="btnEnviar" class="smallbtn" title="Enviar o processo selecionado"> Enviar</button>&nbsp;
                    <button type="button" id="btnAcima" class="smallbtn" title="Mover trâmite selecionado para cima" onclick="MoveUp(@Model.Ano,@Model.Numero)"> Acima</button>&nbsp;
                    <button type="button" id="btnAbaixo" class="smallbtn" title="Mover trâmite selecionado para baixo"> Abaixo</button>&nbsp;
                    <button type="button" id="btnIncluir" class="smallbtn" title="Incluir tramitação"> Incluir</button>&nbsp;
                    <button type="button" id="btnRemover" class="smallbtn" title="Remover tramitação"> Remover</button>&nbsp;
                    <button type="button" id="btnObs" class="smallbtn" title="Observação do trâmite"> Observação</button>
                </div>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Consultar outro processo", "Processo_qry", "Processo", null, new { @class = "actionlink" })    <br />
                @Html.ActionLink("Retornar ao menu de opções", "SysMenu", "Home", null, new { @class = "actionlink" })    <br />
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>
        </div>
    }
</div>
<div id="msgBoxWait" style='display: none;text-align:center'>
    <img src="~/Images/ajax-loader.gif"><br />
    <p>Processando, aguarde . . . </p>
</div>
<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>


@section scripts {
    <script>

        $(document).ready(function () {

            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#msgBoxWait').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "no-titlebar"
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            var firstTr = $('#mainTable>tbody>tr:first');
            firstTr.addClass('highlighted');
            $('#mainTable>tbody>tr:first').trigger('click');

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }

        });

        $("#mainTable tbody").delegate('tr', 'click', function () {
            var tableData = $(this).children("td").map(function () {
                return $(this).text();
            }).get();

            $('#mainTable tr').click(function (e) {
                $('#mainTable tr').removeClass('highlighted');
                $(this).addClass('highlighted');
            });
        });

        $('#mainTable').find('tr').click(function () {//Retorna a linha clicada
            document.getElementById('Seq').value= ($(this).index() + 1);
        });

        function elementIsEmpty(el) {
            return (/^(\s|&nbsp;)*$/.test(el));
        }

        function MoveUp(Ano, Numero) {
            var _seq = document.getElementById("Seq").value;
            var tbl = document.getElementById("mainTable");
            var _texto = tbl.rows[_seq - 1].cells[2].innerHTML.trim();
            if (_seq == 1) {
                $('#msgBoxWait').dialog('close');
                document.getElementById('lblMsg').innerHTML = "Não é possível mover para cima o primeiro local.";
                $('#msgBox1').dialog('open');
            } else {
                if (elementIsEmpty(_texto) == false) {
                    $('#msgBoxWait').dialog('close');
                    document.getElementById('lblMsg').innerHTML = "O local acima já foi tramitado.";
                    $('#msgBox1').dialog('open');
                } else {
                    $.ajax({
                        type: "Post",
                    url: "/Processo/MoveUp",
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = data;
                    },
                    data: {
                        Ano: @Model.Ano,
                        Numero: @Model.Numero,
                        Seq: _seq
                    }
                });
                }
            }
        }

    </script>
}
