@model GTI_Mvc.ViewModels.Processo2ViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastro de novo processo";
}

<style>
    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }
    
    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: darkslategrey;
        color: whitesmoke;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }

    .no-titlebar .ui-dialog-titlebar {
        display: none;
    }
    .uppercase {
        text-transform: uppercase
    }

    .ui-autocomplete {
        font-size:13px;
        border-radius: 0px;
    }
</style>


<div class="center" style="width:700px">
    @using (Html.BeginForm("Processo_add", "Processo", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Centro_Custo_Codigo, new { @id = "CCusto_Codigo" })
        @Html.HiddenFor(m => m.Centro_Custo_Nome, new { @id = "CCusto_Nome" })
        @Html.HiddenFor(m => m.Assunto_Codigo, new { @id = "Ass_Cod" })
        @Html.HiddenFor(m => m.Assunto_Nome, new { @id = "Ass_Nome" })
        @Html.HiddenFor(m => m.Tipo_Requerente)
        @Html.HiddenFor(m => m.Guid)

        <div class="container" style="width:670px">
            <div class="card">
                <div class="card-header">Cadastro de novo processo</div>
                <div class="card-body">
                    <table style="width:600px">
                        <tr>
                            <td style="width:20%;font-size:14px">Requerente:</td>
                            <td style="width:80%;font-size:14px;color:darkblue">@Model.Centro_Custo_Codigo-@Model.Centro_Custo_Nome</td>
                        </tr>
                        <tr><td style="height:10px"></td></tr>
                        <tr>
                            <td style="width:20%;font-size:14px">Origem:</td>
                            <td style="width:80%; font-size: 14px; color: blue">@Model.Tipo_Requerente<span style="color:black;padding-left:50px">Processo Físico?&nbsp; @Html.EditorFor(m => m.Fisico)</span> </td>
                        </tr>
                        <tr><td style="height:10px"></td></tr>
                        <tr>
                            <td style="width:20%;font-size:14px">Assunto:</td>
                            <td style="width:80%; font-size: 14px"><input type="text" id="searchInput" style="width:500px" /></td>
                        </tr>
                        <tr><td style="height:10px"></td></tr>
                        <tr>
                            <td style="width:20%;font-size:14px">Complemento:</td>
                            <td style="width:80%; font-size: 14px">@Html.TextBoxFor(m => m.Complemento, new { @style = "width:500px" })</td>
                        </tr>
                        <tr><td style="height:10px"></td></tr>
                        <tr>
                            <td style="width:20%;font-size:14px;vertical-align:top">Observação:</td>
                            <td style="width:80%; font-size: 14px">@Html.TextAreaFor(m => m.Observacao, new { @maxlength = "5000", @cols = 86, @rows = 5, @style = "resize:none;width:500px" })</td>
                        </tr>
                    </table>
                    <br /><br />
                    <div>
                        <label>Country Serach</label>

                    </div>


                </div>
                <div class="card-header">Endereço(s) de Ocorrência</div>
                <div class="card-body">
                    <table style="width:600px;" class="tblEndereco table-bordered table-condensed">
                        <thead>
                            <tr style="background-color:maroon;color:white">
                                <td style="width: 0px; font-size: 14px;display:none">Código</td>
                                <td style="width: 480px; font-size: 14px">Endereço</td>
                                <td style="width: 70px; font-size: 14px">Número</td>
                                <td style="width: 40px; font-size: 14px"></td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br /><br />
                    <button type="button" id="btnCallModalEnd" class="btn btn-info" name="action" value="btnAddEnd"> <i class="fas fa-plus"></i>&nbsp;Adicionar</button>&nbsp;&nbsp;
                </div>
                <div class="card-header">Documento(s) Necessário(s)</div>
                <div class="card-body">
                    <table style="width:600px;" class="tblEndereco table-bordered table-condensed">
                        <thead>
                            <tr style="background-color:maroon;color:white">
                                <td style="width: 0px; font-size: 14px;display:none">Código</td>
                                <td style="width: 450px; font-size: 14px">Documento</td>
                                <td style="width: 90px; font-size: 14px">Entregue em</td>
                                <td style="width: 60px; font-size: 14px"></td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br /><br />
                    <button type="button" id="btnCallModalDoc" class="btn btn-info" name="action" value="btnAddDoc"> <i class="fas fa-plus"></i>&nbsp;Adicionar</button>&nbsp;&nbsp;
                    <br /><br /><br /><br />
                    <div style="text-align:center">
                        <button type="button" id="btnCallModal" class="btn btn-success" name="action" value="btnSave">  <img src="~/Images/save.png" /> &nbsp;Gravar</button>&nbsp;&nbsp;
                        <button type="submit" id="btnNext" class="btn btn-danger" name="action" value="btnCancel"><img src="~/Images/cancel2.png" /> &nbsp; Cancelar</button>
                    </div>
                </div>

                <div class="card-footer">
                    @Html.ActionLink("Retornar ao menu de opções", "Cidadao_menu", "Cidadao", null, new { @class = "actionlink" })<br />
                    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
                </div>
            </div>


        </div>
    }
</div>



@section scripts{

    <script type="text/javascript">
        $("#searchInput").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("Lista_Assunto","Processo")',
                    dataType: "json",
                    data: { search: $("#searchInput").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Nome, value: item.Nome,cod: item.Codigo };
                        }));
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            }
        });


        $(document).ready(function () {
            $('#searchInput').on('autocompleteselect', function (e, ui) {
                document.getElementById("Ass_Cod").value = ui.item.cod;
                document.getElementById("Ass_Nome").value = ui.item.label;
            });
        });

       
       
    </script>
}
