@model GTI_Mvc.ViewModels.Processo2ViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Consulta de processos";
}


<style>

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: darkslategrey;
        color: whitesmoke;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }

    .no-titlebar .ui-dialog-titlebar {
        display: none;
    }

    .uppercase {
        text-transform: uppercase
    }

    .ui-autocomplete {
        font-size: 13px;
        border-radius: 0px;
        border-color: maroon;
    }

    .highlight {
        background-color: #FFFFAF;
        color: Red;
        font-weight: bold;
        text-transform: uppercase
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
        background: darkred !important;
        font-weight: bold !important;
        color: #ffffff !important;
    }

    ul.ui-autocomplete {
        z-index: 1100;
    }

    .titulo {
        background: maroon;
        color: white;
        font-weight: normal;
        font-size: 13px;
    }

    .btnimage {
        border: 0 none;
        background: none;
        background-image: url('../../Images/cancelar.gif');
        width: 16px;
        height: 16px;
    }

    .btnimage2 {
        border: 0 none;
        background: none;
        background-image: url('../../Images/ok.png');
        width: 16px;
        height: 16px;
    }

    .tbl tbody tr:hover {
        background-color: red;
        color: white;
    }

    tr.highlighted td {
        background: maroon;
        color: white;
    }

    .titulo {
        background: darkblue;
        color: white;
        font-weight: normal;
        font-size: 13px;
    }

    .btn-group-xs > .btn, .btn-xs {
        padding: .25rem .3rem;
        font-size: .675rem;
        line-height: .9;
        border-radius: .2rem;
    }

    /*****DropDownMenu****/
    .dropbtn {
        background-color: darkred;
        color: white;
        padding: 4px;
        font-size: 10px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: red;
        }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: antiquewhite;
        min-width: 120px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 4px 4px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: black;
        color: yellow
    }

    .show {
        display: block;
    }
    }
    /*******************/
</style>

@{ var res = @ViewBag.Result;}

<div class="center" style="width:800px">
    @using (Html.BeginForm("Processo_qry", "Processo", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Numero_Processo, new { @id = "Numero_Processo" })
        @Html.HiddenFor(m => m.Assunto_Codigo, new { @id = "Ass_Cod" })
        @Html.HiddenFor(m => m.Assunto_Nome, new { @id = "Ass_Nome" })
        @Html.HiddenFor(m => m.Centro_Custo_Codigo, new { @id = "CCusto_Codigo" })
        @Html.HiddenFor(m => m.Centro_Custo_Nome, new { @id = "CCusto_Nome" })
        <input type="hidden" id="End_Cod">
        <input type="hidden" id="End_Nome">

     
        <div class="container" style="width:770px">
            <div class="card">
                <div class="card-header">Consulta de Processos</div>
                <div class="card-body">


                    <div style="display:table">
                        <div style="display: table-row">
                            <div style="display: table-cell;">
                                <table style="width:580px">
                                    <tr style="height:28px">
                                        <td style="width:110px;font-size:13px;">Nº do Processo: </td>
                                        <td style="width: 470px; font-size: 13px;">
                                            <input type="text" id="NumProcessoText" style="width: 100px;font-size:13px " placeholder="####0-0/0000" /><span style="font-size:13px;padding-left:20px">Exercício:&nbsp;&nbsp;</span><input type="text" id="AnoText" style="width: 50px;font-size:13px;text-align:center " class="maskAno" />
                                            <span style="width:110px;font-size:13px;padding-left:11px">Data Entrada: </span><input type="text" id="DataEntradaText" style="width: 80px;font-size:13px " class="maskData" />
                                        </td>
                                    </tr>
                                    <tr style="height:28px">
                                        <td style="width: 110px; font-size: 13px">Assunto: </td>
                                        <td style="width: 470px; font-size: 13px"><input type="text" id="AssuntoText" style="font-size:13px;width:413px" placeholder="Digite ao menos 3 caracteres..." /></td>
                                    </tr>
                                    <tr style="height:28px">
                                        <td style="width: 110px; font-size: 13px">Requerente: </td>
                                        <td style="width: 470px; font-size: 13px">
                                            <input type="text" id="RequerenteText" style="font-size:13px;width:381px;color:darkblue" readonly="readonly" />
                                            <div class="dropdown">
                                                <button type="button" onclick="myFunction()" class="dropbtn">&nbsp;&nbsp;...&nbsp;&nbsp;</button>
                                                <div id="myDropdown" class="dropdown-content">
                                                    <ul style="list-style: none;margin: 0;padding: 0">
                                                        <li><a href="javascript:b('S');">Secretaria</a></li>
                                                        <li><a href="javascript:b('C');">Contribuinte</a></li>
                                                        <li><a href="javascript:b('L');">Limpar</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                    </tr>
                                    <tr style="height:28px">
                                        <td style="width: 110px; font-size: 13px">Endereço: </td>
                                        <td style="width: 470px; font-size: 13px"><input type="text" id="EnderecoText" style="font-size:13px;width:335px" placeholder="Digite ao menos 3 caracteres..." /><span style="padding-left:10px">Nº&nbsp;</span><input type="text" id="NumeroText" style="font-size:13px;width:50px" onKeyPress="return formata(this, '§§§§', event)" /></td>
                                    </tr>
                                </table>

                            </div>

                            <div style="display: table-cell;">
                                <button type="button" id="btnGravar" class="btn btn-primary" name="action" value="btnGravar" style="height:32px;width:110px;vertical-align:baseline" onclick="Validar()"><i class="fas fa-search"></i>&nbsp; Pesquisar</button>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div id="table-container" style="overflow-x: scroll; max-height: 360px; height: auto; overflow: auto; width: 700px">
                        <table id="mainTable" style="width:700px;" class="table-bordered table-condensed">
                            <thead>
                                <tr style="background-color:darkblue;color:white">
                                    <td style="width: 100px; font-size: 13px; text-align: center">Nº Processo</td>
                                    <td style="width: 80px; font-size: 13px;text-align:center">Dt.Ent.</td>
                                    <td style="width: 260px; font-size: 13px">Assunto</td>
                                    <td style="width: 260px; font-size: 13px">Requerente</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div id="bottom_anchor"></div>
                    </div>

                    <br />
                    <button type="button" id="btnDetalhe" class="btn btn-primary" name="action" title="Exibir os detalhes do processo" style="height:32px;width:110px;vertical-align:baseline" onclick="Exibir_Detalhe()"> Detalhes</button>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Retornar ao menu de opções", "Processo_menu", "Processo", null, new { @class = "actionlink" })<br />
                    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="ModalInterno" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 430px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>Selecione o Centro de Custos</span>

            </div>
            <div class="container">&nbsp;</div>
            <div class="modal-body">
                @Html.DropDownListFor(m => Model.Centro_Custo_Codigo, ViewBag.Lista_CCusto as SelectList, null, new { @id = "CCustoDropDown", @style = "font-weight:normal;width:400px;font-size:14px" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSelectCC"> Selecionar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalExterno" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 640px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>Selecione o Contribuinte</span>

            </div>
            <div class="container"></div>
            <div class="modal-body">
                @Html.TextBoxFor(m => m.Centro_Custo_Codigo, new { @id = "codigo", @style = "width:70px;font-size:14px", @placeholder = "Código", @Value = "" })
                @Html.TextBoxFor(m => m.Centro_Custo_Nome, new { @id = "nome", @style = "width:324px;font-size:14px", @placeholder = "Nome do contribuinte" })
                @Html.TextBoxFor(m => m.Centro_Custo_CpfCnpj, new { @id = "cpfcnpj", @style = "width:160px;font-size:14px", @placeholder = "Cpf/Cnpj" })
                <button type="button" class="btn btn-info" id="btnFind" style="height:30px;padding-bottom:10px" title="Filtrar"><i class="fas fa-search"></i></button>
                <br />
                <br />

                <table id="mainTableEnd" class="tbl table-bordered table-condensed table-hover ">
                    <thead>
                        <tr>
                            <th class="titulo" style="width:80px">Código</th>
                            <th class="titulo" style="width:364px">Nome do Contribuinte</th>
                            <th class="titulo" style="width:160px">Cpf/Cnpj</th>
                        </tr>
                    </thead>
                    <tbody id="mainTableEndBody"></tbody>
                </table>
                <br />
                <div id="dvMsg1" style="display:none">
                    <span style="color:red;font-size:13px">***Apenas os 10 primeiros resultados serão exibidos***</span>
                </div>
                <div id="dvMsg2" style="display:none">
                    <span style="color:red;font-size:13px">***Nenhum registro localizado com os critérios selecionados***</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSelectCidadao"> Selecionar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>
<div id="msgBoxWait" style='display: none;text-align:center'>
    <img src="~/Images/ajax-loader.gif"><br />
    <p>Processando, aguarde . . . </p>
</div>



@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $(".maskData").inputmask("99/99/9999");
            $(".maskAno").inputmask("9999");
            /*$('.dropdown-submenu > a').submenupicker();*/

            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
             $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $('#msgBoxWait').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "no-titlebar"
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }

        });



        $("#mainTable tbody").delegate('tr', 'click', function () {
            var tableData = $(this).children("td").map(function () {
                return $(this).text();
            }).get();

            document.getElementById('Numero_Processo').value = $.trim(tableData[0]);

            $('#mainTable tr').click(function (e) {
                $('#mainTable tr').removeClass('highlighted');
                $(this).addClass('highlighted');
            });
        });

        function Pesquisar() {
            var _processo = document.getElementById("NumProcessoText").value;
            var _data_entrada = document.getElementById("DataEntradaText").value;
            var _assunto = document.getElementById("Ass_Cod").value;
            var _ano = parseInt(document.getElementById("AnoText").value);
            var _endereco = document.getElementById("End_Cod").value;
            var _endereco_num = document.getElementById("NumeroText").value;
            var _ccusto = document.getElementById("CCusto_Codigo").value;

            $("#mainTable tbody tr").remove(); //Clear tbody rows
            var dados = new Array();
            var reg = {};
            reg.Numero_Processo = _processo;
            reg.Data_Entrada = _data_entrada;
            if (_assunto != "" && _assunto != 0) {
                reg.Assunto_Codigo = _assunto;
            }
            if (_endereco != "" && _endereco != 0) {
                reg.Endereco_Codigo = _endereco;
                reg.Endereco_Numero = _endereco_num;
            }
            reg.AnoProcesso = _ano;
            reg.Centro_Custo_Codigo = _ccusto;
            dados.push(reg);

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;

            $.ajax({
                type: "POST",
                url: "Processo_qryx",
                headers: headers,
                contentType: 'application/json',
                data: JSON.stringify({ Dados: dados}),
                dataType: "json",
                success: function (data) {
                    var len = data.length;
                    if (len == 0) {
                        $('#msgBoxWait').dialog('close');
                        document.getElementById('lblMsg').innerHTML = "Nenhum processo localizado com este(s) critério(s)";
                        $('#msgBox1').dialog('open');
                        return false;
                    }

                    var _pos = 0;
                    for (var i = 0; i < len; i++) {
                        var _error = data[i].Erro;
                        if (_error != "") {
                            $('#msgBoxWait').dialog('close');
                            document.getElementById('lblMsg').innerHTML = _error;
                            $('#msgBox1').dialog('open');
                            return false;
                        }

                        var _processo = data[i].Numero_Processo;
                        var _data = data[i].Data_Entrada;
                        var _assunto = data[i].Assunto_Nome;
                        var _ccusto = data[i].Centro_Custo_Nome;
                        var tr = $('<tr style="white-space:nowrap;cursor:pointer" />');
                        tr.append($('<td style="font-size: 12px;text-align:center">' + _processo + '</td>'));
                        tr.append($('<td style="font-size: 12px;text-align:center">' + _data + '</td>'));
                        tr.append($('<td style="font-size: 12px" >' + _assunto + '</td>'));
                        tr.append($('<td style="font-size: 12px">' + _ccusto + '</td>'));
                        $('#mainTable').append(tr);
                        _pos++;
                    }
                    if (_pos > 0) {
                        $("#mainTable>tbody>tr:first").trigger('click');
                    }
                    var firstTr = $('#mainTable>tbody>tr:first');
                    firstTr.addClass('highlighted');
                    $('#msgBoxWait').dialog('close');
                },
                error: function (xhr, status, error) {
                    $('#msgBoxWait').dialog('close');
                    if (xhr.status != 200) {
                        alert(error);
                    }
                }
            });
        }

        function Validar() {
            var _processo = document.getElementById("NumProcessoText").value;
            var _ano = parseInt(document.getElementById("AnoText").value);

            if (_processo != "") {
                var _error = Valida_Numero_Processo(_processo);
                if (_error != "") {
                    $('#msgBoxWait').dialog('close');
                    document.getElementById('lblMsg').innerHTML = _error;
                    $('#msgBox1').dialog('open');
                    return false;
                }
            }
            var currentTime = new Date();
            var year = currentTime.getFullYear();

            if (_ano != "") {
                if (_ano < 1990 | _ano > year) {
                    $('#msgBoxWait').dialog('close');
                    document.getElementById('lblMsg').innerHTML = "Exercício inválido!";
                    $('#msgBox1').dialog('open');
                    return false;
                }
            }

            $('#msgBoxWait').dialog('open');
            Pesquisar();
        }

        function Exibir_Detalhe() {
            var ccText = document.getElementById('Numero_Processo').value;
            if (ccText == '') {
                document.getElementById('lblMsg').innerHTML = "Selecione um processo!";
                $('#msgBox1').dialog('open');
            } else {
                document.getElementById("Numero_Processo").value = ccText;
                $('#MainForm').submit();
            }
        }

        $("#AssuntoText").on('keydown', function () {
            document.getElementById("Ass_Cod").value="";
        });

        $("#AssuntoText").autocomplete({
            minLength:3,
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("Lista_Assunto","Processo")',
                    dataType: "json",
                    autoFocus: true,
                    data: { search: $("#AssuntoText").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Nome, value: item.Nome,cod: item.Codigo };
                        }));
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var regx = new RegExp('(' + this.term + ')', 'ig');
            var label = item.value.replace(regx, "<span class='highlight'>" + this.term + "</span>");
            return $("<li/>").data("ui-autocomplete-item", item).append($("<a>").html(label)).appendTo(ul);
        };;

        $('#AssuntoText').on('autocompleteselect', function (e, ui) {
            document.getElementById("Ass_Cod").value = ui.item.cod;
            document.getElementById("Ass_Nome").value = ui.item.label;
        });

        $("#EnderecoText").autocomplete({
            minLength:3,
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("Lista_Endereco","Shared")',
                    dataType: "json",
                    data: { search: $("#EnderecoText").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Endereco, value: item.Endereco, cod: item.Codlogradouro };
                        }));
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var regx = new RegExp('(' + this.term + ')', 'ig');
            var label = item.value.replace(regx, "<span class='highlight'>" + this.term + "</span>");
            return $("<li/>").data("ui-autocomplete-item", item).append($("<a>").html(label)).appendTo(ul);
        };;

        $('#EnderecoText').on('autocompleteselect', function (e, ui) {
            document.getElementById("End_Cod").value = ui.item.cod;
            document.getElementById("End_Nome").value = ui.item.label;
        });

        $('#ModalExterno').on("click", '#mainTableEnd tbody tr', function () {
            var tableData = $(this).children("td").map(function () {
                return $(this).text();
            }).get();

            document.getElementById('CCusto_Codigo').value = $.trim(tableData[0]);
            document.getElementById('CCusto_Nome').value = $.trim(tableData[1]);

            $('#mainTableEnd tr').click(function (e) {
                $('#mainTableEnd tr').removeClass('highlighted');
                $(this).addClass('highlighted');
            });
        });

        $("#btnSelectCC").click(function () {
            var ccText = $("#CCustoDropDown option:selected").text();
            var ccValue = $("#CCustoDropDown option:selected").val();
            document.getElementById('CCusto_Codigo').value = ccValue;
            document.getElementById('CCusto_Nome').value = ccText;
            $('#RequerenteText').val(ccText);
            $('#ModalInterno').modal('hide');
        });

        $("#btnSelectCidadao").click(function () {
            var ccText = document.getElementById('CCusto_Nome').value;
            var ccValue = document.getElementById('CCusto_Codigo').value;
            if (ccText != '')
                $('#RequerenteText').val(ccValue + ' - ' + ccText);
            else
                $('#RequerenteText').val();
            $('#ModalExterno').modal('hide');
        });

        $("#btnFind").click(function () {
            $("#mainTableEndBody").empty();
            var _codigo = document.getElementById('codigo').value;
            var _nome = document.getElementById('nome').value;
            var _cpfcnpj = document.getElementById('cpfcnpj').value;
            if (_codigo == '' && _nome == '' && _cpfcnpj == '') {
                document.getElementById('lblMsg').innerHTML = "Selecione ao menos um dos critérios!";
                $('#msgBox1').dialog('open');
                return false;
            }

            $("#dvMsg1").hide(); $("#dvMsg2").hide();
            $.getJSON("Lista_Cidadao",
                { codigo: _codigo, nome: _nome, cpfcnpj: _cpfcnpj },
                function (json) {
                    var tr;
                    var _pos = 0;
                    for (var i = 0; i < json.length; i++) {
                        if (_pos < 10) {
                            tr = $('<tr style="cursor:pointer"  />');
                            tr.append("<td style='font-size:14px'>" + json[i].Codcidadao + "</td>");
                            tr.append("<td style='font-size:14px'>" + json[i].Nomecidadao + "</td>");
                            tr.append("<td style='font-size:14px'>" + json[i].Cpf + "</td>");
                            $("table.tbl").find('tbody').append(tr);
                        }
                        _pos++;
                    }
                    if (_pos >= 10) {
                        $("#dvMsg1").show();
                    } else {
                        $("#dvMsg1").hide();
                    }
                    if (_pos == 0) {
                        $("#dvMsg2").show();
                    } else {
                        $("#mainTableEnd>tbody>tr:first").trigger('click');
                        $("#dvMsg2").hide();
                    }

                });
        });

        /* When the user clicks on the button, Toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function b(tipo) {
            if (tipo == 'S') {
                $('#ModalInterno').modal({ backdrop: 'static', keyboard: false });
            } else {
                if (tipo == 'C') {
                    $('#ModalExterno').modal({ backdrop: 'static', keyboard: false });
                } else {
                    $('#RequerenteText').val('');
                    document.getElementById("CCusto_Codigo").value = '';
                    document.getElementById("CCusto_Nome").value = '';

                }
            }
        }


    </script>
}
