@model GTI_Mvc.ViewModels.Processo2ViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastro de novo processo";
}

<style>
    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: darkslategrey;
        color: whitesmoke;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }

    .no-titlebar .ui-dialog-titlebar {
        display: none;
    }

    .uppercase {
        text-transform: uppercase
    }

    .ui-autocomplete {
        font-size: 13px;
        border-radius: 0px;
        border-color: maroon;
    }

    .highlight {
        background-color: #FFFFAF;
        color: Red;
        font-weight: bold;
        text-transform: uppercase
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
        background: darkred !important;
        font-weight: bold !important;
        color: #ffffff !important;
    }

    ul.ui-autocomplete {
        z-index: 1100;
    }

    .titulo {
        background: maroon;
        color: white;
        font-weight: normal;
        font-size: 13px;
    }

    .btnimage {
        border: 0 none;
        background: none;
        background-image: url('../../Images/cancelar.gif');
        width: 16px;
        height: 16px;
    }

    .btnimage2 {
        border: 0 none;
        background: none;
        background-image: url('../../Images/ok.png');
        width: 16px;
        height: 16px;
    }
</style>

@{
    var res = @ViewBag.Result;
}

<div class="center" style="width:700px">
    @using (Html.BeginForm("Processo_add", "Processo", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()

        <input type="hidden" id="End_Cod">
        <input type="hidden" id="End_Nome">

        @Html.HiddenFor(m => m.Centro_Custo_Codigo, new { @id = "CCusto_Codigo" })
        @Html.HiddenFor(m => m.Centro_Custo_Nome, new { @id = "CCusto_Nome" })
        @Html.HiddenFor(m => m.Assunto_Codigo, new { @id = "Ass_Cod" })
        @Html.HiddenFor(m => m.Assunto_Nome, new { @id = "Ass_Nome" })
        @Html.HiddenFor(m => m.Tipo_Requerente, new { @id = "Tipo_Requerente" })
        @Html.HiddenFor(m => m.Guid, new { @id = "Guid" })

        <div class="container" style="width:670px">
            <div class="card">
                <div class="card-header">Dados do Processo nº<span style="padding-left:10px;font-weight:bold">@Model.Numero_Processo</span></div>
                
                <div class="card-body">
                    <table style="width:600px">
                        <tr>
                            <td style="width:20%;font-size:14px">Requerente:</td>
                            <td style="width:80%;font-size:14px;color:blue">@Model.Centro_Custo_Codigo-@Model.Centro_Custo_Nome</td>
                        </tr>
                        <tr><td style="height:10px"></td></tr>
                        <tr>
                            <td style="width:20%;font-size:14px">Origem:</td>
                            <td style="width:80%; font-size: 14px; color: blue"><span style="color:blue">@Model.Interno</span><span style="color:black;padding-left:50px">Processo Físico?&nbsp; <span style="color:blue">@Model.Fisico_Nome</span></span> </td>
                        </tr>
                        <tr><td style="height:10px"></td></tr>
                        <tr>
                            <td style="width:20%;font-size:14px">Assunto:</td>
                            <td style="width:80%; font-size: 14px">@Html.TextBoxFor(m=>m.Assunto_Nome,new { @style ="width:500px;color:blue", @readonly = true })</td>
                        </tr>
                        <tr><td style="height:10px"></td></tr>
                        <tr>
                            <td style="width:20%;font-size:14px">Complemento:</td>
                            <td style="width:80%; font-size: 14px">@Html.TextBoxFor(m => m.Complemento, new { @id = "complemento", @style = "width:500px;color:blue", @readonly = true })</td>
                        </tr>
                        <tr><td style="height:10px"></td></tr>
                        <tr>
                            <td style="width:20%;font-size:14px;vertical-align:top">Observação:</td>
                            <td style="width:80%; font-size: 14px">@Html.TextAreaFor(m => m.Observacao, new { @id = "observacao", @maxlength = "5000", @cols = 86, @rows = 5, @style = "resize:none;width:500px;color:blue", @readonly = true })</td>
                        </tr>
                    </table>
                </div>
                <div class="card-header">Endereço(s) de Ocorrência</div>
                <div class="card-body">
                    <table id="mainTableEnd" class="tbl table-bordered table-condensed " style="width:600px">
                        <thead>
                            <tr style="background-color:maroon;color:white">
                                <th class="titulo" style="width:0px;display:none">Código</th>
                                <th class="titulo" style="width:490px">Endereço</th>
                                <th class="titulo" style="width:70px">Número</th>
                                <th class="titulo" style="width:40px"></th>
                            </tr>
                        </thead>
                        <tbody id="mainTableBodyEnd"></tbody>
                    </table>

                </div>
                <div class="card-header">Documento(s) Necessário(s)</div>
                <div class="card-body">
                    <table id="mainTableDoc" style="width:600px;" class="tbl table-bordered table-condensed">
                        <thead>
                            <tr style="background-color:maroon;color:white">
                                <td style="width: 0px; font-size: 14px;display:none">Código</td>
                                <td style="width: 470px; font-size: 14px">Documento</td>
                                <td style="width: 90px; font-size: 14px;text-align:center">Entregue em</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (GTI_Models.Models.ProcessoDocStruct itemD in Model.Lista_Documento) {
                            <tr style="font-size: 14px;color:blue">
                                <td style="display:none">@itemD.CodigoDocumento</td>
                                <td style="width:500px">@itemD.NomeDocumento</td>
                                @if (itemD.DataEntrega != null) {
                                    <td style="text-align:center;width:100px">@Convert.ToDateTime(itemD.DataEntrega).ToString("dd/MM/yyyy")</td>
                                } else {
                                    <td style="text-align:center;width:100px"></td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                    <br /><br />
                </div>

                <div class="card-footer">
                    @Html.ActionLink("Retornar ao menu de opções", "Processo_menu", "Processo", null, new { @class = "actionlink" })<br />
                    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
                </div>
            </div>
        </div>
    }
</div>







