@model GTI_Mvc.ViewModels.Processo2ViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Consulta de processos";
}

<style>

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: darkslategrey;
        color: whitesmoke;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }

    .no-titlebar .ui-dialog-titlebar {
        display: none;
    }

    .uppercase {
        text-transform: uppercase
    }

    .ui-autocomplete {
        font-size: 13px;
        border-radius: 0px;
        border-color: maroon;
    }

    .highlight {
        background-color: #FFFFAF;
        color: Red;
        font-weight: bold;
        text-transform: uppercase
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
        background: darkred !important;
        font-weight: bold !important;
        color: #ffffff !important;
    }

    ul.ui-autocomplete {
        z-index: 1100;
    }

    .titulo {
        background: maroon;
        color: white;
        font-weight: normal;
        font-size: 13px;
    }

    .btnimage {
        border: 0 none;
        background: none;
        background-image: url('../../Images/cancelar.gif');
        width: 16px;
        height: 16px;
    }

    .btnimage2 {
        border: 0 none;
        background: none;
        background-image: url('../../Images/ok.png');
        width: 16px;
        height: 16px;
    }
</style>

@{
    var res = @ViewBag.Result;

}

<div class="center" style="width:800px">
    @using (Html.BeginForm("Processo_qry", "Processo", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()


        <div class="container" style="width:770px">
            <div class="card">
                <div class="card-header">Consulta de Processos</div>
                <div class="card-body">
                    <div sstyle="display:table">
                        <div style="display: table-row">
                            <div style="display: table-cell;">
                                <table style="width:580px">
                                    <tr style="height:30px">
                                        <td style="width:110px;font-size:13px">Nº do Processo: </td>
                                        <td style="width: 470px; font-size: 13px">
                                            <input type="text" id="NumProcessoText" style="width: 100px;font-size:13px " placeholder="####0-0/0000" /><span style="font-size:13px;padding-left:20px">Data Entrada:&nbsp;&nbsp;</span><input type="text" id="DataEntradaText" style="width: 80px;font-size:13px " class="maskData" /><span style="font-size:13px;padding-left:10px">Interno&nbsp;</span><input type="checkbox" id="internoCheck" name="internoCheck" />
                                        </td>
                                    </tr>
                                    <tr style="height:30px">
                                        <td style="width: 110px; font-size: 13px">Assunto: </td>
                                        <td style="width: 470px; font-size: 13px"><input type="text" id="AssuntoText" style="font-size:13px;width:400px " /></td>
                                    </tr>
                                    <tr style="height:30px">
                                        <td style="width: 110px; font-size: 13px">Requerente: </td>
                                        <td style="width: 470px; font-size: 13px"><input type="text" id="RequerenteText" style="font-size:13px;width:400px " /></td>
                                    </tr>
                                    <tr style="height:30px">
                                        <td style="width: 110px; font-size: 13px">Endereço: </td>
                                        <td style="width: 470px; font-size: 13px"><input type="text" id="EnderecoText" style="font-size:13px;width:400px " /></td>
                                    </tr>
                                </table>
                            </div>
                            <div style="display: table-cell;">
                                <button type="button" id="btnGravar" class="btn btn-primary" name="action" value="btnGravar" style="height:32px;width:110px;vertical-align:baseline" onclick="Validar()"><i class="fas fa-search"></i>&nbsp; Pesquisar</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div style="text-align:center">
                        <table id="mainTable" style="width:700px;" class="tbl table-bordered table-condensed">
                            <thead>
                                <tr style="background-color:maroon;color:white">
                                    <td style="width: 100px; font-size: 13px">Nº Proc.</td>
                                    <td style="width: 80px; font-size: 13px;text-align:center">Dt.Ent.</td>
                                    <td style="width: 260px; font-size: 13px">Assunto</td>
                                    <td style="width: 260px; font-size: 13px">Requerente</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Retornar ao menu de opções", "Processo_menu", "Processo", null, new { @class = "actionlink" })<br />
                    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
                </div>
            </div>
        </div>
    }
</div>

<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>
<div id="msgBoxWait" style='display: none;text-align:center'>
    <img src="~/Images/ajax-loader.gif"><br />
    <p>Processando, aguarde . . . </p>
</div>



@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $(".maskData").inputmask("99/99/9999");
            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
             $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $('#msgBoxWait').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "no-titlebar"
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }
        });

        function Pesquisar() {
            var _processo = document.getElementById("NumProcessoText").value;

            var dados = new Array();
            var reg = {};
            reg.Numero_Processo = _processo;
            dados.push(reg);

            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;

            $.ajax({
                type: "POST",
                url: "Processo_qryx",
                headers: headers,
                contentType: 'application/json',
                data: JSON.stringify({ Dados: dados}),
                dataType: "json",
                success: function (data) {
                    var len = data.length;
                    for (var i = 0; i < len; i++) {
                        var _processo = data[i].Numero_Processo;
                        var _data = data[i].Data_Entrada;
                        var tr = $('<tr style="font-size: 14px" />');
                        tr.append($('<td>' + _processo + '</td>'));
                        tr.append($('<td>' + _data + '</td>'));
                        tr.append($('<td>' + "" + '</td>'));
                        tr.append($('<td>' + "" + '</td>'));
                        $('#mainTable').append(tr);
                    }
                    $('#msgBoxWait').dialog('close');
                },
                error: function (xhr, status, error) {
                    $('#msgBoxWait').dialog('close');
                    if (xhr.status != 200) {
                        alert(error);
                    }
                }
            });
        }

        function Validar() {
            var _processo = document.getElementById("NumProcessoText").value;
            if (_processo != "") {
                var _error = Valida_Numero_Processo(_processo);
                if (_error != "") {
                    $('#msgBoxWait').dialog('close');
                    document.getElementById('lblMsg').innerHTML = _error;
                    $('#msgBox1').dialog('open');
                    return false;
                }
            }
            $('#msgBoxWait').dialog('open');

            Pesquisar();
        }

    </script>
}
