@model GTI_Mvc.ViewModels.RedesimImportViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Redesim - Imortação de Arquivos";
}

<style>

    .center {
        margin: auto;
        width: 800px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .topics tr:hover {
        background-color: #f5f5f5;
    }

    .topics tr {
        height: 20px;
        font-size: 14px;
    }

    .modal-ku {
        width: 450px;
        margin: 200px, auto;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="center">

    @using (Html.BeginForm("UploadFiles", "RedeSim", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
        <div class="container" style="width:800px">
            <div class="card">
                <div class="card-header">RedeSim - Importação de arquivos</div>
                <div class="card-body">
                    <input type="file" name="files" id="files" multiple="multiple" accept=".csv" /><br /><br />
                    <div><button type="submit" class="btn btn-info">Enviar</button><br /><br /></div>
                    @if (Model.ListaArquivo.Count > 0) {
                        foreach (GTI_Mvc.ViewModels.RedesimImportFilesViewModel arq in Model.ListaArquivo) {
                            <table style="font-size:13px;width:710px">
                                <thead style="background-color:darkred;color:whitesmoke">
                                    <tr style="height:10px">
                                        <td style="width:190px;text-align:left">Identificação</td>
                                        <td style="width:200px;text-align:left">Nome do Arquivo</td>
                                        <td style="width:120px;text-align:left">Tipo</td>
                                        <td style="width:200px;text-align:left">Mensagem</td>
                                    </tr>
                                </thead>
                                @Html.Raw(" <tr>")
                                @Html.Raw("<td style=" + "width:210px;text-align:left" + " >")
                                @arq.Guid
                                @Html.Raw("</td>")
                                @Html.Raw(" <td style=" + "width:200px;text-align:left" + " >")
                                @Functions.TruncateTo(arq.NomeArquivo, 30)
                                @Html.Raw("</td>")
                                @Html.Raw(" <td style=" + "width:120px;text-align:left" + " >")
                                @arq.Tipo
                                @Html.Raw("</td>")
                                @Html.Raw(" <td style=" + "width:200px;text-align:left" + " >")
                                @arq.Mensagem
                                @Html.Raw("</td>")
                                @Html.Raw("</tr>")
                            </table>
                            <br />

                            if (arq.ListaRegistro.Count > 0) {

                                <table style="font-size:13px;width:710px">
                                    <thead style="background-color:darkcyan;color:whitesmoke">
                                        <tr style="height:10px">
                                            <td style="width:120px;text-align:left">protocolo</td>
                                            <td style="width:300px;text-align:left">Razão Social</td>
                                            <td style="width:150px;text-align:left">Cnpj</td>
                                            <td style="width:120px;text-align:left">Status</td>
                                        </tr>
                                    </thead>
                                    @foreach (GTI_Models.Models.Redesim_RegistroStruct reg in arq.ListaRegistro) {
                                        @Html.Raw(" <tr>")
                                        @Html.Raw("<td style=" + "width:120px;text-align:left" + " >")
                                        @reg.Protocolo
                                        @Html.Raw("</td>")
                                        @Html.Raw(" <td style=" + "width:300px;text-align:left" + " >")
                                        @Functions.TruncateTo(reg.NomeEmpresarial, 35)
                                        @Html.Raw("</td>")
                                        @Html.Raw(" <td style=" + "width:120px;text-align:left" + " >")
                                        @Functions.FormatarCpfCnpj(reg.Cnpj)
                                        @Html.Raw("</td>")
                                        if (reg.Duplicado) {
                                            @Html.Raw(" <td style=" + "width:120px;text-align:left;color:red" + " >")
                                            @Html.Raw("Duplicado")
                                            @Html.Raw("</td>")
                                        } else {
                                            @Html.Raw(" <td style=" + "width:120px;text-align:left;color:darkgreen" + " >")
                                            @Html.Raw("importado")
                                            @Html.Raw("</td>")
                                        }
                                        @Html.Raw("</tr>")
                                    }
                                </table>
                            }

                            if (arq.ListaViabilidade.Count > 0) {
                                <table style="font-size:13px;width:710px">
                                    <thead style="background-color:darkcyan;color:whitesmoke">
                                        <tr style="height:10px">
                                            <td style="width:120px;text-align:left">protocolo</td>
                                            <td style="width:300px;text-align:left">Razão Social</td>
                                            <td style="width:150px;text-align:left">Cnpj</td>
                                            <td style="width:120px;text-align:left">Status</td>
                                        </tr>
                                    </thead>
                                    @foreach (GTI_Models.Models.Redesim_ViabilidadeStuct reg in arq.ListaViabilidade) {
                                        @Html.Raw(" <tr>")
                                        @Html.Raw("<td style=" + "width:120px;text-align:left" + " >")
                                        @reg.Protocolo
                                        @Html.Raw("</td>")
                                        @Html.Raw(" <td style=" + "width:300px;text-align:left" + " >")
                                        @Functions.TruncateTo(reg.RazaoSocial, 35)
                                        @Html.Raw("</td>")
                                        @Html.Raw(" <td style=" + "width:120px;text-align:left" + " >")
                                        @Functions.FormatarCpfCnpj(reg.Cnpj)
                                        @Html.Raw("</td>")
                                        if (reg.Duplicado) {
                                            @Html.Raw(" <td style=" + "width:120px;text-align:left;color:red" + " >")
                                            @Html.Raw("Duplicado")
                                            @Html.Raw("</td>")
                                        } else {
                                            @Html.Raw(" <td style=" + "width:120px;text-align:left;color:darkgreen" + " >")
                                            @Html.Raw("importado")
                                            @Html.Raw("</td>")
                                        }
                                        @Html.Raw("</tr>")
                                    }
                                </table>
                            }

                            if (arq.ListaLicenciamento.Count > 0) {
                                <table style="font-size:13px;width:420px">
                                    <thead style="background-color:darkcyan;color:whitesmoke">
                                        <tr style="height:10px">
                                            <td style="width:120px;text-align:left">protocolo</td>
                                            <td style="width:180px;text-align:center">Data Solicitação</td>
                                            <td style="width:120px;text-align:left">Status</td>
                                        </tr>
                                    </thead>
                                    @foreach (GTI_Models.Models.Redesim_licenciamentoStruct reg in arq.ListaLicenciamento) {
                                        @Html.Raw(" <tr>")
                                        @Html.Raw("<td style=" + "width:120px;text-align:left" + " >")
                                        @reg.Protocolo
                                        @Html.Raw("</td>")
                                        @Html.Raw(" <td style=" + "width:180px;text-align:center" + " >")
                                        @reg.DataSolicitacao
                                        @Html.Raw("</td>")
                                        if (reg.Duplicado) {
                                            @Html.Raw(" <td style=" + "width:120px;text-align:left;color:red" + " >")
                                            @Html.Raw("Duplicado")
                                            @Html.Raw("</td>")
                                        } else {
                                            @Html.Raw(" <td style=" + "width:120px;text-align:left;color:darkgreen" + " >")
                                            @Html.Raw("importado")
                                            @Html.Raw("</td>")
                                        }
                                        @Html.Raw("</tr>")
                                    }
                                </table>
                            }

                            <br />
                        }

                    }
                </div>
                <div class="card-footer">
                    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
                </div>

            </div>
        </div>
    }


</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}
