@model GTI_Mvc.ViewModels.CepViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cadastro de Cep";
}

<style>

    .center {
        margin: auto;
        width: 500px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .modal-ku {
        width: 450px;
        margin: 200px, auto;
    }
</style>

<div class="center">

    @using (Html.BeginForm("Cep_inc", "Shared", FormMethod.Post, new { @id = "MainForm" })) {
        <div class="container" style="width:580px">
            <div class="panel panel-danger">
                <div class="panel-heading">Inclusão de Cep não cadastrado</div>
                <div class="panel-body">
                    <label style="width:50px;font-weight:normal">CEP:</label>

                    @if (@Model.Cep == null) {
                        @Html.TextBoxFor(m => m.Cep, new { @id = "cep", @style = "width:100px;height:25px", @onKeyPress = "return formata(this, '§§§§§-§§§', event)", @Value = "" })
                        <label>&nbsp;&nbsp;</label>
                        <button id="btnCepOk" type="submit" class="btn btn-primary" name="action" value="btnCepOK">Consultar</button>
                    } else {
                        @Html.HiddenFor(m => m.Cep)
                        <label style="color:brown">@Model.Cep&nbsp;&nbsp;</label>
                        <button id="btnCepCancel" type="submit" class="btn btn-danger" onclick="return cancelarCodigo()" name="action" value="btnCepCancel">Cancelar</button>
                    }

                    @if (Model.Cep != null) {
                        <div style="padding-top:20px">
                            <table>
                                <tr>
                                    <td style="width:150px">
                                        Estado
                                    </td>
                                    <td style="width:450px">
                                        @Html.HiddenFor(m => m.Uf)
                                        @Html.TextBoxFor(m => m.NomeUf, new { style = "width:400px;height:25px;color:blue", @readonly = true, @Value = @Model.NomeUf })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:10px">
                                        Cidade
                                    </td>
                                    <td style="padding-top:10px">
                                        @Html.HiddenFor(m => m.Cidade_Codigo)
                                        @Html.TextBoxFor(m => m.Cidade_Nome, new { style = "width:400px;height:25px;color:blue", @readonly = true, @Value = @Model.Cidade_Nome })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:10px">
                                        Bairro
                                    </td>
                                    <td style="padding-top:10px">
                                        @Html.HiddenFor(m => m.Bairro_Codigo)
                                        @Html.TextBoxFor(m => m.Bairro_Nome, new { style = "width:400px;height:25px;color:blue", @readonly = true, @Value = @Model.Bairro_Nome })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:10px">
                                        Logradouro
                                    </td>
                                    <td style="padding-top:10px">
                                        @Html.DropDownListFor(m => m.Logradouro, ViewBag.Logradouro as SelectList, null, new { @id = "LogradouroDropDown", style = "width:400px;height:25px;color:blue", rows = 10 })

                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>


                @if (Model.Cep != null ) {
                    <div class="panel-heading">Adicionar novo endereço ao cep</div>
                    <div class="panel-body ">
                        <div  >
                            <table>
                                <tr>
                                    <td style="padding-top:10px;width:150px">
                                        Cidade
                                    </td>
                                    <td style="padding-top:10px;width:450px">
                                        @if (Model.Cidade_Codigo == 0) {
                                            @Html.DropDownListFor(m => m.Cidade_Codigo_New, ViewBag.Cidade as SelectList, null, new { @id = "CidadeNewDropDown", style = "width:400px;height:25px", rows = 10 })
                                        } else {
                                            @Html.TextBoxFor(m => m.Cidade_Nome, new { style = "width:400px;height:25px;color:blue", @readonly = true, @Value = @Model.Cidade_Nome })
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:10px">
                                        Bairro
                                    </td>
                                    <td style="padding-top:10px">
                                        @Html.DropDownListFor(m => m.Bairro_Codigo_New, ViewBag.Bairro_New as SelectList, null, new { @id = "BairroNewDropDown", style = "width:400px;height:25px", rows = 10 })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:10px">
                                        Logradouro
                                    </td>
                                    <td style="padding-top:10px">
                                        @Html.TextBoxFor(m => m.Logradouro_New, new { @id="LogradouroNewTxt", style = "width:400px;height:25px",  @Value = @Model.Logradouro_New })
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div >
                            @if (ViewBag.Error != null && ViewBag.Error != "") {
                                <label style="font-weight:normal;color:red;padding-left:7px" id="errorLabel">@ViewBag.Error</label>
                            }
                            <br />
                            <button type="submit" class="btn btn-success" name="action" value="btnValida">Gravar</button>&nbsp;&nbsp;
                        </div>
                    </div>
                }

                <div class="panel-footer">
                    @Html.ActionLink("Retornar ao menu de opções", "sysMenu", "Home", null, new { @class = "actionlink" })<br />
                </div>
            </div>
        </div>
    }




</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#CidadeNewDropDown").change(function () {
                if (this.value != '') {
                    $("#MainForm").submit();
                }
            });
        });
             
    </script>
}
