@model GTI_Mvc.ViewModels.CepViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cadastro de Cep";
}

<style>

    .center {
        margin: auto;
        width: 500px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="center">

    @using (Html.BeginForm("Cep_inc", "Shared", FormMethod.Post, new { @id = "MainForm" })) {
        @Html.AntiForgeryToken()
        <div class="center container" style="width:580px">
            <div class="card panel-danger">
                <div class="card-header">Inclusão de Cep não cadastrado</div>
                <div class="card-body" style="font-size:14px">
                    <label style="width:50px;font-weight:normal">CEP:</label>

                    @if (@Model.Cep == null) {
                        @Html.TextBoxFor(m => m.Cep, new { @id = "cep", @style = "width:100px;height:25px", @onKeyPress = "return formata(this, '§§§§§-§§§', event)", @Value = "" })
                        <label>&nbsp;&nbsp;</label>
                        <button id="btnCepOk" type="submit" class="btn btn-primary" name="action" value="btnCepOK">Consultar</button>
                    } else {
                        @Html.HiddenFor(m => m.Cep)
                        <label style="color:brown">@Model.Cep&nbsp;&nbsp;</label>
                        <button id="btnCepCancel" type="submit" class="btn btn-danger" onclick="return cancelarCodigo()" name="action" value="btnCepCancel">Cancelar</button>
                    }

                    @if (Model.Cep != null) {
                        <div style="padding-top:20px">
                            <table  style="font-size:14px">
                                <tr>
                                    <td style="width:150px">
                                        Estado
                                    </td>
                                    <td style="width:450px">
                                        @Html.HiddenFor(m => m.Uf)
                                        @Html.TextBoxFor(m => m.NomeUf, new { style = "width:400px;height:25px;color:blue", @readonly = true, @Value = @Model.NomeUf })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:10px">
                                        Cidade
                                    </td>
                                    <td style="padding-top:10px">
                                        @Html.HiddenFor(m => m.Cidade_Codigo)
                                        @Html.TextBoxFor(m => m.Cidade_Nome, new { style = "width:400px;height:25px;color:blue", @readonly = true, @Value = @Model.Cidade_Nome })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:10px">
                                        Bairro
                                    </td>
                                    <td style="padding-top:10px">
                                        @Html.HiddenFor(m => m.Bairro_Codigo)
                                        @Html.TextBoxFor(m => m.Bairro_Nome, new { style = "width:400px;height:25px;color:blue", @readonly = true, @Value = @Model.Bairro_Nome })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:10px">
                                        Logradouro
                                    </td>
                                    <td style="padding-top:10px">
                                        @Html.DropDownListFor(m => m.Logradouro, ViewBag.Logradouro as SelectList, null, new { @id = "LogradouroDropDown", style = "width:400px;height:25px;color:blue", rows = 10 })

                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>


                @if (Model.Cep != null) {
                    <div class="card-header">Adicionar novo endereço ao cep</div>
                    <div class="card-body  style="font-size:14px"">
                        <div>
                            <table  style="font-size:14px">
                                <tr>
                                    <td style="padding-top:10px;width:150px">
                                        Cidade
                                    </td>
                                    <td style="padding-top:10px;width:450px">
                                        @if (Model.Cidade_Codigo == 0) {
                                            @Html.DropDownListFor(m => m.Cidade_Codigo_New, ViewBag.Cidade as SelectList, null, new { @id = "CidadeNewDropDown", style = "width:400px;height:25px", rows = 10 })
                                        } else {
                                            @Html.TextBoxFor(m => m.Cidade_Nome, new { @id = "cidadeNomeTxt", style = "width:400px;height:25px;color:blue", @readonly = true, @Value = @Model.Cidade_Nome })
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:10px">
                                        Bairro
                                    </td>
                                    <td style="padding-top:10px">
                                        @Html.DropDownListFor(m => m.Bairro_Codigo_New, ViewBag.Bairro_New as SelectList, null, new { @id = "BairroNewDropDown", style = "width:400px;height:25px", rows = 10 })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:10px">
                                        Logradouro
                                    </td>
                                    <td style="padding-top:10px">
                                        @Html.TextBoxFor(m => m.Logradouro_New, new { @id = "LogradouroNewTxt", style = "width:400px;height:25px", @Value = @Model.Logradouro_New })
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            @if (ViewBag.Error != null && ViewBag.Error != "") {
                                <label style="font-weight:normal;color:red;padding-left:7px" id="errorLabel">@ViewBag.Error</label>
                            }
                            <br />
                            <button type="submit" class="btn btn-success" name="action" value="btnValida">Gravar</button>&nbsp;&nbsp;&nbsp;
                            <button type="button" onclick="NewData()" class="btn btn-info" name="action" value="btnBairro">Incluir novo bairro</button>
                        </div>
                    </div>
                }

                <div class="card-footer">
                    @Html.ActionLink("Retornar ao menu de opções", "sysMenu", "Home", null, new { @class = "actionlink" })<br />
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.Bairro_Nome_New, new { @id = "Bairro_Nome_New" })
    }

    <!-- Modal -->
    <div class="modal fade" id="BairroModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-ku" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Incluir novo bairro</h4>
                </div>
                <div class="modal-body">
                    <label style="font-weight:normal">Cidade:&nbsp;</label>
                    <label id="BairroNomeLabel" style="font-weight:normal;color:blue"></label>
                    <br />

                    <label style="font-weight:normal;">Digite o nome do bairro</label>
                    @Html.TextBoxFor(x => x.Bairro_Nome_New, null, new { @id = "BairroNomeTxt", @style = "width:400px;", @maxlength = "50", @Value = "" })
                    <br />
                    <label style="font-weight:normal;color:red;padding-left:7px" id="errorLabel">@ViewBag.Error</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnBairroOk" onclick="return ValidateForm()">Incluir</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</div>



@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#CidadeNewDropDown").change(function () {
                if (this.value != '') {
                    $("#MainForm").submit();
                }
            });
            $("#LogradouroDropDown").change(function () {
                if (this.value != '') {
                    $("#MainForm").submit();
                }
            });
        });

        function NewData() {
            $('#BairroModal').modal();
            var _cidade = document.getElementById('cidadeNomeTxt').value;
            document.getElementById('BairroNomeLabel').innerHTML = _cidade;
            document.getElementById('errorLabel').innerHTML = "";
        }

        function ValidateForm() {
            ClearError();
            var _bairro = document.getElementById('BairroNomeTxt').value;
            if (_bairro == '') {
                document.getElementById('errorLabel').innerHTML = "Digite o nome do bairro";
                return false;
            }
            document.getElementById('Bairro_Nome_New').value = _bairro;
            $('#BairroModal').modal('hide');
            $("#MainForm").submit();
           return true;
        }


        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }


    </script>
}
