@model List<GTI_Mvc.ViewModels.ItbiViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Consulta de certidões de isenção de ITBI";
}

<style>

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="center">

    @using (Html.BeginForm("Itbi_query_isencao", "Itbi", FormMethod.Post, new { @id = "MainForm" })) {
        @Html.AntiForgeryToken()
        <div class="container" style="width:750px">
            <div class="card">
                <div class="card-header">
                    Consulta de certidões de isenção de ITBI
                    @{
                        var selectList = new SelectList(new List<SelectListItem>
                            {
                        new SelectListItem {Text = "Enviado para análise", Value = "1" },
                        new SelectListItem {Text = "Liberado", Value = "5"}
                        }, "Value", "Text");

                        var selectListAno = new SelectList(new List<SelectListItem>
                            {
                        new SelectListItem {Text = "2020", Value = "2020" },
                        new SelectListItem {Text = "2021", Value = "2021"},
                        new SelectListItem {Text = "2022", Value = "2022"},
                        new SelectListItem {Text = "2023", Value = "2023"}
                        }, "Value", "Text");

                    }
                    <Label style="padding-left:10px">Exibir:&nbsp;</Label>@Html.DropDownListFor(m => m[0].Status_Query, selectList, "(Exibir todos os ITBI's)", new { onchange = "this.form.submit()" })
                    <label style="padding-left:20px">
                        Exercício:&nbsp;
                        @if (Model.Count > 0) {
                            @Html.DropDownListFor(m => m[0].Ano_Selected, selectListAno, null, new { @id = "AnoDropDown", @style = "font-weight:normal", onchange = "this.form.submit()", @value = Model[0].Ano_Selected })
                        } else {
                            @Html.DropDownListFor(m => m[0].Ano_Selected, selectListAno, null, new { @id = "AnoDropDown", @style = "font-weight:normal", onchange = "this.form.submit()" })
                        }
                    </label>  <br />
                </div>
                <div class="card-body">
                    <table id="tblMain" class="tableContainer" style="font-size:14px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse">
                        <thead style="background-color:brown;color:white;font-size:14px;font-weight:normal; white-space: nowrap;">
                            <tr style="height:14px;">
                                <td style="display:none">Guid</td>
                                <td style="width:100px;font-weight:normal">Certidão nº</td>
                                <td style="width:90px;font-weight:normal">Data</td>
                                <td style="width:270px;font-weight:normal">Requerida por</td>
                                <td style="width:90px;font-weight:normal">Valida até</td>
                                <td style="width:170px;font-weight:normal">Situação</td>
                                <td style="width:130px"></td>
                            </tr>
                        </thead>
                        <tbody id="tblComprador" class="tableContainer" style="font-size:14px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse;padding-left:10px;">
                            @foreach (var item in Model) {
                                <tr style="height:14px;">
                                    <td style="display:none">@Html.DisplayFor(modelItem => item.Guid)</td>
                                    <td style="width:100px;font-weight:normal">@Html.DisplayFor(modelItem => item.Itbi_NumeroAno)</td>
                                    <td style="width:90px;font-weight:normal"> @DateTime.Parse(Html.DisplayFor(modelItem => item.Data_cadastro).ToString()).ToString("dd/MM/yyyy")</td>
                                    <td style="width:270px;font-weight:normal">@Html.DisplayFor(modelItem => item.Comprador_Nome_tmp)</td>
                                    <td style="width:90px;font-weight:normal">@Html.DisplayFor(modelItem => item.Data_Validade)</td>
                                    <td style="width:170px;font-weight:normal">@Html.DisplayFor(modelItem => item.Situacao_Itbi_Nome)</td>
                                    <td style="width:130px">
                                        <a href="@Url.Action("Itbi_isencao_q", "Itbi", new { p = item.Guid })" title="Visualizar certidão"> <img src="@Url.Content("~/images/Consultar.gif")"></a>
                                        <a href="@Url.Action("Itbi_isencao_cancel", "Itbi", new { p = item.Guid, s = 4 })" onclick="return confirm('Cancelar esta certidão?')" })" title="Cancelar esta certidão"> <img src="@Url.Content("~/images/cancelar.gif")"></a>
                                        @if (item.Situacao_Itbi_codigo == 1) {
                                            <a href="@Url.Action("Itbi_isencao_e", "Itbi", new { guid = item.Guid, s = 4 })" title="Alterar esta certidão"> <img src="@Url.Content("~/images/alterar.gif")"></a>
                                        }
                                        @if (item.Situacao_Itbi_codigo == 5) {
                                            <a href="@Url.Action("Itbi_isencao_print", "Itbi", new { p = item.Guid, u = item.Tipo_Imovel == "Urbano" })" title="Imprimir a certidão"> <img src="@Url.Content("~/images/print.png")"></a>
                                        }
                                        <a href="@Url.Action("Itbi_forum_isencao", "Itbi", new { p = item.Guid })" title="Processo de análise da isenção de ITBI"> <img src="@Url.Content("~/images/observacao.png")"></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="form-group row">
                        <label class="errorlabel" id="errorLabel">@ViewBag.Result</label>
                    </div>

                </div>
                <div class="card-footer">
                    @Html.ActionLink("Retornar ao menu de opções", "Itbi_Menu", "Itbi", null, new { @class = "actionlink" })<br />
                    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
                </div>
            </div>
        </div>
        if (ViewBag.Erro == "C") {
            <script type="text/javascript">
                alert("Apenas Itbis que encontram-se em análise podem ser cancelados!");
            </script>
        } else {
            if (ViewBag.Erro == "P") {
                <script type="text/javascript">
                    alert("A guia de pagamento deste Itbi ainda não foi liberada!");
                </script>
            } else {
                if (ViewBag.Erro == "A") {
                    <script type="text/javascript">
                        alert("Apenas Itbis que encontram-se em análise podem ser alterados!");
                    </script>
                } else {
                    if (ViewBag.Erro == "V") {
                        <script type="text/javascript">
                            alert("Este boleto esta vencido e não pode ser mais emitido!");
                        </script>
                    }
                }
            }
        }
    }
</div>