@model GTI_Mvc.ViewModels.ItbiViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Certidão de não incidência de ITBI";
}


<style>
    .center {
        margin: auto;
        width: 780px;
     
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
        font-family: Arial, Helvetica, sans-serif;
    }
    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="center">

    @using (Html.BeginForm("Itbi_isencao_q", "Itbi", FormMethod.Post, new { @id = "MainForm" })) {
        @Html.AntiForgeryToken()
        <div class="container" style="width:700px">
            <div class="card">
                <div class="card-header">Certidão de não incidência de ITBI nº @Model.Itbi_NumeroAno </div>
                <div class="card-body">
                    <label id="Guidtmp" style="display: none">@Model.Guid</label>
                    @Html.HiddenFor(m => m.Guid, new { @id = "Guid" })@*Armazenar o guid*@
                    @Html.HiddenFor(m => m.Natureza_Isencao_Codigo, new { @id = "Natureza_Isencao_Codigo" })@*Armazenar o guid*@
                    @Html.HiddenFor(m => m.Vendedor_Cpf_cnpj_tmp, new { @id = "Vendedor_Cpf_cnpj_tmp" })@*Armazenar o código do imóvel*@
                    @Html.HiddenFor(m => m.Vendedor_Nome_tmp, new { @id = "Vendedor_Nome_tmp" })@*Armazenar a descrição do imóvel*@
                    @Html.HiddenFor(m => m.Lista_Isencao)
                    <div id="VendedorTable" style="max-height: 247px; overflow: auto;width:630px;padding-top:7px">
                        <table id="tblVendedor" class="tableContainer" style="font-size:13px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse">
                            <thead style="background-color:brown;color:white;font-size:13px;font-weight:normal">
                                <tr style="height:12px;">
                                    <th style="width:20px;font-weight:normal">
                                        #
                                    </th>
                                    <th style="width:60px;font-weight:normal">
                                        Tipo
                                    </th>
                                    <th style="width:60px;font-weight:normal">
                                        Código
                                    </th>
                                    <th style="width:490px;font-weight:normal;text-align:left">
                                        Descrição
                                    </th>
                                    <th style="width:20px;text-align:left">

                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <table id="tblVendedor" class="tableContainer" style="font-size:13px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse;padding-left:10px">
                            @if (Model.Lista_Isencao != null) {
                                foreach (var item in Model.Lista_Isencao) {
                                    if (item != null) {
                                        <tr>
                                            <td style="width:20px;font-weight:normal;color:blue">
                                                @Html.DisplayFor(modelItem => item.Seq)
                                                @Html.HiddenFor(modelItem => item.Seq)
                                            </td>
                                            <td style="width:60px;font-weight:normal;color:blue">
                                                @Html.DisplayFor(modelItem => item.Tipo)
                                                @Html.HiddenFor(modelItem => item.Tipo)
                                            </td>
                                            <td style="width:60px;font-weight:normal;color:blue;text-align:left">
                                                @Html.DisplayFor(modelItem => item.Codigo)
                                                @Html.HiddenFor(modelItem => item.Codigo)
                                            </td>
                                            <td style="width:490px;font-weight:normal;color:blue;text-align:left">
                                                @Html.DisplayFor(modelItem => item.Descricao)
                                                @Html.HiddenFor(modelItem => item.Descricao)
                                            </td>
                                            <td style="width:20px">
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </table>
                    </div>

                    <br />

                    <Label style="font-size:14px">Natureza:&nbsp;@Model.Natureza_Nome  </Label>

                </div>
                <label class="errorlabel" id="errorLabel">@ViewBag.Result</label>
                @if (ViewBag.Fiscal == "S" && Model.Situacao_Itbi_codigo == 1) {
                    <div style="text-align:center">
                        <span style="padding-left:5px"><button type="submit" class="btn btn-primary" , name="button" value="guia">Liberar Certidão</button></span>
                    </div>
                }
                <br />
                <div class="card-footer">
                    @Html.ActionLink("Consultar outra certidão", "Itbi_query_isencao", "Itbi", null, new { @class = "actionlink" })<br />
                    @Html.ActionLink("Retornar ao menu de opções", "Itbi_menu", "Imovel", null, new { @class = "actionlink" })

                </div>
            </div>
        </div>

    }

</div>



