@model GTI_Mvc.ViewModels.ItbiViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ITBI Rural";
}
<link href="~/Content/Baloon.css" rel="stylesheet" />
<style>
    .center {
        margin: auto;
        width: 730px;
        padding: 20px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
        font-size:14px;
    }

    .hidden {
        display: none;
    }

    .show {
        display: block;
    }

    .ui-datepicker {
        margin-top: 30px;
    }
    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>


<div class="center">

    @using (Html.BeginForm("Itbi_rural_e", "Itbi", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {

        <div class="container" style="width:700px">
            <div class="card">
                <div class="card-header">Alteração de ITBI - Nº @Model.Itbi_NumeroAno </div>
                <div class="card-body">

                    <div style="padding-left:7px">

                        <table style="font-size:14px;width:640px">
                            <tr style="height:30px">
                                <td style="width:180px">
                                    <label style="font-weight:normal;padding-top:7px">Cadastro do INCRA:</label>
                                </td>
                                <td style="width:225px">
                                    <label style="font-weight:normal;padding-top:7px">@Html.TextBoxFor(m => m.Inscricao_Incra, new { style = "width:150px;height:25px", @onKeyPress = "return formata(this, '§§§§§§§§§§§§§', event)" })</label>
                                </td>
                                <td style="width:125px">
                                    <label style="font-weight:normal;padding-top:7px">Receita Federal:</label>
                                </td>
                                <td style="width:170px">
                                    <label style="font-weight:normal;padding-top:7px">@Html.TextBoxFor(m => m.Receita_Federal, new { style = "width:150px;height:25px", @onKeyPress = "return formata(this, '§§§§§§§§§§§§§', event)" })</label>
                                </td>
                            </tr>

                        </table>

                        @*<table style="font-size:13px;width:640px">
                            <tr style="height:30px">
                                <td style="width:154px">
                                    <label style="font-weight:normal;padding-top:7px">Proprietário principal:</label>
                                </td>
                                <td>
                                    <label style="font-weight:normal;padding-top:7px">@Html.TextBoxFor(m => m.Dados_Imovel.Proprietario_Nome, new { style = "width:470px;height:25px" })</label>
                                </td>
                            </tr>
                        </table>*@
                        @Html.HiddenFor(m => m.Dados_Imovel.Proprietario_Nome)
                        <label style="font-weight:normal;text-decoration:underline;color:brown;padding-top:7px">Dados do Imóvel:</label><br />

                        <table style="font-size:14px;width:640px">
                            <tr style="height:30px">
                                <td>
                                    <label style="font-weight:normal;padding-top:7px">@Html.TextAreaFor(m => m.Descricao_Imovel, new { @maxlength = "5000", @cols = 86, @rows = 5, @style = "resize:none" })</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                @*#############COMPRADORES###############*@
                <div class="card-header">Dados dos Compradores </div>
                <div class="card-body">

                    <table style="font-size:14px;width:640px">
                        <tr style="height:30px">
                            <td style="width:103px">
                                @if (@Model.Cpf_Cnpj != null && @Model.Cpf_Cnpj != "") {
                                    <label style="font-weight:normal;">Nº Cpf/Cnpj:</label>
                                } else {
                                    <label style="font-weight:normal;padding-left:7px">Nº Cpf/Cnpj:</label>
                                }
                            </td>
                            <td>
                                @if (@Model.Cpf_Cnpj != null && @Model.Cpf_Cnpj != "") {
                                    @Html.TextBoxFor(m => m.Cpf_Cnpj, new { @id = "cpfcnpjc1Txt", @style = "max-width:200px;height:25px;color:blue", @onKeyPress = "return formata(this, '§§§§§§§§§§§§§§', event)", @readonly = true })
                                } else {
                                    @Html.TextBoxFor(m => m.Cpf_Cnpj, new { @id = "cpfcnpjc1Txt", @style = "max-width:200px;height:25px", @onKeyPress = "return formata(this, '§§§§§§§§§§§§§§', event)" })
                                }
                                <span style="padding-left:10px">
                                    @if (@Model.Cpf_Cnpj != null && @Model.Cpf_Cnpj != "") {
                                        <button type="submit" class="btn btn-danger" name="action" value="btnCpfCompradorCancel" data-balloon-length="medium" aria-label="Clique para digitar outro CPF/CNPJ." data-balloon-pos="up">Trocar Comprador</button>
                                    } else {
                                        <button type="submit" class="btn btn-primary" name="action" value="btnCpfCompradorOK" data-balloon-length="medium" aria-label="Clique para verificar o CPF/CNPJ." data-balloon-pos="up">Consultar</button>
                                    }
                                </span><br />
                            </td>
                        </tr>
                    </table>

                    @if (@Model.Cpf_Cnpj != null && @Model.Cpf_Cnpj != "") {

                        <div style="padding-top:5px">
                            <table style="font-size:14px;width:640px">
                                <tr style="height:30px">
                                    <td style="width:103px">
                                        <label style="font-weight:normal">Nome:&nbsp;&nbsp;</label>
                                    </td>
                                    <td>
                                        <label style="font-weight:normal;color:blue">
                                            @if (Model.Comprador.Nome == null) {
                                                @Html.TextBoxFor(m => m.Comprador.Nome, new { style = "width:527px;height:25px", @value = @Model.Comprador.Nome })
                                            } else {
                                                @Html.TextBoxFor(m => m.Comprador.Nome, new { style = "width:527px;height:25px", @readonly = true, @value = @Model.Comprador.Nome })
                                            }
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <table style="font-size:14px;width:640px">
                            <tr style="height:30px">
                                <td style="width:103px">
                                    <label style="font-weight:normal;">Nº do Cep:</label>
                                </td>
                                <td>
                                    <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Comprador.Cep, new { @class = "maskCep", @id = "txtCep", style = "width:90px;height:25px" })</label>
                                    <button type="submit" class="btn btn-info" name="action" value="btnCepCompradorOK" data-balloon-length="medium" aria-label="Digite um Cep válido e clique em pesquisar." data-balloon-pos="up">Pesquisar</button>
                                    <label style="font-size:10px;padding-left:10px">&nbsp;Caso deseje, clique <a href="https://buscacepinter.correios.com.br/app/endereco/index.php" target="_blank">aqui</a> para consultar o Cep</label><span style="color:red">&nbsp;*</span><br /><br />
                                </td>
                            </tr>
                        </table>

                        <div style="padding-top:5px">
                            <table style="font-size:14px;width:640px">
                                <tr style="height:30px">
                                    <td style="width:103px">
                                        <label style="font-weight:normal">Logradouro:</label>
                                    </td>
                                    <td>
                                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Comprador.Logradouro_Nome, new { style = "width:392px;height:25px", @readonly = true })</label>
                                        <label style="font-weight:normal;padding-left:10px">Número:&nbsp;&nbsp;</label><label style="font-weight:normal">
                                            @Html.TextBoxFor(m => m.Comprador.Numero, new { style = "width:60px;height:25px", @onKeyPress = "return formata(this, '§§§§§', event)" })
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table style="font-size:14px;width:640px">
                            <tr style="height:30px">
                                <td style="width:103px">
                                    <label style="font-weight:normal;">Complemento:</label>
                                </td>
                                <td>
                                    <label style="font-weight:normal">@Html.TextBoxFor(m => m.Comprador.Complemento, new { style = "width:230px;height:25px" })</label>

                                </td>
                                <td>
                                    <label style="font-weight:normal">&nbsp;&nbsp;Bairro:&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                    <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Comprador.Bairro_Nome, new { style = "width:230px;height:25px", @readonly = true })</label>
                                </td>
                            </tr>
                            <tr style="height:30px">
                                <td>
                                    <label style="font-weight:normal">Cidade:</label>
                                </td>
                                <td>
                                    <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Comprador.Cidade_Nome, new { style = "width:230px;height:25px", @readonly = true })</label>

                                </td>
                                <td>
                                    <label style="font-weight:normal;padding-left:10px">UF:&nbsp;&nbsp;</label>
                                </td>
                                <td>
                                    <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Comprador.UF, new { style = "width:230px;height:25px", @readonly = true })</label>
                                </td>
                            </tr>
                            <tr style="height:30px">
                                <td>
                                    <label style="font-weight:normal">Telefone:</label>
                                </td>
                                <td>
                                    <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Comprador.Telefone, new { style = "width:230px;height:25px" })</label>

                                </td>
                                <td>
                                    <label style="font-weight:normal;padding-left:10px">Email:</label>
                                </td>
                                <td>
                                    <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Comprador.Email, new { style = "width:230px;height:25px" })</label>
                                </td>
                            </tr>
                        </table>
                        <span style="color:red;font-size:12px">*Caso o cep não retorne os dados do endereço, retorne ao menu de opções e faça o cadastro do mesmo. Mais informações no manual do usuário.</span>
                    }
                </div>

                <div class="card-header">Outros Compradores </div>
                <div class="card-body">

                    <div id="CompradorTable" style="max-height: 247px; overflow: auto;width:700px;padding-top:7px">
                        <table id="tblComprador" class="tableContainer" style="font-size:14px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse">
                            <thead style="background-color:brown;color:white;font-size:14px;font-weight:normal">
                                <tr style="height:14px;">
                                    <th style="width:20px;font-weight:normal">
                                        #
                                    </th>
                                    <th style="width:435px;font-weight:normal">
                                        Nome do comprador
                                    </th>
                                    <th style="width:150px;font-weight:normal">
                                        Cpf ou Cnpj
                                    </th>
                                    <th style="width:20px;text-align:left">

                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <div style="display:none">@Html.EditorFor(model => model.Lista_Comprador)</div>
                        <table id="tblComprador" class="tableContainer" style="font-size:14px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse;padding-left:10px">
                            @foreach (var item in Model.Lista_Comprador) {

                                <tr style="height:18px">
                                    <td style="width:20px;font-weight:normal;color:blue">
                                        @Html.DisplayFor(modelItem => item.Seq)
                                        @Html.HiddenFor(modelItem => item.Seq)
                                    </td>
                                    <td style="width:435px;font-weight:normal;color:blue">
                                        @Html.DisplayFor(modelItem => item.Nome)
                                        @Html.HiddenFor(modelItem => item.Nome)
                                    </td>
                                    <td style="width:150px;font-weight:normal;color:blue">
                                        @Html.DisplayFor(modelItem => item.Cpf_Cnpj)
                                        @Html.HiddenFor(modelItem => item.Cpf_Cnpj)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Itbi_rural_e", "Itbi", new {  @p=Model.Guid,@a = "rc", @s = item.Seq, @guid = Model.Guid })" title="Remover comprador"> <img src="@Url.Content("~/images/cancelar.gif")" /></a>
                                    </td>
                                </tr>
                            }
                        </table>

                    </div>
                    <div style="padding-top:7px;">
                        <button type="button" class="btn btn-info" name="action" value="btnCompradorAdd" onclick="EditarComprador()">Incluir compradores</button>
                    </div>
                </div>

                @Html.HiddenFor(m => m.Dados_Imovel.Inscricao)
                @Html.HiddenFor(m => m.Dados_Imovel.Proprietario_Codigo)
                @Html.HiddenFor(m => m.Dados_Imovel.Proprietario_Nome)
                @Html.HiddenFor(m => m.Comprador.Codigo)
                @Html.HiddenFor(m => m.Comprador.Logradouro_Codigo)
                @Html.HiddenFor(m => m.Comprador.Bairro_Codigo)
                @Html.HiddenFor(m => m.Comprador.Cidade_Codigo)
                @Html.HiddenFor(m => m.Comprador_Cpf_cnpj_tmp, new { @id = "Comprador_Cpf_cnpj_tmp" })
                @Html.HiddenFor(m => m.Comprador_Nome_tmp, new { @id = "Comprador_Nome_tmp" })
                @Html.HiddenFor(m => m.Vendedor_Cpf_cnpj_tmp, new { @id = "Vendedor_Cpf_cnpj_tmp" })
                @Html.HiddenFor(m => m.Vendedor_Nome_tmp, new { @id = "Vendedor_Nome_tmp" })
                @Html.HiddenFor(m => m.Guid)
                @Html.HiddenFor(m => m.Itbi_Ano)
                @Html.HiddenFor(m => m.Itbi_Numero)
                @Html.HiddenFor(m => m.Lista_Anexo)


                @*#############VENDEDORES###############*@
                <div class="card-header">Dados dos Vendedores </div>
                <div class="card-body">

                    <div id="VendedorTable" style="max-height: 247px; overflow: auto;width:700px;padding-top:7px">
                        <table id="tblVendedor" class="tableContainer" style="font-size:13px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse">
                            <thead style="background-color:brown;color:white;font-size:13px;font-weight:normal">
                                <tr style="height:12px;">
                                    <th style="width:20px;font-weight:normal">
                                        #
                                    </th>
                                    <th style="width:435px;font-weight:normal">
                                        Nome do vendedor
                                    </th>
                                    <th style="width:150px;font-weight:normal">
                                        Cpf ou Cnpj
                                    </th>
                                    <th style="width:20px;text-align:left">

                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <div style="display:none">@Html.EditorFor(model => model.Lista_Vendedor)</div>
                        <table id="tblVendedor" class="tableContainer" style="font-size:13px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse;padding-left:10px">
                            @foreach (var item in Model.Lista_Vendedor) {
                                <tr>
                                    <td style="width:20px;font-weight:normal;color:blue">
                                        @Html.DisplayFor(modelItem => item.Seq)
                                        @Html.HiddenFor(modelItem => item.Seq)
                                    </td>
                                    <td style="width:435px;font-weight:normal;color:blue">
                                        @Html.DisplayFor(modelItem => item.Nome)
                                        @Html.HiddenFor(modelItem => item.Nome)
                                    </td>
                                    <td style="width:150px;font-weight:normal;color:blue">
                                        @Html.DisplayFor(modelItem => item.Cpf_Cnpj)
                                        @Html.HiddenFor(modelItem => item.Cpf_Cnpj)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Itbi_rural_e", "Itbi", new { @p=Model.Guid, @a = "rv", @s = item.Seq, @guid = Model.Guid })" title="Remover vendedor"> <img src="@Url.Content("~/images/cancelar.gif")" /></a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div style="padding-top:7px;"><button type="button" class="btn btn-info" name="action" value="btnVendedorAdd" onclick="EditarVendedor()">Incluir vendedores</button></div>
                </div>

                <div class="card-header">Outras informações </div>
                <div class="card-body">
                    <table style="font-size:13px;width:644px">
                        <tr style="height:30px">
                            <td style="width:144px">
                                <label style="font-weight:normal;">Natureza da transação:</label>
                            </td>
                            <td style="width:500px">
                                @Html.DropDownListFor(m => m.Natureza_Codigo, ViewBag.Lista_Natureza as SelectList, "(Selecione...)", new { @id = "NaturezaDropDown", style = "width:490px;height:25px", rows = 10 })
                            </td>
                        </tr>
                    </table>

                    <table style="font-size:13px;width:644px">
                        <tr style="height:30px">
                            <td style="width:143px">
                                <label style="font-weight:normal;">Data da transação:</label>
                            </td>
                            <td style="width:106px;padding-top:3px">
                                @if (Model.Data_Transacao != null && Model.Data_Transacao != DateTime.MinValue) {
                                    <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Data_Transacao, new { @id = "dataTransacao", @class = "maskData", style = "width:90px;height:25px;text-align:center", @Value = Convert.ToDateTime(@Model.Data_Transacao).ToString("dd/MM/yyyy") })</label>
                                } else {
                                    <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Data_Transacao, new { @id = "dataTransacao", @class = "maskData", style = "width:90px;height:25px;text-align:center", @Value = "" })</label>
                                }
                            </td>
                            <td style="width:130px">
                                <label style="font-weight:normal;">Tipo Financiamento:</label>
                            </td>
                            <td style="width:265px">
                                @Html.DropDownListFor(m => m.Tipo_Financiamento, ViewBag.Lista_Financiamento as SelectList, "(Selecione se for financiamento...)", new { @id = "FinanciamentoDropDown", style = "width:255px;height:25px", rows = 10 })
                            </td>
                        </tr>
                    </table>
                    <table style="font-size:13px;width:644px">
                        <tr style="height:30px">
                            <td style="width: 330px">
                                <label style="font-weight:normal;">Recursos próprios:</label>
                            </td>
                            <td style="width: 100px">
                                @if (Model.Tipo_Financiamento == 0) {
                                    <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Recursos_proprios_valor, new { id = "txtRecursoProprio", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Recursos_proprios_valor.ToString("0.#0"), @readonly = true })</label>
                                } else {
                                    <label style="font-weight:normal">@Html.TextBoxFor(m => m.Recursos_proprios_valor, new { id = "txtRecursoProprio", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Recursos_proprios_valor.ToString("0.#0") })</label>
                                }
                            </td>
                            <td style="width: 34px">
                                <label style="font-weight:normal;">Aliq.:</label>
                            </td>
                            <td style="width: 40px">
                                <label style="font-weight:normal;color:blue">1,5%</label>
                            </td>
                            <td style="width: 40px">
                                <label style="font-weight:normal;">Valor:</label>
                            </td>
                            <td style="width: 100px">
                                <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Recursos_proprios_atual, new { id = "txtRecursoProprioAtual", style = "width:90px;height:25px;text-align:right", @Value = Model.Recursos_proprios_atual.ToString("0.#0"), @readonly = true })</label>
                            </td>
                        </tr>
                        <tr style="height:30px">
                            <td style="width: 330px">
                                <label style="font-weight:normal;">Recursos conta vinculada do FGTS:</label>
                            </td>
                            <td style="width: 100px">
                                @if (Model.Tipo_Financiamento == 0) {
                                    <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Recursos_conta_valor, new { id = "txtRecursoConta", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Recursos_conta_valor.ToString("0.#0"), @readonly = true })</label>
                                } else {
                                    <label style="font-weight:normal">@Html.TextBoxFor(m => m.Recursos_conta_valor, new { id = "txtRecursoConta", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Recursos_conta_valor.ToString("0.#0") })</label>
                                }
                            </td>
                            <td style="width: 34px">
                                <label style="font-weight:normal;">Aliq.:</label>
                            </td>
                            <td style="width: 40px">
                                <label style="font-weight:normal;color:blue">1,5%</label>
                            </td>
                            <td style="width: 40px">
                                <label style="font-weight:normal;">Valor:</label>
                            </td>
                            <td style="width: 100px">
                                <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Recursos_conta_atual, new { id = "txtRecursoContaAtual", style = "width:90px;height:25px;text-align:right", @Value = Model.Recursos_conta_atual.ToString("0.#0"), @readonly = true })</label>
                            </td>
                        </tr>
                        <tr style="height:30px">
                            <td style="width: 330px">
                                <label style="font-weight:normal;">Recursos concedidos pelo FGTS na forma de desconto:</label>
                            </td>
                            <td style="width: 100px">
                                @if (Model.Tipo_Financiamento == 0) {
                                    <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Recursos_concedido_valor, new { id = "txtRecursoConcedido", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Recursos_concedido_valor.ToString("0.#0"), @readonly = true })</label>
                                } else {
                                    <label style="font-weight:normal">@Html.TextBoxFor(m => m.Recursos_concedido_valor, new { id = "txtRecursoConcedido", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Recursos_concedido_valor.ToString("0.#0") })</label>
                                }
                            </td>
                            <td style="width: 34px">
                                <label style="font-weight:normal;">Aliq.:</label>
                            </td>
                            <td style="width: 40px">
                                <label style="font-weight:normal;color:blue">0,5%</label>
                            </td>
                            <td style="width: 40px">
                                <label style="font-weight:normal;">Valor:</label>
                            </td>
                            <td style="width: 100px">
                                <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Recursos_concedido_atual, new { id = "txtRecursoConcedidoAtual", style = "width:90px;height:25px;text-align:right", @Value = Model.Recursos_concedido_atual.ToString("0.#0"), @readonly = true })</label>
                            </td>
                        </tr>
                        <tr style="height:30px">
                            <td style="width: 330px">
                                <label style="font-weight:normal;">Financiamento concedido pala CREDORA:</label>
                            </td>
                            <td style="width: 100px">
                                @if (Model.Tipo_Financiamento == 0) {
                                    <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Financiamento_valor, new { id = "txtFinanciamento", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Financiamento_valor.ToString("0.#0"), @readonly = true })</label>
                                } else {
                                    <label style="font-weight:normal">@Html.TextBoxFor(m => m.Financiamento_valor, new { id = "txtFinanciamento", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Financiamento_valor.ToString("0.#0") })</label>
                                }
                            </td>
                            <td style="width: 34px">
                                <label style="font-weight:normal;">Aliq.:</label>
                            </td>
                            <td style="width: 40px">
                                <label style="font-weight:normal;color:blue">0,5%</label>
                            </td>
                            <td style="width: 40px">
                                <label style="font-weight:normal;">Valor:</label>
                            </td>
                            <td style="width: 100px">
                                <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Financiamento_atual, new { id = "txtFinanciamentoAtual", style = "width:90px;height:25px;text-align:right", @Value = Model.Financiamento_atual.ToString("0.#0"), @readonly = true })</label>
                            </td>
                        </tr>
                    </table>
                    <table style="font-size:13px;width:644px">
                        <tr style="height:30px">
                            <td style="width:150px">
                                <label style="font-weight:normal;">Valor da transação:</label>
                            </td>
                            <td style="width:114px">
                                @if (Model.Tipo_Financiamento == 0) {
                                    if (Model.Valor_Transacao > 0) {
                                        <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Valor_Transacao, new { id = "txtValorTransacao", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Valor_Transacao.ToString("0.#0") })</label>
                                    } else {
                                        <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Valor_Transacao, new { id = "txtValorTransacao", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = "0,00" })</label>
                                    }
                                } else {
                                    if (Model.Valor_Transacao > 0) {
                                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Valor_Transacao, new { id = "txtValorTransacao", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Valor_Transacao.ToString("0.#0"), @readonly = true })</label>
                                    } else {
                                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Valor_Transacao, new { id = "txtValorTransacao", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = "0,00", @readonly = true })</label>
                                    }
                                }
                            </td>
                            <td style="width:82px">
                                <label style="font-weight:normal;">Valor ITR:</label>
                            </td>
                            <td style="width:338px">
                                @if (Model.Valor_Venal > 0) {
                                    <label style="font-weight:normal">@Html.TextBoxFor(m => m.Valor_Venal, new { id = "txtValorVenal", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Valor_Venal.ToString("0.#0") })</label>
                                } else {
                                    <label style="font-weight:normal">@Html.TextBoxFor(m => m.Valor_Venal, new { id = "txtValorVenal", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = "0,00" })</label>
                                }
                            </td>
                        </tr>
                    </table>


                    <table style="font-size:13px;width:644px">
                        <tr style="height:30px">
                            <td style="width:544px">
                                <label style="font-weight:normal">Valor da avaliação do imóvel (resgate alienação fiduciária):</label>
                            </td>
                            <td style="width:100px;padding-top:2px">
                                @if (Model.Valor_Avaliacao > 0) {
                                    <label style="font-weight:normal">@Html.TextBoxFor(m => m.Valor_Avaliacao, new { id = "txtAvaliacao", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Valor_Avaliacao.ToString("0.#0") })</label>
                                } else {
                                    <label style="font-weight:normal">@Html.TextBoxFor(m => m.Valor_Avaliacao, new { id = "txtAvaliacao", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = "0,00" })</label>
                                }
                            </td>
                        </tr>
                        <tr style="height:30px">
                            <td style="width:544px">
                                <label style="font-weight:normal">Valor da transação atualizado pelo fisco:<span style="color:brown;font-size:12px">Valor da transação poderá sofrer atualização monetária <br />conforme disposto no §7º,artigo 118 da Lei Complementar 07/1992, introduzido pela Lei Complementar 162/2015.</span></label>
                            </td>
                            <td style="width:100px;padding-top:2px">
                                @if (ViewBag.Fiscal == "S") {
                                    if (Model.Valor_Avaliacao_atual > 0) {
                                        <label style="font-weight:normal">@Html.TextBoxFor(m => m.Valor_Avaliacao_atual, new { id = "txtAvaliacao2", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Valor_Avaliacao_atual.ToString("0.#0") })</label>
                                    } else {
                                        <label style="font-weight:normal">@Html.TextBoxFor(m => m.Valor_Avaliacao_atual, new { id = "txtAvaliacao2", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = "0,00" })</label>
                                    }
                                } else {
                                    if (Model.Valor_Avaliacao_atual > 0) {
                                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Valor_Avaliacao_atual, new { id = "txtAvaliacao2", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Valor_Avaliacao_atual.ToString("0.#0"), @readonly = true })</label>
                                    } else {
                                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Valor_Avaliacao_atual, new { id = "txtAvaliacao2", @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = "0,00", @readonly = true })</label>
                                    }
                                }
                            </td>
                        </tr>
                    </table>


                    <table style="font-size:13px;width:640px">
                        <tr style="height:30px">
                            <td style="width:140px;padding-top:5px">
                                <label style="font-weight:normal;">Tipo de Instrumento:</label>
                            </td>
                            <td style="width:500px">
                                @foreach (var tipo in Model.Lista_Instrumento) {
                                    @Html.RadioButtonFor(model => model.Tipo_Instrumento, tipo) <span>&nbsp;</span>@tipo<span>&nbsp;&nbsp;</span>
                                }
                            </td>
                        </tr>
                    </table>
                    <table style="font-size:13px;width:644px">
                        <tr style="height:38px">
                            <td style="width:310px;padding-top:5px">
                                <label style="font-weight:normal;">Esta sendo transmitido a totalidade do imóvel?:</label>
                            </td>
                            <td style="width:136px">
                                @if (Model.Totalidade == "Sim" || Model.Totalidade == null) {
                                    @Html.RadioButtonFor(model => model.Totalidade, "Sim", new { @id = "totalChk", @onclick = "radioCheck()", @checked = true })<label style="font-weight:normal">&nbsp;Sim&nbsp;&nbsp;</label>
                                    @Html.RadioButtonFor(model => model.Totalidade, "Não", new { @id = "totalChk", @onclick = "radioCheck()" })<label style="font-weight:normal">&nbsp;Não&nbsp;&nbsp;</label>
                                } else {
                                    @Html.RadioButtonFor(model => model.Totalidade, "Sim", new { @id = "totalChk", @onclick = "radioCheck()" })<label style="font-weight:normal">&nbsp;Sim&nbsp;&nbsp;</label>
                                    @Html.RadioButtonFor(model => model.Totalidade, "Não", new { @id = "totalChk", @onclick = "radioCheck()", @checked = true })<label style="font-weight:normal">&nbsp;Não&nbsp;&nbsp;</label>
                                }

                            </td>
                            <td style="width:97px;padding-top:5px">
                                @if (Model.Totalidade == "Sim" || Model.Totalidade == null) {
                                    <label style="font-weight:normal;display:none" id="percLabel">% transmitido:</label>
                                } else {
                                    <label style="font-weight:normal;display:block" id="percLabel">% transmitido:</label>
                                }
                            </td>
                            <td style="width:101px;padding-top:5px">
                                @if (Model.Totalidade == "Sim" || Model.Totalidade == null) {
                                    if (Model.Totalidade_Perc > 0) {
                                        <label style="font-weight:normal;display:none" id="percLabel2"> @Html.TextBoxFor(m => m.Totalidade_Perc, new { @id = "percTxt", @class = "maskPerc", style = "width:90px;height:25px;text-align:right", @Value = Model.Totalidade_Perc.ToString("0.#0") })</label>
                                    } else {
                                        <label style="font-weight:normal;display:none" id="percLabel2"> @Html.TextBoxFor(m => m.Totalidade_Perc, new { @id = "percTxt", @class = "maskPerc", style = "width:90px;height:25px;text-align:right", @Value = "" })</label>
                                    }
                                } else {
                                    if (Model.Totalidade_Perc > 0) {
                                        <label style="font-weight:normal;display:block" id="percLabel2"> @Html.TextBoxFor(m => m.Totalidade_Perc, new { @id = "percTxt", @class = "maskPerc", style = "width:90px;height:25px;text-align:right", @Value = Model.Totalidade_Perc.ToString("0.#0") })</label>
                                    } else {
                                        <label style="font-weight:normal;display:block" id="percLabel2"> @Html.TextBoxFor(m => m.Totalidade_Perc, new { @id = "percTxt", @class = "maskPerc", style = "width:90px;height:25px;text-align:right", @Value = "" })</label>
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                    <table style="font-size:13px;width:644px">
                        <tr style="height:25px">
                            <td style="width:200px;padding-top:5px">
                                <label style="font-weight:normal;">Cartório de Registro de Imóvel:</label>
                            </td>
                            <td style="width:143px;padding-top:5px">
                                <label style="font-weight:normal;color:blue">JABOTICABAL</label>
                            </td>
                            <td style="width:200px;padding-top:5px ">
                                <label style="font-weight:normal;">Matrícula/Transcrição do imóvel:</label>
                            </td>
                            <td style="width:101px">
                                @if (Model.Matricula > 0) {
                                    <label style="font-weight:normal">@Html.TextBoxFor(m => m.Matricula, new { style = "width:90px;height:25px;text-align:right", @onKeyPress = "return formata(this, '§§§§§§§', event)", @Value = Model.Matricula })</label>
                                } else {
                                    <label style="font-weight:normal">@Html.TextBoxFor(m => m.Matricula, new { style = "width:90px;height:25px;text-align:right", @onKeyPress = "return formata(this, '§§§§§§§', event)", @Value = "" })</label>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-header">Valor da guia para pagamento </div>
                <div class="card-body">

                    <table style="font-size:13px;width:640px">
                        <tr style="height:30px">
                            <td style="width:60px;padding-top:3px">
                                <label style="font-weight:normal;">Valor da guia:</label>
                            </td>
                            <td style="width:120px;padding-top:3px">
                                @if (Model.Valor_guia > 0) {
                                    <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Valor_guia, new { @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Valor_guia.ToString("0.#0"), @readonly = true })</label>
                                } else {
                                    <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Valor_guia, new { @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = "0,00", @readonly = true })</label>
                                }
                            </td>
                            <td style="width:110px;padding-top:3px">
                                <label style="font-weight:normal;">Valor atualizado pelo fiscal:</label>
                            </td>
                            <td style="width:120px;padding-top:3px">
                                @if (ViewBag.Fiscal == "S") {
                                    if (Model.Valor_guia_atual > 0) {
                                        <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Valor_guia_atual, new { @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Valor_guia_atual.ToString("0.#0") })</label>
                                    } else {
                                        <label style="font-weight:normal;">@Html.TextBoxFor(m => m.Valor_guia_atual, new { @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = "0,00" })</label>
                                    }
                                } else {
                                    if (Model.Valor_guia_atual > 0) {
                                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Valor_guia_atual, new { @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = Model.Valor_guia_atual.ToString("0.#0"), @readonly = true })</label>
                                    } else {
                                        <label style="font-weight:normal;color:blue">@Html.TextBoxFor(m => m.Valor_guia_atual, new { @class = "maskValor", style = "width:90px;height:25px;text-align:right", @Value = "0,00", @readonly = true })</label>
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="color:brown;font-size:12px">
                                Atenção: Este valor é simulado com base nas informações fornecidas e poderá ser alterado conforme análise da documentação pelo fiscal.
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="card-header">Inclusão de Anexos </div>
                <div class="card-body">
                    <div id="VendedorTable" style="max-height: 247px; overflow: auto;width:640px;padding-top:7px">
                        <table id="tblVendedor" class="tableContainer" style="font-size:13px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse">
                            <thead style="background-color:brown;color:white;font-size:13px;font-weight:normal">
                                <tr style="height:12px;">
                                    <th style="width:20px;font-weight:normal">
                                        #
                                    </th>
                                    <th style="width:350px;font-weight:normal">
                                        Descrição do anexo
                                    </th>
                                    <th style="width:230px;font-weight:normal">
                                        Nome do Arquivo
                                    </th>
                                    <th style="width:20px;text-align:left">

                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <div style="display:none">@Html.EditorFor(model => model.Lista_Vendedor)</div>
                        <table id="tblVendedor" class="tableContainer" style="font-size:13px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse;padding-left:10px">
                            @foreach (var item in Model.Lista_Anexo) {
                                <tr>
                                    <td style="width:20px;font-weight:normal;color:blue">
                                        @Html.DisplayFor(modelItem => item.Seq)
                                        @Html.HiddenFor(modelItem => item.Seq)
                                    </td>
                                    <td style="width:350px;font-weight:normal;color:blue">
                                        @Html.DisplayFor(modelItem => item.Nome)
                                        @Html.HiddenFor(modelItem => item.Nome)
                                    </td>
                                    <td style="width:230px;font-weight:normal;color:blue">
                                        @Html.DisplayFor(modelItem => item.Arquivo)
                                        @Html.HiddenFor(modelItem => item.Arquivo)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Itbi_rural_e", "Itbi", new { @a = "ra", @s = item.Seq, @p = Model.Guid })" title="Remover anexo"> <img src="@Url.Content("~/images/cancelar.gif")" /></a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <br />


                    <input style="width:610px" id="imageUpload" type="file" name="file" accept="application/pdf" /><br />
                    <table>
                        <tr>
                            <td style="font-size:13px;width:200px">
                                Digite a descrição do arquivo:
                            </td>
                            <td style="width:450px">
                                <label style="font-weight:normal">@Html.TextBoxFor(m => m.Anexo_Desc_tmp, new { style = "width:440px;height:25px", @maxlength = "100", @Value = "" })</label>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="color:brown;font-size:12px">
                                Anexar ITR,Matrícula, Minuta Escritura, Contrato Venda e Compra, Outros.<br />
                                ** Enviar somente arquivos no formato Pdf com tamanho máximo de 4Mb
                            </td>

                        </tr>
                    </table>
                    <div style="padding-top:7px;"><button type="submit" class="btn btn-info" name="action" value="btnAnexoAdd">Incluir anexo</button></div>
                </div>





                @if (ViewBag.Error != null && ViewBag.Error != "") {
                    <div class="form-group row">
                        <label style="font-weight:normal;color:red;padding-left:28px" id="errorLabel">@ViewBag.Error</label>
                    </div>
                }
            </div>
        </div>


        if (Model.Codigo != null && Model.Codigo.Trim() != "") {
            <div style="text-align:center">
                <br />
                <button type="submit" class="btn btn-primary" name="action" value="btnValida" data-balloon-length="medium" aria-label="Enviar formulário para análise." data-balloon-pos="up">Enviar</button>&nbsp;&nbsp;
                @*<button type="submit" class="btn btn-success" name="action" value="btnPrint" data-balloon-length="medium" aria-label="Imprimir os dados do formulário." data-balloon-pos="up">Imprimir</button>*@
            </div>
        }
        <div style="padding-left:15px">@Html.ActionLink("Retornar ao menu de opções", "Itbi_menu", "Itbi", null, new { @class = "actionlink" })</div>
    }
    <!-- Modal Comprador -->
    <div class="modal fade" id="CompradorModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar outro comprador</h4>
                </div>
                <div class="modal-body">

                    <table>
                        <tr style="height:30px">
                            <td>
                                <label style="font-weight:normal;font-size:14px">Digite o Cpf/Cnpj:&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <input id="cpfcnpjc2Txt" name="Cpf_Cnpj_comprador" onKeyPress="return formata(this, '§§§§§§§§§§§§§§', event)" onpaste="return false" style="width:150px;height:25px;font-size:14px" type="text" value="" />
                            </td>
                        </tr>
                        <tr style="height:30px">
                            <td>
                                <label style="font-weight:normal;font-size:14px">Digite o Nome:&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <input id="nomec2Txt" name="nome_comprador" style="width:350px;height:25px;font-size:14px" type="text" value="" />
                            </td>
                        </tr>
                    </table>
                    <br />

                    <label style="font-weight:normal;color:red;padding-left:7px" id="errorComprador">@ViewBag.Error</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnCompradorOk">Incluir</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Vendedor -->
    <div class="modal fade" id="VendedorModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar vendedor</h4>
                </div>
                <div class="modal-body">

                    <table>
                        <tr style="height:30px">
                            <td>
                                <label style="font-weight:normal;font-size:14px">Digite o Cpf/Cnpj:&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <input id="cpfcnpjc3Txt" name="Cpf_Cnpj_vendedor" onKeyPress="return formata(this, '§§§§§§§§§§§§§§', event)" onpaste="return false" style="width:150px;height:25px;font-size:14px" type="text" value="" />
                            </td>
                        </tr>
                        <tr style="height:30px">
                            <td>
                                <label style="font-weight:normal;font-size:14px">Digite o Nome:&nbsp;&nbsp;</label>
                            </td>
                            <td>
                                <input id="nomec3Txt" name="nome_vendedor" style="width:350px;height:25px;font-size:14px" type="text" value="" />
                            </td>
                        </tr>
                    </table>
                    <br />

                    <label style="font-weight:normal;color:red;padding-left:7px" id="errorVendedor">@ViewBag.Error</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnVendedorOk">Incluir</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Erro -->
    <div class="modal fade" id="ErrorModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">A declaração possui os seguintes erros:</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        @if (Model.Lista_Erro != null) {
                            foreach (string item in Model.Lista_Erro) {
                                <li>
                                    @item
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
           

            //$(".maskValor").inputmask('Regex', { regex: "^[0-9]{1,8}(\\,\\d{1,2})?$" });
            $(".maskValor").mask("99999999,00", { reverse: true });
            $(".maskPerc").inputmask('Regex', { regex: "^[0-9]{1,3}(\\,\\d{1,2})?$" });
            $(".maskData").inputmask("99/99/9999");
            $(".maskCep").inputmask("99999-999");

            $("#FinanciamentoDropDown").change(function () {
                if (this.value != '') {
                    $("input[name='Recursos_proprios_valor']").css({ "color": "black" });
                    $("input[name='Recursos_proprios_valor']").prop('readonly', false);
                    $("input[name='Recursos_conta_valor']").css({ "color": "black" });
                    $("input[name='Recursos_conta_valor']").prop('readonly', false);
                    $("input[name='Recursos_concedido_valor']").css({ "color": "black" });
                    $("input[name='Recursos_concedido_valor']").prop('readonly', false);
                    $("input[name='Financiamento_valor']").css({ "color": "black" });
                    $("input[name='Financiamento_valor']").prop('readonly', false);
                    $("input[name='Valor_Transacao']").css({ "color": "blue" });
                    $("input[name='Valor_Transacao']").prop('readonly', true);

                }
                else {
                    $("input[name='Recursos_proprios_valor']").val('0,00');
                    $("input[name='Recursos_proprios_atual']").val('0,00');
                    $("input[name='Recursos_proprios_valor']").css({ "color": "blue" });
                    $("input[name='Recursos_proprios_valor']").prop('readonly', true);
                    $("input[name='Recursos_conta_valor']").val('0,00');
                    $("input[name='Recursos_conta_atual']").val('0,00');
                    $("input[name='Recursos_conta_valor']").css({ "color": "blue" });
                    $("input[name='Recursos_conta_valor']").prop('readonly', true);
                    $("input[name='Recursos_concedido_valor']").val('0,00');
                    $("input[name='Recursos_concedido_atual']").val('0,00');
                    $("input[name='Recursos_concedido_valor']").css({ "color": "blue" });
                    $("input[name='Recursos_concedido_valor']").prop('readonly', true);
                    $("input[name='Financiamento_valor']").val('0,00');
                    $("input[name='Financiamento_atual']").val('0,00');
                    $("input[name='Financiamento_valor']").css({ "color": "blue" });
                    $("input[name='Financiamento_valor']").prop('readonly', true);
                    $("input[name='Valor_Transacao']").css({ "color": "black" });
                    $("input[name='Valor_Transacao']").prop('readonly', false);
                    $("input[name='Valor_Transacao']").val('0,00');
                    calcula_guia();
                }
            });
            calcula_guia();

            $("#txtValorTransacao").on('input', function () {
                calcula_guia();
            });

            $("#txtAvaliacao").on('input', function () {
                calcula_guia();
            });

            $("#txtAvaliacao2").on('input', function () {
                calcula_guia();
            });

            $("#txtValorVenal").on('input', function () {
                calcula_guia();
            });

            $("#percTxt").on('input', function () {
                calcula_guia();
            });

            $("#txtRecursoProprio").on('input', function () {
                var _rp = document.getElementById('txtRecursoProprio').value;
                var _rp2 = Number(_rp.replace(/[^0-9.-]+/g, "."));
                var _rp3 = parseFloat(_rp2) ;
                $("input[name='Recursos_proprios_atual']").val((_rp3 * 0.015).toFixed(2).replace(".", ","));
                calcula_guia();
            });

            $("#txtRecursoConta").on('input', function () {
                var _rc = document.getElementById('txtRecursoConta').value;
                var _rc2 = Number(_rc.replace(/[^0-9.-]+/g, "."));
                var _rc3 = parseFloat(_rc2);
                $("input[name='Recursos_conta_atual']").val((_rc3 * 0.015).toFixed(2).replace(".", ","));
                calcula_guia();
            });

            $("#txtRecursoConcedido").on('input', function () {
                var _rd = document.getElementById('txtRecursoConcedido').value;
                var _rd2 = Number(_rd.replace(/[^0-9.-]+/g, "."));
                var _rd3 = parseFloat(_rd2);
                $("input[name='Recursos_concedido_atual']").val((_rd3 * 0.005).toFixed(2).replace(".", ","));
                calcula_guia();
            });

            $("#txtFinanciamento").on('input', function () {
                var _fn = document.getElementById('txtFinanciamento').value;
                var _fn2 = Number(_fn.replace(/[^0-9.-]+/g, "."));
                var _fn3 = parseFloat(_fn2);
                $("input[name='Financiamento_atual']").val((_fn3 * 0.005).toFixed(2).replace(".", ","));
                calcula_guia();
            });

        });

        function calcula_guia() {
            var _tf = document.getElementById('FinanciamentoDropDown').value;
            if (_tf != "") {
                var _rpa = document.getElementById('txtRecursoProprioAtual').value;
                var _rpa2 = Number(_rpa.replace(/[^0-9.-]+/g, "."));
                var _rca = document.getElementById('txtRecursoContaAtual').value;
                var _rca2 = Number(_rca.replace(/[^0-9.-]+/g, "."));
                var _rda = document.getElementById('txtRecursoConcedidoAtual').value;
                var _rda2 = Number(_rda.replace(/[^0-9.-]+/g, "."));
                var _fna = document.getElementById('txtFinanciamentoAtual').value;
                var _fna2 = Number(_fna.replace(/[^0-9.-]+/g, "."));
                var _somaa = (parseFloat(_rpa2) + parseFloat(_rca2) + parseFloat(_rda2) + parseFloat(_fna2));
                var _rp = document.getElementById('txtRecursoProprio').value;
                var _rp2 = Number(_rp.replace(/[^0-9.-]+/g, "."));
                var _rc = document.getElementById('txtRecursoConta').value;
                var _rc2 = Number(_rc.replace(/[^0-9.-]+/g, "."));
                var _rd = document.getElementById('txtRecursoConcedido').value;
                var _rd2 = Number(_rd.replace(/[^0-9.-]+/g, "."));
                var _fn = document.getElementById('txtFinanciamento').value;
                var _fn2 = Number(_fn.replace(/[^0-9.-]+/g, "."));
                var _soma = (parseFloat(_rp2) + parseFloat(_rc2) + parseFloat(_rd2) + parseFloat(_fn2));
                $("input[name='Valor_Transacao']").val(_soma.toFixed(2).replace(".", ","));
            } else {
                var _somaa = 0;
                var _vt = document.getElementById('txtValorTransacao').value;
                _soma = _vt;
                _soma = parseFloat(_vt.replace(",", "."));

            }
            var _vv = document.getElementById('txtValorVenal').value;
            var _vv2 = Number(_vv.replace(/[^0-9.-]+/g, "."));
            var _somavv = (parseFloat(_vv2));

            var _av = document.getElementById('txtAvaliacao').value;
            var _av2 = Number(_av.replace(/[^0-9.-]+/g, "."));
            var _somaav = (parseFloat(_av2));

            var _ava = document.getElementById('txtAvaliacao2').value;
            var _ava2 = Number(_ava.replace(/[^0-9.-]+/g, "."));
            var _somaava = (parseFloat(_ava2));

            var _perc = document.getElementById('percTxt').value;
            var _perc2 = Number(_perc.replace(/[^0-9.-]+/g, "."));
            var _percvv = (parseFloat(_perc2));
            if (_percvv = 0)
                _percvv = 100;
            else
                _percvv = (parseFloat(_perc2));

            var _somavvoriginal = _somavv;
            if (_percvv > 0) {
                _somavv = _somavv * _percvv / 100;
            }

            if (_somaa > 0 && _somavv > 0) {
                _somavv = _somavv * 0.015;
                if (_soma > _somavv) {
                    $("input[name='Valor_guia']").val((_somaa).toFixed(2).replace(".", ","));
                } else {
                    $("input[name='Valor_guia']").val((_somavv).toFixed(2).replace(".", ","));
                }
            } else {
                //if (_soma > _somavvoriginal) {
                if (_soma > _somavv) {

                    if (_tf == "") {
                        $("input[name='Valor_guia']").val((_soma * 0.015).toFixed(2).replace(".", ","));
                    } else {
                        $("input[name='Valor_guia']").val((_somaa).toFixed(2).replace(".", ","));
                    }
                }
                else
                    $("input[name='Valor_guia']").val((_somavv * 0.015).toFixed(2).replace(".", ","));

                if (_somaav > _soma && _somaav > _somavv)
                    $("input[name='Valor_guia']").val((_somaav * 0.015).toFixed(2).replace(".", ","));

                if (_somaava > _somaav && _somaava > _soma && _somaava > _somavv)
                    $("input[name='Valor_guia']").val((_somaava * 0.015).toFixed(2).replace(".", ","));
            }


        }

        function cancelarCodigo() {
            if (confirm('Deseja cancelar este ITBI?')) {
                return true;
            } else {
                return false;
            }
        }

        function EditarComprador() {
            $('#CompradorModal').modal();
            document.getElementById('errorComprador').innerHTML = "";
        }

        function EditarVendedor() {
            $('#VendedorModal').modal();
            document.getElementById('errorVendedor').innerHTML = "";
        }

        $(document).ready(function () {
            $('#btnCompradorOk').click(function () {
                var cpfcompradorback = $("#CompradorModal #cpfcnpjc2Txt").val();
                var nomecompradorback = $("#CompradorModal #nomec2Txt").val();
                if (cpfcompradorback.trim() == "" || nomecompradorback.trim() == "" || cpfcompradorback == null || nomecompradorback == null) {
                    document.getElementById('errorComprador').innerHTML = "Digite o nome e o documento";
                } else {

                    var cnpjtmp = cpfcompradorback.padStart(14, '0');
                    var cpftmp = cpfcompradorback.padStart(11, '0');
                    var cpfcnpj = "";
                    if (cpfcompradorback.length > 11) {
                        if (!valida_Cnpj(cnpjtmp)) {
                            document.getElementById('errorComprador').innerHTML = "Nº de Cnpj inválido.";
                        } else {
                            cpfcnpj = cnpjtmp;
                        }
                    } else {
                        if (valida_Cpf(cnpjtmp)) {
                            cpfcnpj = cnpjtmp;
                        } else {
                            if (!valida_Cpf(cpftmp)) {
                                document.getElementById('errorComprador').innerHTML = "Nº de Cpf inválido.";
                            } else {
                                cpfcnpj = cpftmp;
                            }
                        }
                    }
                    if (cpfcnpj == "") {
                        document.getElementById('errorComprador').innerHTML = "Nº de Cpf/Cnpj inválido.";
                    } else {
                        document.getElementById('Comprador_Cpf_cnpj_tmp').value = cpfcnpj;
                        document.getElementById('Comprador_Nome_tmp').value = nomecompradorback;
                        $("#CompradorModal #cpfcnpjc2Txt").val("");
                        $("#CompradorModal #nomec2Txt").val("");
                        $("#CompradorModal #errorComprador").val("");
                        $('#CompradorModal').modal('hide');
                        $("#MainForm").submit();
                    }
                }
            });
            $('#btnVendedorOk').click(function () {
                var cpfvendedorback = $("#VendedorModal #cpfcnpjc3Txt").val();
                var nomevendedorback = $("#VendedorModal #nomec3Txt").val();
                if (cpfvendedorback.trim() == "" || nomevendedorback.trim() == "" || cpfvendedorback == null || nomevendedorback == null) {
                    document.getElementById('errorVendedor').innerHTML = "Digite o nome e o documento";
                } else {

                    var cnpjtmp = cpfvendedorback.padStart(14, '0');
                    var cpftmp = cpfvendedorback.padStart(11, '0');
                    var cpfcnpj = "";
                    if (cpfvendedorback.length > 11) {
                        if (!valida_Cnpj(cnpjtmp)) {
                            document.getElementById('errorVendedor').innerHTML = "Nº de Cnpj inválido.";
                        } else {
                            cpfcnpj = cnpjtmp;
                        }
                    } else {
                        if (valida_Cnpj(cnpjtmp)) {
                            cpfcnpj = cnpjtmp;
                        } else {
                            if (!valida_Cpf(cpftmp)) {
                                document.getElementById('errorVendedor').innerHTML = "Nº de Cpf inválido.";
                            } else {
                                cpfcnpj = cpftmp;
                            }
                        }
                    }
                    if (cpfcnpj == "") {
                        document.getElementById('errorVendedor').innerHTML = "Nº de Cpf/Cnpj inválido.";
                    } else {
                        document.getElementById('Vendedor_Cpf_cnpj_tmp').value = cpfcnpj;
                        document.getElementById('Vendedor_Nome_tmp').value = nomevendedorback;
                        $("#VendedorModal #cpfcnpjc3Txt").val("");
                        $("#VendedorModal #nomec3Txt").val("");
                        $("#VendedorModal #errorVendedor").val("");
                        $('#VendedorModal').modal('hide');
                        $("#MainForm").submit();
                    }
                }
            });

            var model = @Html.Raw(Json.Encode(Model.Lista_Erro));
            if (model.length >0) {
                $('#ErrorModal').modal('show');
            }
        });

     
        function radioCheck() {
            var index = $("input[id=totalChk]:checked").val();
            if (index=="Não") {
                document.getElementById('percLabel').style.display = 'block';
                document.getElementById('percLabel2').style.display = 'block';
            }
            else {
                document.getElementById('percLabel').style.display = 'none';
                document.getElementById('percLabel2').style.display = 'none';
            }
        }

        $(function () {$("#fileUpload").change(function () {
                if (undefined != this.files) {
                    var f = this.files[0]
                    var id = this.id;
                    var extArray = new Array("dll", "exe");
                    var ext = f.name.replace(/^.*?\.([a-zA-Z0-9]+)$/, "$1");
                    if (ext == extArray[0] || ext == extArray[1]) {
                        alert("O sistema não permite anexar arquivos com extensão(.exe,.dll). Tente anexar outroa rquivo.");
                        //reset file upload control
                        $("#" + this.id).replaceWith($("#" + this.id).clone(true));
                        this.value = null;
                        return false;
                    }
                    //here I CHECK if the FILE SIZE is bigger than 5 MB (numbers below are in bytes)
                    else if (f.size > 4194304 || f.fileSize > 4194304) {
                        //show an alert to the user
                        alert("Tamanho máximo excedido. (Max. 4 MB)");
                        this.value = null;
                        //reset file upload control
                        $("#" + this.id).replaceWith($("#" + this.id).clone(true));
                        return false;
                    }
                }
            })
        });

        function valida_Cpf(cpf) {
            cpf = cpf.split("").filter(n => (Number(n) || n == 0)).join("");
            var numeros, digitos, soma, i, resultado, digitos_iguais;
            digitos_iguais = 1;
            if (cpf.length < 11)
                return false;
            for (i = 0; i < cpf.length - 1; i++)
                if (cpf.charAt(i) != cpf.charAt(i + 1)) {
                    digitos_iguais = 0;
                    break;
                }
            if (!digitos_iguais) {
                numeros = cpf.substring(0, 9);
                digitos = cpf.substring(9);
                soma = 0;
                for (i = 10; i > 1; i--)
                    soma += numeros.charAt(10 - i) * i;
                resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                if (resultado != digitos.charAt(0))
                    return false;
                numeros = cpf.substring(0, 10);
                soma = 0;
                for (i = 11; i > 1; i--)
                    soma += numeros.charAt(11 - i) * i;
                resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                if (resultado != digitos.charAt(1))
                    return false;
                return true;
            }
            else
                return false;
        }

        function valida_Cnpj(cnpj) {

            cnpj = cnpj.replace(/[^\d]+/g, '');

            if (cnpj == '') return false;

            if (cnpj.length != 14)
                return false;

            // Elimina CNPJs invalidos conhecidos
            if (cnpj == "00000000000000" ||
                cnpj == "11111111111111" ||
                cnpj == "22222222222222" ||
                cnpj == "33333333333333" ||
                cnpj == "44444444444444" ||
                cnpj == "55555555555555" ||
                cnpj == "66666666666666" ||
                cnpj == "77777777777777" ||
                cnpj == "88888888888888" ||
                cnpj == "99999999999999")
                return false;

            // Valida DVs
            tamanho = cnpj.length - 2
            numeros = cnpj.substring(0, tamanho);
            digitos = cnpj.substring(tamanho);
            soma = 0;
            pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2)
                    pos = 9;
            }
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(0))
                return false;

            tamanho = tamanho + 1;
            numeros = cnpj.substring(0, tamanho);
            soma = 0;
            pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2)
                    pos = 9;
            }
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(1))
                return false;

            return true;

        }

    </script>
}
