@model GTI_Mvc.ViewModels.ImovelDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layoutgti.cshtml";
    ViewBag.Title = "Alterar dados cadastrais";
}

<style>

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: darkslategrey;
        color: whitesmoke;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ui-dialog {
        z-index: 1060 !important;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }

    .no-titlebar .ui-dialog-titlebar {
        display: none;
    }

    .uppercase {
        text-transform: uppercase
    }

    .ui-autocomplete {
        font-size: 13px;
        border-radius: 0px;
        border-color: maroon;
    }

    .highlight {
        background-color: #FFFFAF;
        color: Red;
        font-weight: bold;
        text-transform: uppercase
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
        background: darkred !important;
        font-weight: bold !important;
        color: #ffffff !important;
    }

    ul.ui-autocomplete {
        z-index: 1100;
    }

    .tbl tbody tr:hover {
        background-color: red;
        color: white;
    }

    tr.highlighted td {
        background: maroon;
        color: white;
    }

    .titulo {
        background: maroon;
        color: white;
        font-weight: normal;
        font-size: 13px;
    }

    .btnimage {
        border: 0 none;
        background: none;
        background-image: url('../../Images/cancelar.gif');
        width: 16px;
        height: 16px;
    }

    .btnimage2 {
        border: 0 none;
        background: none;
        background-image: url('../../Images/ok.png');
        width: 16px;
        height: 16px;
    }

    .shadow {
        -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
        box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }

    .ellipsis {
        position: relative;
    }

        .ellipsis:before {
            content: '&nbsp;';
            visibility: hidden;
        }

        .ellipsis span {
            position: absolute;
            left: 0;
            right: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }


    #mainTable thead {
        position: absolute;
        background-color: white;
    }

    #mainTable tbody {
        position: absolute;
        height: 270px;
        top: 88px;
        overflow: auto;
    }

    .modal-dialog {
        max-width: 430px; /* New width for default modal */
    }
</style>



@{
    var res = @ViewBag.Result;
    var cod = ViewBag.Codigo;
}

@using (Html.BeginForm("imovel_edit", "sysImob", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
    if (Model.ImovelStruct != null) {


        <div class="center shadow" style="width:570px">
            <div class="card">
                <div class="card-header">Dados do imóvel</div>
                <div class="card-body">
                    <table id="headerTable" style="font-size:13px">
                        <tr>
                            <td>Código:&nbsp; <span style="color: brown">@Model.ImovelStruct.Codigo.ToString("00000")</span>&nbsp;&nbsp;Inscrição:&nbsp; <span style="color: brown">@Model.ImovelStruct.Inscricao</span>       </td>
                        </tr>
                        <tr>
                            <td>Condomínio:&nbsp; <span style="color: brown">@Model.ImovelStruct.NomeCondominio</span> </td>
                        </tr>
                    </table>
                    <table style="font-size: 13px; font-family: Arial, Helvetica, sans-serif;">

                        <tr>
                            <td style="padding-bottom:3px"><span style="font-size:13px">Imóvel possui Imunidade:&nbsp;&nbsp;</span></td>
                            <td>
                                @if (Model.ImovelStruct.Imunidade == true) {
                                    <input type="radio" id="imuneSimOpt" name="imopt" value="S"  checked="checked">
                                    <span style="font-size:13px;color:darkgreen">Sim&nbsp;&nbsp;</span>
                                    <input type="radio" id="imuneNaoOpt" name="imopt" value="N">
                                    <span style="font-size:13px;color:darkred">Não&nbsp;&nbsp;</span>
                                } else {
                                    <input type="radio" id="imuneSimOpt" name="imopt" value="S">
                                    <span style="font-size:13px;color:darkgreen">Sim&nbsp;&nbsp;</span>
                                    <input type="radio" id="imuneNaoOpt" name="imopt" value="N" checked="checked">
                                    <span style="font-size:13px;color:darkred">Não&nbsp;&nbsp;</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:3px"><span style="font-size:13px">Imóvel isento da CIP:&nbsp;&nbsp;</span></td>
                            <td>
                                @if (Model.ImovelStruct.Cip == true) {
                                    <input type="radio" id="cipSimOpt" name="cipopt" value="S" checked="checked">
                                    <span style="font-size:13px;color:darkgreen">Sim&nbsp;&nbsp;</span>
                                    <input type="radio" id="cipNaoOpt" name="cipopt" value="N">
                                    <span style="font-size:13px;color:darkred">Não&nbsp;&nbsp;</span>
                                } else {
                                    <input type="radio" id="cipSimOpt" name="cipopt" value="S">
                                    <span style="font-size:13px;color:darkgreen">Sim&nbsp;&nbsp;</span>
                                    <input type="radio" id="cipNaoOpt" name="cipopt" value="N" checked="checked">
                                    <span style="font-size:13px;color:darkred">Não&nbsp;&nbsp;</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:3px">Prop. Reside no Imóvel:</td>
                            <td>
                                @if (Model.ImovelStruct.ResideImovel == true) {
                                    <input type="radio" id="resSimOpt" name="resopt" value="S" checked="checked">
                                    <span style="font-size:13px;color:darkgreen">Sim&nbsp;&nbsp;</span>
                                    <input type="radio" id="resNaoOpt" name="resopt" value="N">
                                    <span style="font-size:13px;color:darkred">Não&nbsp;&nbsp;</span>
                                } else {
                                    <input type="radio" id="resSimOpt" name="resopt" value="S">
                                    <span style="font-size:13px;color:darkgreen">Sim&nbsp;&nbsp;</span>
                                    <input type="radio" id="resNaoOpt" name="resopt" value="N" checked="checked">
                                    <span style="font-size:13px;color:darkred">Não&nbsp;&nbsp;</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:3px">Imóvel conjugado:</td>
                            <td>
                                @if (Model.ImovelStruct.Conjugado == true) {
                                    <input type="radio" id="cjSimOpt" name="cjopt" value="S" checked="checked">
                                    <span style="font-size:13px;color:darkgreen">Sim&nbsp;&nbsp;</span>
                                    <input type="radio" id="cjNaoOpt" name="cjopt" value="N">
                                    <span style="font-size:13px;color:darkred">Não&nbsp;&nbsp;</span>
                                } else {
                                    <input type="radio" id="cjSimOpt" name="cjopt" value="S">
                                    <span style="font-size:13px;color:darkgreen">Sim&nbsp;&nbsp;</span>
                                    <input type="radio" id="cjNaoOpt" name="cjopt" value="N" checked="checked">
                                    <span style="font-size:13px;color:darkred">Não&nbsp;&nbsp;</span>
                                }
                            </td>
                        </tr>
                    </table>


                </div>
                <div class="card-header">Proprietário(s) </div>
                <div class="card-body ">
                    <table style="font-size:13px;color:brown">
                        @foreach (GTI_Models.Models.ProprietarioStruct prop in Model.Lista_Proprietario) {
                            @Html.Raw(" <tr><td>")
                            if (@prop.Principal) {
                                @prop.Nome @Html.Raw(" (Principal)");
                            } else {
                                @prop.Nome;
                            }
                            @Html.Raw("</td></tr>")
                        }
                    </table>
                    <label style="padding-top:7px;font-size:13px">Proprietário reside no imóvel:</label>
                    <label style="font-size:13px;color:brown">
                        @if (Model.ImovelStruct.ResideImovel == true) {
                            @Html.Raw("Sim")
                        } else {
                            @Html.Raw("Não")
                        }
                    </label>
                </div>
                <div class="card-header">Localização </div>
                <div class="card-body ">
                    <table style="font-size:13px">
                        <tr>
                            <td>Endereço:&nbsp; <span style="color: brown">@Model.ImovelStruct.NomeLogradouro @Html.Raw(", ") @Model.ImovelStruct.Numero.ToString() @Html.Raw(" ") @Model.ImovelStruct.Complemento</span></td>

                        </tr>
                        <tr>
                            <td>Bairro:&nbsp; <span style="color: brown">@Model.ImovelStruct.NomeBairro</span>&nbsp;&nbsp;CEP:&nbsp; <span style="color: brown">@Model.ImovelStruct.Cep</span></td>
                        </tr>
                        <tr>
                            <td style="a">Lote:&nbsp; <span style="color: brown">@Model.ImovelStruct.LoteOriginal</span>&nbsp;&nbsp;Quadra:&nbsp; <span style="color: brown">@Model.ImovelStruct.QuadraOriginal</span></td>
                        </tr>
                    </table>


                    <label style="font-size:13px;text-decoration:underline;font-weight:bold;padding-top:5px">Endereço de Entrega</label>
                    <br />
                    <table style="font-size:13px">
                        <tr>
                            <td>
                                Tipo de Endereço:&nbsp; <span style="color: brown">
                                    @if (Model.ImovelStruct.EE_TipoEndereco == 0) {
                                        @Html.Raw("Endereço de Localização")
                                    } else {
                                        if (Model.ImovelStruct.EE_TipoEndereco == 1) {
                                            @Html.Raw("Endereço do Proprietário")
                                        } else {
                                            @Html.Raw("Endereço de Entrega")
                                        }
                                    }
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Endereço:&nbsp; <span style="color: brown">@Model.Endereco_Entrega.Endereco @Html.Raw(", ") @Model.Endereco_Entrega.Numero.ToString() @Html.Raw(" ") @Model.Endereco_Entrega.Complemento</span></td>
                        </tr>
                        <tr>
                            <td>Bairro:&nbsp; <span style="color: brown">@Model.Endereco_Entrega.NomeBairro</span>&nbsp;&nbsp;CEP:&nbsp; <span style="color: brown">@Model.Endereco_Entrega.Cep</span></td>
                        </tr>
                        <tr>
                            <td>Cidade:&nbsp; <span style="color: brown">@Model.Endereco_Entrega.NomeCidade</span>&nbsp;&nbsp;UF:&nbsp; <span style="color: brown">@Model.Endereco_Entrega.UF</span></td>
                        </tr>
                    </table>
                </div>
                <div class="card-header">Dados Territoriais </div>
                <div class="card-body ">

                    <table style="font-size:13px">
                        <tr>
                            <td>Área do Terreno:&nbsp; <span style="color: brown">@Model.ImovelStruct.Area_Terreno.ToString("#0.00")  m²</span> &nbsp;&nbsp;Fração Ideal: <span style="color: brown">&nbsp;@Model.ImovelStruct.FracaoIdeal.ToString("#0.00") m²</span></td>
                        </tr>
                        <tr>
                            <td>Topografia:&nbsp; <span style="color: brown">@Model.ImovelStruct.Topografia_Nome</span>&nbsp;&nbsp;Situação:&nbsp; <span style="color: brown">@Model.ImovelStruct.Situacao_Nome</span></td>
                        </tr>
                        <tr>
                            <td>Categoria:&nbsp; <span style="color: brown">@Model.ImovelStruct.Categoria_Nome</span>&nbsp;&nbsp;Pedologia:&nbsp; <span style="color: brown">@Model.ImovelStruct.Pedologia_Nome</span></td>
                        </tr>
                        <tr>
                            <td>Benfeitoria:&nbsp; <span style="color: brown">@Model.ImovelStruct.Benfeitoria_Nome</span>&nbsp;&nbsp;Uso Construção:&nbsp; <span style="color: brown">@Model.ImovelStruct.Uso_terreno_Nome</span></td>
                        </tr>

                    </table>
                </div>
                <div class="card-header">Testadas do imóvel</div>
                <div class="card-body ">
                    <table style="font-size:13px;width:90px">
                        <thead style="background-color:darkred;color:whitesmoke">
                            <tr style="height:10px">
                                <td style="width:20px;text-align:right">Face</td>
                                <td style="width:70px;text-align:right">Metros</td>
                            </tr>
                        </thead>
                        @foreach (GTI_Models.Models.Testada testada in Model.Lista_Testada) {
                            @Html.Raw(" <tr>")
                            @Html.Raw("<td style=" + "width:20px;text-align:right" + " >")
                            @testada.Numface.ToString("00") ;
                            @Html.Raw("</td>")
                            @Html.Raw(" <td style=" + "width:70px;text-align:right" + " >")
                            @testada.Areatestada.ToString("#0.00") ;
                            @Html.Raw("</td>")
                            @Html.Raw("</tr>")
                        }
                    </table>
                </div>
                <div class="card-header">Áreas Construidas</div>
                <div class="card-body ">
                    <table style="font-size:13px;width:530px">
                        <thead style="background-color:darkred;color:whitesmoke">
                            <tr style="height:10px">
                                <td style="width:20px;text-align:center">Seq</td>
                                <td style="width:100px;text-align:left">Uso</td>
                                <td style="width:100px;text-align:left">Tipo</td>
                                <td style="width:90px;text-align:left">Categoria</td>
                                <td style="width:100px;text-align:right">Área m²</td>
                                <td style="width:80px;text-align:center">Data</td>
                                <td style="width:40px;text-align:center">Pav.</td>
                            </tr>
                        </thead>
                        @{decimal _total = 0; }
                        @foreach (GTI_Models.Models.AreaStruct area in Model.Lista_Areas) {
                            { _total += area.Area; };
                            @Html.Raw(" <tr>")
                            @Html.Raw("<td style=" + "width:20px;text-align:center" + " >")
                            @area.Seq ;
                            @Html.Raw("</td>")
                            @Html.Raw(" <td style=" + "width:100px;text-align:left" + " >")
                            @area.Uso_Nome ;
                            @Html.Raw("</td>")
                            @Html.Raw(" <td style=" + "width:100px;text-align:left" + " >")
                            @area.Tipo_Nome ;
                            @Html.Raw("</td>")
                            @Html.Raw(" <td style=" + "width:100px;text-align:left" + " >")
                            @area.Categoria_Nome ;
                            @Html.Raw("</td>")
                            @Html.Raw("<td style=" + "width:90px;text-align:right" + " >")
                            @area.Area ;
                            @Html.Raw("</td>")
                            @Html.Raw("<td style=" + "width:80px;text-align:center" + " >")
                            @Convert.ToDateTime(area.Data_Aprovacao).ToString("dd/MM/yyyy");
                            @Html.Raw("</td>")
                            @Html.Raw("<td style=" + "width:40px;text-align:center" + " >")
                            @area.Pavimentos;
                            @Html.Raw("</td>")
                            @Html.Raw("</tr>")
                        }
                    </table>
                    <label style="padding-top:7px;font-size:13px">Área total construida:</label>
                    <label style="font-size:13px;color:brown">
                        @_total@Html.Raw(" m²")
                    </label>
                </div>

                <div class="card-footer" style="text-align:center;background-color:white">
                    <button type="button" id="btnEditar" class="btn btn-primary" style="height: 32px; margin-left: 10px;" title="Alterar os dados cadastrais" onclick="Editar()">Alterar</button>&nbsp;&nbsp;
                    <button type="button" id="btnFechar" class="btn btn-danger" style="height: 32px; margin-left: 10px; width: 80px" title="Fechar" onclick="Fechar()">Fechar</button>
                </div>

                <div class="card-footer">
                    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
                </div>
            </div>
        </div>
    }
}
<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>
<div id="msgBoxWait" style='display: none;text-align:center'>
    <img src="~/Images/ajax-loader.gif"><br />
    <p>Processando, aguarde . . . </p>
</div>



@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {


            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
             $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $('#msgBoxWait').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "no-titlebar"
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            // Jquery draggable
            $('.modal-dialog').draggable({
                handle: ".modal-header"
            });

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }
        });



        function Fechar() {
            var _cod = '@cod';
            window.location.href = "localhost" ? "/sysImob/imovel_data?cod=" + _cod : "/gti/sysImob/imovel_data?cod=" + _cod;
        }

        //######## Funções Genéricas #########
        function removeOptions(selectElement) {
            var i, L = selectElement.options.length - 1;
            for (i = L; i >= 0; i--) {
                selectElement.remove(i);
            }
        }

        function subNull(value) {
            return (value === null) ? "" : value;
        }

        function elementIsEmpty(el) {
            return (/^(\s|&nbsp;)*$/.test(el));
        }

        function pad(num, size) {
            num = num.toString();
            while (num.length < size) num = "0" + num;
            return num;
        }

        //####################################
    </script>
}
