@model GTI_Mvc.ViewModels.BairroViewModel

@{
    Layout = "~/Views/Shared/_Layoutgti.cshtml";
    ViewBag.Title = "Cadastro de Bairros";
}

<style>

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: darkslategrey;
        color: whitesmoke;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ui-dialog {
        z-index: 1060 !important;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }

    .no-titlebar .ui-dialog-titlebar {
        display: none;
    }

    .uppercase {
        text-transform: uppercase
    }

    .ui-autocomplete {
        font-size: 13px;
        border-radius: 0px;
        border-color: maroon;
    }

    .highlight {
        background-color: #FFFFAF;
        color: Red;
        font-weight: bold;
        text-transform: uppercase
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
        background: darkred !important;
        font-weight: bold !important;
        color: #ffffff !important;
    }

    ul.ui-autocomplete {
        z-index: 1100;
    }

    .tbl tbody tr:hover {
        background-color: red;
        color: white;
    }

    tr.highlighted td {
        background: maroon;
        color: white;
    }

    .titulo {
        background: maroon;
        color: white;
        font-weight: normal;
        font-size: 13px;
    }

    .btnimage {
        border: 0 none;
        background: none;
        background-image: url('../../Images/cancelar.gif');
        width: 16px;
        height: 16px;
    }

    .btnimage2 {
        border: 0 none;
        background: none;
        background-image: url('../../Images/ok.png');
        width: 16px;
        height: 16px;
    }

    .shadow {
        -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
        box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }


</style>



@{var res = @ViewBag.Result; }

@using (Html.BeginForm("Bairro_Edit", "Parametro", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Bairro_Codigo, new { @id = "CodBairro" })
    @Html.HiddenFor(m => m.Bairro_Nome, new { @id = "NomeBairro" })

    <div class="center shadow" style="width:350px">
        <div class="card" >
            <div class="card-header">Cadastro de Bairros</div>
            <div class="card-body"  >
                <span style="font-size:12px;color:maroon">Estado</span><br />
                @Html.DropDownListFor(m => Model.UF_Sigla, ViewBag.ListaUF as SelectList, null, new { @id = "UFDropDown", @style = "font-weight:normal;width:220px", onchange = "Carrega_Cidade()" })<br />
                <div style="padding-top:8px">
                    <span style=" font-size:12px;color:maroon;">Cidade</span><br />
                    @Html.DropDownListFor(m => Model.Cidade_Codigo, new SelectList(Enumerable.Empty<SelectListItem>()), null, new { @id = "CidadeDropDown", @style = "font-weight:normal;width:300px", onchange = "Carrega_Bairro()" })
                </div>

                <div style="padding-top:8px;">
                    <span style=" font-size: 12px; color: maroon">Lista de Bairros</span><br />
                    <div id="table-container" style="overflow-x: auto; height: 290px; overflow: auto;border:solid;border-width:1px">

                        <table id="bairroTable" style="width:290px;" class="tbl table-bordered table-condensed">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="card-footer" style="text-align:center;background-color:white">
                <button type="button" id="btnNovo" class="btn btn-primary" style="height:32px;width:80px" title="Cadastrar um novo bairro">Novo</button>
                <button type="button" id="btnAlterar" class="btn btn-info" style="height: 32px; margin-left: 10px; width: 80px" title="Alterar o bairro selecionado">Alterar</button>
                <button type="button" id="btnFechar" class="btn btn-danger" style="height: 32px; margin-left: 10px; width: 80px" title="Fechar" onclick="Fechar()">Fechar</button>
            </div>

            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>
        </div>
    </div>
}

<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>
<div id="msgBoxWait" style='display: none;text-align:center'>
    <img src="~/Images/ajax-loader.gif"><br />
    <p>Processando, aguarde . . . </p>
</div>


<div class="modal" id="addModal">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>Cadastrar novo bairro</span>
            </div>
            <div class="modal-body">
                <input id="nomeTxt" placeholder="Digite o nome do bairro" style="font-size:13px;width:270px" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="Inserir_Save">Gravar</button>&nbsp;
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="editModal">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>Alterar nome do bairro</span>
            </div>
            <div class="modal-body">
                <input id="nome2Txt" placeholder="Digite o nome do bairro" style="font-size:13px;width:270px" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="Alterar_Save">Gravar</button>&nbsp;
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
             $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $('#msgBoxWait').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "no-titlebar"
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            // Jquery draggable
            $('.modal-dialog').draggable({
                handle: ".modal-header"
            });

//            dragElement(document.getElementById("mainDiv"));

            $("#UFDropDown").val("SP");
            Carrega_Cidade();
            Carrega_Bairro();
            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }
        });

        $("#bairroTable").on('click', 'tr', function (e) {
            $('#bairroTable tr').removeClass('highlighted');
            $(this).addClass('highlighted');
            document.getElementById('CodBairro').value = $(this).closest('tr').find('td:eq(0)').text();
            document.getElementById('NomeBairro').value = $(this).closest('tr').find('td:eq(1)').text();
        });

        $('#btnNovo').click(function () {
            $('#addModal').modal({ backdrop: 'static', keyboard: false });
        });

        $('#btnAlterar').click(function () {
            var _nome = document.getElementById("NomeBairro").value;
            if (_nome == '') {
                document.getElementById('lblMsg').innerHTML = "Selecione um Bairro!";
                $('#msgBox1').dialog('open');
            } else {
                $("#editModal #nome2Txt").val(_nome);
                document.getElementById('NomeBairro').value = '';
                $('#editModal').modal({ backdrop: 'static', keyboard: false });
            }
        });

        $('#Alterar_Save').click(function () {
            var _uf = document.getElementById("UFDropDown").value;
            var _cidade = document.getElementById("CidadeDropDown").value;
            var _bairro = document.getElementById("CodBairro").value;
            var _nome = document.getElementById("nome2Txt").value;

            $.ajax({
                type: "Post",
                url: location.hostname == "localhost" ? "/Parametro/Alterar_Bairro" : "/gti/Parametro/Alterar_Bairro",
                dataType: 'json',
                success: function (data) {
                    if (data.Success == "True") {
                        Carrega_Bairro();
                        $('#editModal').modal('hide');
                    } else {
                        document.getElementById('lblMsg').innerHTML = "Ocorreu um erro ao gravar!";
                        $('#msgBox1').dialog('open');
                    }
                },
                data: {
                    uf: _uf,
                    cidade: _cidade,
                    bairro: _bairro,
                    novo_nome: _nome
                }
            });

        });

        $('#Inserir_Save').click(function () {
            var _nome = document.getElementById("nomeTxt").value;
            var _uf = document.getElementById("UFDropDown").value;
            var _cidade = document.getElementById("CidadeDropDown").value;

            if (_nome=='') {
                document.getElementById('lblMsg').innerHTML = "Digite o nome do novo bairro!";
                $('#msgBox1').dialog('open');
                return false;
            }

             $.ajax({
                type: "Post",
                url: location.hostname == "localhost" ? "/Parametro/Incluir_Bairro" : "/gti/Parametro/Incluir_Bairro",
                dataType: 'json',
                success: function (data) {
                    if (data.Success == "True") {
                        Carrega_Bairro();

                        $('#addModal').modal('hide');
                    } else {
                        document.getElementById('lblMsg').innerHTML = data.Msg;
                        $('#msgBox1').dialog('open');
                    }
                },
                data: {
                    uf: _uf,
                    cidade: _cidade,
                    bairro: _nome
                }
            });
        });

        $('#addModal').on('hidden.bs.modal', function (e) {
            $(this)
                .find("input,textarea,select")
                .val('')
                .end()
        })

        $('#editModal').on('hidden.bs.modal', function (e) {
            $(this)
                .find("input,textarea,select")
                .val('')
                .end()
        })


        function Carrega_Cidade() {
            var _uf = document.getElementById("UFDropDown").value;
            $('#msgBoxWait').dialog('open');
            removeOptions(document.getElementById('CidadeDropDown'));
            var url = '@Url.Action("Lista_Cidade", "Parametro")';
            $.getJSON(url, { uf: _uf }, function (data) {
                var dropdown = $('#CidadeDropDown');
                $.each(data, function() {
                    dropdown.append(
                        $("<option></option>").text(this.Desccidade).val(this.Codcidade)
                    );
                });
                $('#msgBoxWait').dialog('close');
                if (_uf == 'SP') {
                    $("#CidadeDropDown").val("413");
                }
                Carrega_Bairro();
            });

        }

        function Carrega_Bairro() {
            $("#bairroTable tbody tr").remove();
            var _uf = document.getElementById("UFDropDown").value;
            var _cidade = document.getElementById("CidadeDropDown").value;

            var i = 0;
            var url = '@Url.Action("Lista_Bairro", "Parametro")';
            $.getJSON(url, { uf: _uf, cidade: _cidade }, function (data) {
                $.each(data, function () {
                    var tr;
                        tr = $('<tr id="' + data[i].Codbairro + '" style="height: 12px; font-weight: normal; font-size: 12px; white-space: nowrap; cursor: pointer"  />');
                        tr.append("<td style='display:none'>" + data[i].Codbairro + "</td>");
                        tr.append("<td style='width:100px'>" + data[i].Descbairro + "</td>");
                        $("#bairroTable").find('tbody').append(tr);
                        i++;
                });
            });
        }

        function Fechar() {
            var url = '@Url.Action("GtiSys", "Home")';
            window.location.href = url;
        }




        //######## Funções Genéricas #########
        function removeOptions(selectElement) {
            var i, L = selectElement.options.length - 1;
            for (i = L; i >= 0; i--) {
                selectElement.remove(i);
            }
        }

        function subNull(value) {
            return (value === null) ? "" : value;
        }

        function elementIsEmpty(el) {
            return (/^(\s|&nbsp;)*$/.test(el));
        }

        function dragElement(elmnt) {
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            if (document.getElementById(elmnt.id + "header")) {
                /* if present, the header is where you move the DIV from:*/
                document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
            } else {
                /* otherwise, move the DIV from anywhere inside the DIV:*/
                elmnt.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // calculate the new cursor position:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // set the element's new position:
                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
            }

            function closeDragElement() {
                /* stop moving when mouse button is released:*/
                document.onmouseup = null;
                document.onmousemove = null;
            }
        }

        //####################################
    </script>
}
