@model GTI_Mvc.ViewModels.BairroViewModel

@{
    Layout = "~/Views/Shared/_Layoutgti.cshtml";
    ViewBag.Title = "Cadastro de Bairros";
}

<style>
    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: darkslategrey;
        color: whitesmoke;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }

    .no-titlebar .ui-dialog-titlebar {
        display: none;
    }

    .uppercase {
        text-transform: uppercase
    }

    .ui-autocomplete {
        font-size: 13px;
        border-radius: 0px;
        border-color: maroon;
    }

    .highlight {
        background-color: #FFFFAF;
        color: Red;
        font-weight: bold;
        text-transform: uppercase
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
        background: darkred !important;
        font-weight: bold !important;
        color: #ffffff !important;
    }

    ul.ui-autocomplete {
        z-index: 1100;
    }

    .tbl tbody tr:hover {
        background-color: red;
        color: white;
    }

    tr.highlighted td {
        background: maroon;
        color: white;
    }

    .titulo {
        background: maroon;
        color: white;
        font-weight: normal;
        font-size: 13px;
    }

    .btnimage {
        border: 0 none;
        background: none;
        background-image: url('../../Images/cancelar.gif');
        width: 16px;
        height: 16px;
    }

    .btnimage2 {
        border: 0 none;
        background: none;
        background-image: url('../../Images/ok.png');
        width: 16px;
        height: 16px;
    }
</style>

@{
    var res = @ViewBag.Result;
   
} 

<div class="center" style="width:370px">
    @using (Html.BeginForm("Bairro_Edit", "Parametro", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Bairro_Codigo, new { @id = "Bairro" })

        <div class="container">
            <div class="card">
                <div class="card-header">Cadastro de Bairros</div>
                <div class="card-body">
                    <span style="font-size:12px;color:maroon">Estado</span><br />
                    @Html.DropDownListFor(m => Model.UF_Sigla, ViewBag.ListaUF as SelectList, null, new { @id = "UFDropDown", @style = "font-weight:normal;width:220px", onchange = "Carrega_Cidade(this)" })<br />
                    <div style="padding-top:8px">
                        <span style=" font-size:12px;color:maroon;">Cidade</span><br />
                        @Html.DropDownListFor(m => Model.Cidade_Codigo, new SelectList(Enumerable.Empty<SelectListItem>()), null, new { @id = "CidadeDropDown", @style = "font-weight:normal;width:300px", onchange = "Carrega_Bairro()" })
                    </div>

                    <div style="padding-top:8px;">
                        <span style=" font-size: 12px; color: maroon">Lista de Bairros</span><br />
                        <div id="table-container" style="overflow-x: auto; height: 290px; overflow: auto;border:solid;border-width:1px">

                            <table id="bairroTable" style="width:290px;" class="tbl table-bordered table-condensed">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="card-footer" style="text-align:center;background-color:white">
                    <button type="submit" id="btnNovo" class="btn btn-primary" style="height:32px;width:80px" title="Cadastrar um novo bairro" onclick="Novo()">Novo</button>
                    <button type="submit" id="btnAlterar" class="btn btn-info" style="height: 32px; margin-left: 10px; width: 80px" title="Alterar o bairro selecionado" onclick="Alterar()">Alterar</button>
                </div>

                <div class="card-footer">
                    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
                </div>
            </div>
        </div>
    }
</div>

<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>
<div id="msgBoxWait" style='display: none;text-align:center'>
    <img src="~/Images/ajax-loader.gif"><br />
    <p>Processando, aguarde . . . </p>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
             var url = '@Url.Action("Lista_Cidade", "Parametro")';
                $.getJSON(url, { uf: 'AC' }, function (data) {  
                var dropdown = $('#CidadeDropDown');
                $.each(data, function() {
                    dropdown.append(
                        $("<option></option>").text(this.Desccidade).val(this.Codcidade)
                    );
                });
                $('#msgBoxWait').dialog('close');
                });

            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
             $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $('#msgBoxWait').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "no-titlebar"
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");


            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }
        });

        $("#bairroTable").on('click', 'tr', function (e) {
            $('#bairroTable tr').removeClass('highlighted');
            $(this).addClass('highlighted');
            document.getElementById('Bairro').value = $(this).attr('id');
        });

        function Carrega_Cidade(obj) {
            $('#msgBoxWait').dialog('open');
            removeOptions(document.getElementById('CidadeDropDown'));
            var url = '@Url.Action("Lista_Cidade", "Parametro")';
            $.getJSON(url, { uf: obj.value }, function (data) { 
                var dropdown = $('#CidadeDropDown');
                $.each(data, function() {
                    dropdown.append(
                        $("<option></option>").text(this.Desccidade).val(this.Codcidade)
                    );
                });
                $('#msgBoxWait').dialog('close');
            });
            Carrega_Bairro();
        }

        function Carrega_Bairro() {
            $("#bairroTable tbody tr").remove();
            var _uf = document.getElementById("UFDropDown").value;
            var _cidade = document.getElementById("CidadeDropDown").value;
            var i = 0;
            var url = '@Url.Action("Lista_Bairro", "Parametro")';
            $.getJSON(url, { uf: _uf, cidade: _cidade }, function (data) {
                $.each(data, function () {
                    var tr;
                        tr = $('<tr id="' + data[i].Codbairro + '" style="height: 12px; font-weight: normal; font-size: 12px; white-space: nowrap; cursor: pointer"  />');
                        tr.append("<td style='display:none'>" + data[i].Codbairro + "</td>");
                        tr.append("<td style='width:100px'>" + data[i].Descbairro + "</td>");
                        $("#bairroTable").find('tbody').append(tr);
                        i++;
                });
            });
        }



        //######## Funções Genéricas #########
        function removeOptions(selectElement) {
            var i, L = selectElement.options.length - 1;
            for (i = L; i >= 0; i--) {
                selectElement.remove(i);
            }
        }

        function subNull(value) {
            return (value === null) ? "" : value;
        }

        function elementIsEmpty(el) {
            return (/^(\s|&nbsp;)*$/.test(el));
        }

        //####################################
    </script>
}
