@model GTI_Mvc.ViewModels.MobReqViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Requerimento";
}

<style>

    .center {
        margin: auto;
        width: 800px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .topics tr:hover {
        background-color: #f5f5f5;
    }

    .topics tr {
        height: 20px;
        font-size: 14px;
    }

    .modal-ku {
        width: 450px;
        margin: 200px, auto;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }


</style>

@{var res = @ViewBag.Error;}
<div class="center">
    @using(Html.BeginForm("Mobreq_sola","MobReq",FormMethod.Post,new { @id = "MainForm",enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=>m.Codigo)
        @Html.HiddenFor(m=>m.Razao_Social)
        @Html.HiddenFor(m=>m.Atividade)
        @Html.HiddenFor(m=>m.CpfValue)
        @Html.HiddenFor(m=>m.Rg_IE)

        <div class="container" style="width:700px">
            <div class="card">
                <div class="card-header">Requerimentos</div>
                <div class="card-body">
                    <table width="640px">
                        <tr style="height:25px">
                            <td style="width:160px;font-size:14px">Tipo de Requerimento:</td>
                            <td style="width:480px">
                                <span style="color:brown;font-size:14px">Alteração de dados cadastrais</span>
                            </td>
                        </tr>
                        <tr style="height:25px">
                            <td style="width:160px;font-size:14px">Razão Social:</td>
                            <td style="width:480px;color:brown;font-size:14px;text-align:justify"> @Model.Razao_Social </td>
                        </tr>
                        <tr style="height:25px">
                            <td style="width:160px;font-size:14px">Cpf/Cnpj:</td>
                            <td style="width:480px;font-size:14px;color:brown">@Model.CpfValue </td>
                        </tr>
                        <tr style="height:25px">
                            <td style="width:160px;font-size:14px">Rg/Insc.Estadual:</td>
                            <td style="width:480px;font-size:14px;color:brown">@Model.Rg_IE </td>
                        </tr>
                        <tr style="height:25px">
                            <td style="width:160px;font-size:14px">Atividade:</td>
                            <td style="width:480px;font-size:14px;color:brown;text-align:justify">@Model.Atividade </td>
                        </tr>
                        <tr style="height:25px">
                            <td style="width:160px;font-size:14px">Data da alteração:</td>
                            <td style="width:480px;font-size:14px;color:brown"> @Html.TextBoxFor(x => x.Data_Evento,"{0:dd/MM/yyyy}",new { @id = "DataTxt",@style = "width:90px;",@class = "maskData" })</td>
                        </tr>
                    </table>
                    <br />


                    <button type="submit" class="btn btn-primary">
                        <img src="~/Images/Consultar.gif" /> &nbsp; Consultar
                    </button>


                </div>
                <div class="card-footer">
                    @Html.ActionLink("Retornar ao menu de opções","mobreq_menu","MobReq",null,new { @class = "actionlink" })<br />
                </div>
            </div>


        </div>

    }


</div>
<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Error</p>
</div>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $(".maskData").inputmask("99/99/9999");
            $("#MainForm").submit(function () {
                return ValidateForm();
            });

            //Máscara Cpf/Cnpj
            $("#cpfcnpj").keydown(function () {
                try {
                    $("#cpfcnpj").unmask();
                } catch (e) { }
                var tamanho = $("#cpfcnpj").val().length;
                if (tamanho < 11) {
                    $("#cpfcnpj").mask("999.999.999-99");
                } else {
                    $("#cpfcnpj").mask("99.999.999/9999-99");
                }
                var elem = this;
                setTimeout(function () {
                    elem.selectionStart = elem.selectionEnd = 10000;
                }, 0);
                var currentValue = $(this).val();
                $(this).val('');
                $(this).val(currentValue);
            });

            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".ui-dialog").css({
                zIndex: '1060'
            });
            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }

        });

        function ValidateForm() {
            var _data1 = document.getElementById('DataTxt').value;
            if (!Valida_Data(_data1)) {
                document.getElementById('lblMsg').innerHTML = "Data inválida";
                $('#msgBox1').dialog('open');
                return false;
            }

            //*** Valida CpfCnpj ***
            var _cpf = document.getElementById('cpfcnpj').value;
            if (_cpf.length == 14) {
                if (!valida_Cpf(_cpf)) {
                    document.getElementById('lblMsg').innerHTML = "Nº de Cpf/Cnpj inválido!";
                    $('#msgBox1').dialog('open');
                    return false;
                }
            } else {
                if (_cpf.length == 18) {
                    if (!valida_Cnpj(_cpf)) {
                        document.getElementById('lblMsg').innerHTML = "Nº de Cpf/Cnpj inválido!";
                        $('#msgBox1').dialog('open');
                        return false;
                    }
                } else {
                    document.getElementById('lblMsg').innerHTML = "Nº de Cpf/Cnpj inválido!";
                    $('#msgBox1').dialog('open');
                    return false;
                }
            }
            return true;
        }


        function Valida_Data(data) {
            if (data == "") {
                return false;
            }
            var patternValidaData = /^(((0[1-9]|[12][0-9]|3[01])([-.\/])(0[13578]|10|12)([-.\/])(\d{4}))|(([0][1-9]|[12][0-9]|30)([-.\/])(0[469]|11)([-.\/])(\d{4}))|((0[1-9]|1[0-9]|2[0-8])([-.\/])(02)([-.\/])(\d{4}))|((29)(\.|-|\/)(02)([-.\/])([02468][048]00))|((29)([-.\/])(02)([-.\/])([13579][26]00))|((29)([-.\/])(02)([-.\/])([0-9][0-9][0][48]))|((29)([-.\/])(02)([-.\/])([0-9][0-9][2468][048]))|((29)([-.\/])(02)([-.\/])([0-9][0-9][13579][26])))$/;
            if (!patternValidaData.test(data)) {
                return false;
            }
            return true;
        }


    </script>
}
