@model GTI_Mvc.ViewModels.MobReqQueryViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Consulta requerimentos";
}

<style>

    .center {
        margin: auto;
   }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="center">

    @using (Html.BeginForm("Mobreq_query", "MobReq", FormMethod.Post, new { @id = "MainForm" })) {
        @Html.AntiForgeryToken()
        <div class="container" style="width:800px">
            <div class="card">
                <div class="card-header">
                    Lista de requerimentos
                   
                    <label style="padding-left:20px">
                        Exercício:&nbsp;
                        @Html.DropDownListFor(m => Model.Ano_Selected, ViewBag.ListaAno as SelectList, null, new { @id = "AnoDropDown", @style = "font-weight:normal", onchange = "this.form.submit()" })
                    </label>  <br />


                </div>
                <div class="card-body">
                    <table id="tblMain" class="tableContainer" style="font-size:14px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse">
                        <thead style="background-color:brown;color:white;font-size:14px;font-weight:normal; white-space: nowrap;">
                            <tr style="height:14px;">
                                <td style="display:none">Guid</td>
                                <td style="width:100px;font-weight:normal">Nº Notif.</td>
                                <td style="width:330px;font-weight:normal">Nome do Contribuinte</td>
                                <td style="width:210px;font-weight:normal">Data Emissão</td>
                                <td style="width:170px;font-weight:normal">Situação</td>
                                <td style="width:100px">
                                </td>
                            </tr>
                        </thead>
                        <tbody id="tblEvento" class="tableContainer" style="font-size:14px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse;padding-left:10px;">
                            @foreach (var item in Model.Lista_req) {
                                if (item.Data_Inclusao.Year ==Model.Ano_Selected) {
                                <tr style="height:20px;">
                                    <td style="display:none">@Html.DisplayFor(modelItem => item.Guid)</td>
                                    <td style="width:100px;font-weight:normal">@DateTime.Parse(Html.DisplayFor(modelItem => item.Data_Inclusao).ToString()).ToString("dd/MM/yyyy")</td>
                                    <td style="width:330px;font-weight:normal">@Html.DisplayFor(modelItem => item.Razao_Social)</td>
                                    <td style="width:210px;font-weight:normal">@Html.DisplayFor(modelItem => item.CpfCnpj)</td>
                                    <td style="width:170px;font-weight:normal">@Html.DisplayFor(modelItem => item.Tipo_Nome)</td>
                                    <td style="width:100px">
                                        <a href="@Url.Action("MobReq_print", "Tributario", new { p = item.Guid })" title="Imprimir a Notificação"> <img src="@Url.Content("~/images/print.png")"></a>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
               
                    <div class="form-group row">
                        <label class="errorlabel" id="errorLabel">@ViewBag.Result</label>
                    </div>

                </div>
                <div class="card-footer">
                    @Html.ActionLink("Retornar ao menu de opções", "Mobreq_menu", "MobReq", null, new { @class = "actionlink" })<br />
                    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
                </div>
            </div>
        </div>
    }
</div>
