@model GTI_Mvc.ViewModels.CertidaoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Certidão de Débito";
}

<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>

<div class="center container" style="width:400px">
    @using (Html.BeginForm("Certidao_Debito_Doc", "Tributario", FormMethod.Post, new { @id = "MainForm" })) {

        <div class="panel panel-danger">
            <div class="panel-heading">Certidão de Débito</div>
            <div class="panel-body">

                <table width="500px">
                    <tr style="height:40px">
                        <td style="width:150px">
                            CPF:&nbsp; <input type="radio" required asp-for="CpfCnpjLabel" id="cpfCheck" value="cpf" name="doc" checked="checked" onclick="radioCheck()" />
                            &nbsp;CNPJ:&nbsp;  <input type="radio" required asp-for="CpfCnpjLabel" id="cnpjCheck" value="cnpj" name="doc" onclick="radioCheck()" />
                        </td>
                        <td style="width:300px">
                            @Html.TextBoxFor(m => m.CpfValue, new { @id = "cpfTxt", @class = "textBoxBlue", @style = "max-width:200px", @onKeyPress = "return formata(this, '§§§.§§§.§§§-§§', event)", @onchange = "ClearError()", @placeholder = "Digite o nº do CPF" })
                            @Html.TextBoxFor(m => m.CnpjValue, new { @id = "cnpjTxt", @class = "textBoxBlue", @style = "max-width:200px;display:none", @onKeyPress = "return formata(this, '§§.§§§.§§§/§§§§-§§', event)", @onchange = "ClearError()", @placeholder = "Digite o nº do CNPJ" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:150px" valign="middle">
                            <img id="img-captcha" src="~/Empresa/GetCaptcha" />
                        </td>
                        <td style="width:150px" valign="middle">
                            @Html.TextBoxFor(m => m.CaptchaCode, new { @id = "captchaTxt", @class = "textBoxBlue", @maxlength = "6", @style = "max-width:110px;" })
                        </td>
                    </tr>
                </table>
                <br />
                <button type="submit" title="Imprimir a certidão" class="btn btn-primary" formmethod="post"> Consultar</button>
            </div>
            <label style="font-weight:normal;color:red;padding-left:13px" id="errorLabel">@ViewBag.Result</label>
            <div class="panel-footer">
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>
        </div>
    }
</div>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });

        function radioCheck() {
            document.getElementById('cnpjTxt').value = "";
            document.getElementById('cpfTxt').value = "";
            if (document.getElementById('cpfCheck').checked) {
                document.getElementById('cpfTxt').style.display = 'block';
            }
            else {
                document.getElementById('cpfTxt').style.display = 'none';
            }
            if (document.getElementById('cnpjCheck').checked) {
                document.getElementById('cnpjTxt').style.display = 'block';
            }
            else {
                document.getElementById('cnpjTxt').style.display = 'none';
            }
        }

        function ValidateForm() {
            ClearError();
            var _cpf = document.getElementById('cpfTxt').value;
            var _cnpj = document.getElementById('cnpjTxt').value;
            var _captcha = document.getElementById('captchaTxt').value;
            var _chave = document.getElementById('chave').value;

            var _consultar = false;
            var _autenticar = false;

            if ((_cpf != "" || _cnpj != ""))
                _consultar = true;

            if (_chave != "")
                _autenticar = true;

            if (_consultar == false && _autenticar == false) {
                document.getElementById('errorLabel').innerHTML = "Informe o nº de CPF ou CNPJ.";
                return false;
            }

            if (_consultar == true && _captcha == "") {
                document.getElementById('errorLabel').innerHTML = "Digite o código de validação.";
                return false;
            }

            if (_autenticar == true && _chave == "") {
                document.getElementById('errorLabel').innerHTML = "Digite a chave de autenticação.";
                return false;
            }

            if (_chave.length > 8) {
                var _sufixo = _chave.substring(_chave.length - 3, _chave.length);
                if (_sufixo != "-XA" && _sufixo != "-XE" && _sufixo != "-IE") {
                    document.getElementById('errorLabel').innerHTML = "Chave de autenticação inválida!";
                    return false;
                }
            } else {
                if (_chave.length != "") {
                    document.getElementById('errorLabel').innerHTML = "Chave de autenticação inválida!";
                    return false;
                }
            }
            return true;
        }

        function ClearError() {
            document.getElementById('Inscricao').options.length = 0;
            document.getElementById('errorLabel').innerHTML = "";
        }


    </script>
}
