@model GTI_Mvc.ViewModels.CertidaoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comprovante de Pagamento";
}

<style>
   

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
</style>

@{var res = @ViewBag.Result;}
<div class="center container" style="width:380px">

    @using(Html.BeginForm("Comprovante_Pagamento","Tributario",FormMethod.Post,new { @id = "MainForm" })) {
        @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-header">Comprovante de Pagamento</div>
            <div class="card-body">

                <table width="330px" >
                    <tr style="height:40px">
                        <td><label style="font-size:14px;width:130px;padding-top:8px">Inscrição Municipal:</label></td>
                        <td style="width:200px">@Html.TextBoxFor(m => m.Inscricao,new { @id = "codigo",@style = "width:70px;font-size:14px",@onKeyPress = "return formata(this, '§§§§§§', event)" })</td>
                    </tr>
                    <tr style="height:40px">
                        <td><label style="font-size: 14px; width: 130px; padding-top: 8px">Nº do documento:</label></td>
                        <td style="width:200px">@Html.TextBoxFor(m => m.Documento,new { @id = "documento",@style = "width:170px;font-size:14px", @onKeyPress = "return formata(this, '§§§§§§§§§§§§§§§§§', event)" })</td>
                    </tr>
                </table>

                <br />
                <div class="g-recaptcha" data-sitekey="6LfRjG0aAAAAAOEd4ksnWZYw3oX4cUsimIy7yOqD"></div>
                <br />
                <button type="submit" class="btn btn-primary"> Consultar</button>
            </div>

            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu principal","Login_gti","Home",null,new { @class = "actionlink" })
            </div>
        </div>
    }
</div>
<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });

            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }
        });

        function ValidateForm() {
            var _cod = document.getElementById('codigo').value;
            var _doc = document.getElementById('documento').value;

            if (_cod == "" || parseInt(_cod) == 0) {
                document.getElementById('lblMsg').innerHTML = "Digite a inscrição municipal.";
                $('#msgBox1').dialog('open');
                return false;
            }
            else {
                if (_doc == "" || parseInt(_doc) == 0) {
                    document.getElementById('lblMsg').innerHTML = "Digite o nº do documento confome consta no boleto.";
                    $('#msgBox1').dialog('open');
                    return false;
                } 
            }
        }


    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
