@model GTI_Mvc.ViewModels.CertidaoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Emissão de DAM";
}

<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
</style>

@{var res = @ViewBag.Result;}
<div class="center container" style="width:440px">
    @using(Html.BeginForm("Dama","Tributario",FormMethod.Post,new { @id = "MainForm" })) {
        <div class="card">
            <div class="card-header">Consulta e atualização de débitos vencidos</div>
            <div class="card-body">
                <table>
                    <tr>
                        <td style="padding-top:7px; width:170px"><label style="font-weight:normal">Data de pagamento:&nbsp;</label></td>
                        <td style="width:200px">@Html.TextBoxFor(m => m.DataVencimento,new { @id = "vencto",@class = "textBoxBlue",@style = "max-width:100px",@onKeyPress = "return formata(this, '§§/§§/§§§§', event)" })</td>
                    </tr>

                </table>
                <span style="color:red;font-weight:normal;font-size:12px">Digite a data que deseja efetuar o pagamento do boleto.</span>
                <br />
                @*<br />
                    <img src="~/Images/AvisoRefis.png" style="text-align: center" />
                    <br />*@
                <br />
                <button type="submit" class="btn btn-primary"> Consultar</button>
            </div>
            @*<label class="errorlabel" id="errorLabel">@ViewBag.Result</label>*@
            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu principal","Login_gti","Home",null,new { @class = "actionlink" })
            </div>
        </div>
    }
</div>
<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }
        });

        function ValidateForm() {
            ClearError();
            var _data = document.getElementById('vencto').value;

            if (_data.length < 10) {
                document.getElementById('lblMsg').innerHTML = "Data de vencimento inválida";
                $('#msgBox1').dialog('open');

                //document.getElementById('errorLabel').innerHTML = "Data de vencimento inválida";
                return false;
            }

            return true;
        }

        function ClearError() {
           // document.getElementById('errorLabel').innerHTML = "";
        }

    </script>
}
