@model GTI_Mvc.ViewModels.DebitoSelectionViewModel

@{
    ViewBag.Title = "Emissão de DAM";
}

<span style="color:brown;font-size:14px">
    Consulta e atualização de débitos não pagos<br />
    Emissão de Documento de Arrecadação Municipal (D.A.M.)<br />
</span>

<br />
@using (Html.BeginForm("SubmitSelected", "Tributario", FormMethod.Post, new { id = "formField", encType = "multipart/form-data", name = "frmExtrato", @Class = "mt-3" })) {

    <table id="tblHeader" style="font-size:13px">
        <tr>
            @Html.HiddenFor(m => m.Data_Vencimento)
            <td>Data de vencimento:</td>
            <td style="font-weight:bold">@Model.Data_Vencimento.ToString("dd/MM/yyyy")</td>
        </tr>
        <tr>
            @Html.HiddenFor(m => m.Inscricao)
            <td>Inscrição Municipal:</td>
            <td style="font-weight:bold">@Model.Inscricao</td>
        </tr>
        <tr>
            @Html.HiddenFor(m => m.Nome)
            <td>Nome/Razão Social:</td>
            <td style="font-weight:bold">@Model.Nome</td>
        </tr>
        <tr>
            @Html.HiddenFor(m => m.CpfCnpjLabel)
            <td>Nº do CPF/CNPJ:</td>
            <td style="font-weight:bold">@Model.CpfCnpjLabel</td>
        </tr>
    </table>
    <br />


    <div id="DebitoTable" style="height: 342px; overflow: auto;width:750px;border-bottom-color:cadetblue;border-bottom-style:solid;border-bottom-width:1px;border-top-color:cadetblue;border-top-style:solid;border-top-width:1px;border-left-color:cadetblue;border-left-style:solid;border-left-width:1px;border-right-color:cadetblue;border-right-style:solid;border-right-width:1px">
        <table id="tblMain" style="font-size:12px">
            <tr>
                <th style="text-align:center">
                    #
                </th>
                <th style="display:none">
                    Id
                </th>
                <th style="width:50px;text-align:center">
                    Ano
                </th>
                <th style="display:none">
                    Lanc
                </th>
                <th style="width:220px">
                    Lancamento
                </th>
                <th style="display:none">
                    Seq
                </th>
                <th style="display:none">
                    Parc
                </th>
                <th style="display:none">
                    Compl
                </th>
                <th style="width:60px;text-align:center">
                    Dt.Vencto
                </th>
                <th style="width:25px;text-align:center">
                    Da
                </th>
                <th style="width:25px;text-align:center">
                    Aj
                </th>
                <th style="width:60px;text-align:right">
                    Principal
                </th>
                <th style="width:60px;text-align:right">
                    Juros
                </th>
                <th style="width:60px;text-align:right">
                    Multa
                </th>
                <th style="width:60px;text-align:right">
                    Correção
                </th>
                <th style="width:70px;text-align:right">
                    Total
                </th>
                <th style="display:none">
                    Honorário
                </th>
            </tr>
            <tbody class="item-model-number">
                @Html.EditorFor(model => model.Debito)
            </tbody>
        </table>
        <hr />
    </div>

    <br />
    <table id="ResumoTable" style="font-size:14px;border:solid;border-width:thin;border-color:brown">
        <tr style="border-bottom-color:cadetblue;border-bottom-style:solid;border-bottom-width:1px;border-top-color:cadetblue;border-top-style:solid;border-top-width:1px">
            <td></td>
            <td style="width:100px;color:red;" align="right">Devidos</td>
            <td style="width:100px;color:green;" align="right">Selecionados</td>
        </tr>
        <tr style="border-bottom-color:cadetblue;border-bottom-style:solid;border-bottom-width:1px;border-top-color:cadetblue;border-top-style:solid;border-top-width:1px">
            <td>Total Principal:</td>
            <td style="width:100px;color:red" align="right">@Model.Soma_Principal.ToString("#0.00")</td>
            <td id="somaPrincipal" style="width:100px;color:green" align="right">0,00</td>
        </tr>
        <tr style="border-bottom-color:cadetblue;border-bottom-style:solid;border-bottom-width:1px;border-top-color:cadetblue;border-top-style:solid;border-top-width:1px">
            <td>Total Juros:</td>
            <td style="width:100px;color:red" align="right">@Model.Soma_Juros.ToString("#0.00")</td>
            <td id="somaJuros" style="width:100px;color:green" align="right">0,00</td>
        </tr>
        <tr style="border-bottom-color:cadetblue;border-bottom-style:solid;border-bottom-width:1px;border-top-color:cadetblue;border-top-style:solid;border-top-width:1px">
            <td>Total Multa:</td>
            <td style="width:100px;color:red" align="right">@Model.Soma_Multa.ToString("#0.00")</td>
            <td id="somaMulta" style="width:100px;color:green" align="right">0,00</td>
        </tr>
        <tr style="border-bottom-color:cadetblue;border-bottom-style:solid;border-bottom-width:1px;border-top-color:cadetblue;border-top-style:solid;border-top-width:1px">
            <td>Total Correção:</td>
            <td style="width:100px;color:red" align="right">@Model.Soma_Correcao.ToString("#0.00")</td>
            <td id="somaCorrecao" style="width:100px;color:green" align="right">0,00</td>
        </tr>
        <tr style="border-bottom-color:cadetblue;border-bottom-style:solid;border-bottom-width:1px;border-top-color:cadetblue;border-top-style:solid;border-top-width:1px">
            <td>Total Honorário:</td>
            <td style="width:100px;color:red" align="right">N/A</td>
            <td id="somaHonorario" style="width:100px;color:green" align="right">0,00</td>
        </tr>
        <tr style="border-bottom-color:cadetblue;border-bottom-style:solid;border-bottom-width:1px;border-top-color:cadetblue;border-top-style:solid;border-top-width:1px">
            <td>Total Geral:</td>
            <td style="width:100px;color:red" align="right">@Model.Soma_Total.ToString("#0.00")</td>
            <td id="somaTotal" style="width:100px;color:green" align="right">0,00</td>
        </tr>

    </table>

    <br />
    <div class="form-group row align-items-lg-baseline" style="margin-left:1px">
        <div>
            <div class="input-group">
                <button type="submit" id="enviar" title="Exibir o resumo do boleto" class="green_button" onclick="return Verifica_Ajuizado()">Próximo</button>
                @*<button type="button" class="green_button" id="submit" data-toggle="modal" data-target="#confirm-submit" onsubmit="return VerificaAjuizado()"> Próximo >></button>*@
            </div>
        </div>
    </div>

    <div class="container">
        <div class="modal fade" tabindex="-1" id="loginModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg" style="background-color:antiquewhite">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Observação Importante:</h4>
                    </div>
                    <div class="modal-body">
                        <h4>Foram selecionados débitos ajuizados e/ou protestados.</h4><br /><br />
                        <p>- Se debito ajuizados solicitar as guias das custas e despesas processuais através do e-mail: <u style="color: blue">dividaativa@jaboticabal.sp.gov.br</u> ou pessoalmente no Sistema Prático.</p>

                        <p>- Se debito protestado informar o pagamento através do e-mail: <u style="color: blue">dividaativa@jaboticabal.sp.gov.br</u> ou pessoalmente no Sistema Prático.</p>
                        <p style="color: black;font-weight:bold">Tal procedimento é de extrema importância para providências junto ao Fórum e Tabelião de Notas e Protesto."</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit" class="btn btn-primary button btn-success">Imprimir</button>
                        <button type="button" id="btnHideModal" class="btn btn-danger button button4" data-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

<label class="text-danger" id="errorLabel">@ViewBag.Result</label>
<br />
@Html.ActionLink("Consultar outra inscrição", "Dama", "Tributario")
<br />
@Html.ActionLink("Retornar ao menu principal", "Index", "Home")

<script>

    $(document).ready(function () {
        $("#MainForm").submit(function () {
            return Verifica_Ajuizado();
        });
    });

    //$('#submit').click(function () {
    //    $('#formfield').submit();
    //});

    function Verifica_Ajuizado() {
            ClearError();
            try {
                var table = document.getElementById("tblMain");
                var rows = table.getElementsByTagName('tr');
                var _refis = false;
                var _ajuizado = false,_ano_atual=false,_ano_anterior=false,_parc_unica=false,_parc_normal=false;
                var _count = 0, _datavencto="",_datarefis="30/06/2019",_parcela = 0;
                var dataVencto;
                var dateParts2 = _datarefis.split("/");
                var dataRefis = new Date(+dateParts2[2], dateParts2[1] - 1, +dateParts2[0]);

                
                if (@Model.Plano> 0) {

                    _refis = true;
                }

                for (var i = 0; i < rows.length; i++) {
                    var cols = rows[i].getElementsByTagName('td');
                    if (cols.length > 1) {
                        var value = cols[0].getElementsByTagName('input')[0].checked == true;
                        if (value) {
                            _count++;
//                            var _aj = table.rows[i].cells[10].innerHTML.replace(/(\r\n|\n|\r)/gm, "").trim();
                            var _aj = table.rows[i].cells[10].textContent.trim();
                            if (_aj == "S") {
                                _ajuizado = true;
                            }
                            _datavencto = table.rows[i].cells[8].textContent.trim();
                            var dateParts = _datavencto.split("/");
                            dataVencto = new Date(+dateParts[2], dateParts[1] - 1, +dateParts[0]);
                            if (dataVencto <= dataRefis)
                                _ano_anterior = true;
                            if (dataVencto > dataRefis)
                                _ano_atual = true;
                            _parcela = table.rows[i].cells[6].textContent.trim();
                            if (_parcela == 0)
                                _parc_unica = true;
                            else {
                                _parc_normal = true;
                            }
                        }
                    }
                }

               
                if (_count == 0) {
                    document.getElementById('errorLabel').innerHTML = "Selecione o(s) débito(s) à pagar.";
                    return false;
                }

                if (_ano_anterior && _ano_atual) {
                    document.getElementById('errorLabel').innerHTML = "Não é possível pagar débitos anteriores a 30/06/2019 com débitos posteriores durante Refis.";
                    return false;
                }

                if (_parc_unica && _parc_normal) {
                    document.getElementById('errorLabel').innerHTML = "Parcela única não pode ser paga junto com outras parcelas.";
                    return false;
                }
                if (_ajuizado) {
                    $("#loginModal").modal('show');
                    return false;
                }
            }
            catch (e) {
                alert(e);
            }
            return true;
        }



    var sumP = 0, sumJ = 0, sumM = 0, sumC = 0,sumH = 0 ,sumT = 0;
        var valP = 0, valJ = 0, valM = 0, valC = 0, valH=0, valT = 0;

    $('table input[type="checkbox"]').on('change', function () {
            $('#ResumoTable').find(somaPrincipal).html("0,00");
            $('#ResumoTable').find(somaJuros).html("0,00");
            $('#ResumoTable').find(somaMulta).html("0,00");
            $('#ResumoTable').find(somaCorrecao).html("0,00");
            $('#ResumoTable').find(somaHonorario).html("0,00");
            $('#ResumoTable').find(somaTotal).html("0,00");

            var table = $(this).closest('table'),
                checked = table.find('input[type=checkbox]:checked'),
                valP = checked.closest('tr').find('td:nth-child(12)'),
                sumP = valP.map(function () { return parseFloat(this.textContent.replace(',', '.').trim()) || 0; }).get().reduce(function (a, b) {
                    return a + b;
                });
            valJ = checked.closest('tr').find('td:nth-child(13)'),
                sumJ = valJ.map(function () { return parseFloat(this.textContent.replace(',', '.').trim()) || 0; }).get().reduce(function (a, b) {
                    return a + b;
                });
            valM = checked.closest('tr').find('td:nth-child(14)'),
                sumM = valM.map(function () { return parseFloat(this.textContent.replace(',', '.').trim()) || 0; }).get().reduce(function (a, b) {
                    return a + b;
                });
            valC = checked.closest('tr').find('td:nth-child(15)'),
                sumC = valC.map(function () { return parseFloat(this.textContent.replace(',', '.').trim()) || 0; }).get().reduce(function (a, b) {
                    return a + b;
                });
            valH = checked.closest('tr').find('td:nth-child(17)'),
                sumH = valH.map(function () { return (parseFloat(this.textContent.replace(',', '.').trim())) || 0; }).get().reduce(function (a, b) {
                    return a + b;
                });
   
            sumT = sumP + sumJ + sumM + sumC + sumH;

            $('#ResumoTable').find(somaPrincipal).html(sumP.toFixed(2).replace('.', ','));
            $('#ResumoTable').find(somaJuros).html(sumJ.toFixed(2).replace('.', ','));
            $('#ResumoTable').find(somaMulta).html(sumM.toFixed(2).replace('.', ','));
            $('#ResumoTable').find(somaCorrecao).html(sumC.toFixed(2).replace('.', ','));
            $('#ResumoTable').find(somaHonorario).html(sumH.toFixed(2).replace('.', ','));
            $('#ResumoTable').find(somaTotal).html(sumT.toFixed(2).replace('.', ','));
        }).change();


     function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }


</script>