@model GTI_Mvc.ViewModels.CertidaoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detalhe de Boleto";
}

<style>
    

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
</style>

@{var res = @ViewBag.Result;}
<div class="center container" style="width:400px">

    @using(Html.BeginForm("Detalhe_Boleto","Tributario",FormMethod.Post,new { @id = "MainForm" })) {
        @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-header">Detalhe de um boleto</div>
            <div class="card-body">

                <table width="400px">
                    <tr style="height:40px">
                        <td style="width:150px;font-size:14px">Cpf/Cnpj:</td>
                        <td style="width:250px">@Html.TextBoxFor(m => m.CpfCnpjLabel,new { @id = "cpfcnpj",@onpaste = "return false",@style = "max-width:250px;font-size:14px", @onKeyPress = "return formata(this, '§§§§§§§§§§§§§§', event)" })</td>
                    </tr>
                    <tr style="height:40px">
                        <td style="width:150px;font-size:14px">Nº do Documento:</td>
                        <td style="width:250px">@Html.TextBoxFor(m => m.Documento,new { @id = "documento",@style = "max-width:250px;font-size:14px", @onKeyPress = "return formata(this, '§§§§§§§§§§§§§§§§§', event)" })</td>
                    </tr>
                </table>
                <br />
                <div class="g-recaptcha" data-sitekey="6LfRjG0aAAAAAOEd4ksnWZYw3oX4cUsimIy7yOqD"></div>
                <br />
                <button type="submit" class="btn btn-primary"> Consultar</button>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu principal","Login_gti","Home",null,new { @class = "actionlink" })
            </div>
        </div>
    }
</div>

<div id="msgBox1" title="Atenção" style='display: none;'>
    <br />
    <label id="lblMsg"></label>
</div>
<div id="msgBoxBag" title="Atenção" style='display: none;'>
    <br />
    <p>@ViewBag.Result</p>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("input[id*='cpfcnpj']").inputmask({
                mask: ['999.999.999-99', '99.999.999/9999-99'],
                keepStatic: true
            });

            $("#MainForm").submit(function () {
                return ValidateForm();
            });

            $('#msgBox1').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#msgBoxBag').dialog({
                autoOpen: false,
                resizable: false,
                draggable: false,
                position: { my: 'top', at: 'top+300' },
                height: "auto",
                width: 340,
                modal: true,
                dialogClass: "foo",
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".foo .ui-dialog-title").css("font-size", "13px");
            $(".foo .ui-widget-content").css("font-size", "13px");

            var _res = '@res';
            if (_res != "") {
                $('#msgBoxBag').dialog('open');
                return false;
            } else {
                return true;
            }
        });

        function ValidateForm() {
            var _cpfcnpj = document.getElementById('cpfcnpj').value;
            var _doc = document.getElementById('documento').value;

            var _consultar = false;
            var _autenticar = false;

            if ((_cpfcnpj != ""))
                _consultar = true;

            if (_consultar == false && _autenticar == false) {
                document.getElementById('lblMsg').innerHTML = "Informe o nº de CPF ou CNPJ.";
                $('#msgBox1').dialog('open');
                return false;
            }

            if (_doc == "" || parseInt(_doc) == 0) {
                document.getElementById('lblMsg').innerHTML = "Digite o nº do documento confome consta no boleto.";
                $('#msgBox1').dialog('open');
                return false;
            }


            var cnpjtmp = _cpfcnpj.padStart(14, '0');
            var cpftmp = _cpfcnpj.padStart(11, '0');
            var cpfcnpj = "";
            if (_cpfcnpj.length > 14) {
                if (!valida_Cnpj(cnpjtmp)) {
                    document.getElementById('lblMsg').innerHTML = "Nº de Cnpj inválido.";
                    $('#msgBox1').dialog('open');
                    return false;
                } else {
                    cpfcnpj = cnpjtmp;
                }
            } else {
                if (valida_Cnpj(cnpjtmp)) {
                    cpfcnpj = cnpjtmp;
                } else {
                    if (!valida_Cpf(cpftmp)) {
                        document.getElementById('lblMsg').innerHTML = "Nº de Cpf inválido.";
                        $('#msgBox1').dialog('open');
                        return false;
                    } else {
                        cpfcnpj = cpftmp;
                    }
                }
            }
            if (cpfcnpj == "") {
                document.getElementById('lblMsg').innerHTML = "Nº de Cpf/Cnpj inválido.";
                $('#msgBox1').dialog('open');
                return false;
            }

            return true;
        }

        function valida_Cpf(cpf) {
            cpf = cpf.split("").filter(n => (Number(n) || n == 0)).join("");
            var numeros, digitos, soma, i, resultado, digitos_iguais;
            digitos_iguais = 1;
            if (cpf.length < 11)
                return false;
            for (i = 0; i < cpf.length - 1; i++)
                if (cpf.charAt(i) != cpf.charAt(i + 1)) {
                    digitos_iguais = 0;
                    break;
                }
            if (!digitos_iguais) {
                numeros = cpf.substring(0, 9);
                digitos = cpf.substring(9);
                soma = 0;
                for (i = 10; i > 1; i--)
                    soma += numeros.charAt(10 - i) * i;
                resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                if (resultado != digitos.charAt(0))
                    return false;
                numeros = cpf.substring(0, 10);
                soma = 0;
                for (i = 11; i > 1; i--)
                    soma += numeros.charAt(11 - i) * i;
                resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                if (resultado != digitos.charAt(1))
                    return false;
                return true;
            }
            else
                return false;
        }

        function valida_Cnpj(cnpj) {

            cnpj = cnpj.replace(/[^\d]+/g, '');

            if (cnpj == '') return false;

            if (cnpj.length != 14)
                return false;

            // Elimina CNPJs invalidos conhecidos
            if (cnpj == "00000000000000" ||
                cnpj == "11111111111111" ||
                cnpj == "22222222222222" ||
                cnpj == "33333333333333" ||
                cnpj == "44444444444444" ||
                cnpj == "55555555555555" ||
                cnpj == "66666666666666" ||
                cnpj == "77777777777777" ||
                cnpj == "88888888888888" ||
                cnpj == "99999999999999")
                return false;

            // Valida DVs
            tamanho = cnpj.length - 2
            numeros = cnpj.substring(0, tamanho);
            digitos = cnpj.substring(tamanho);
            soma = 0;
            pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2)
                    pos = 9;
            }
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(0))
                return false;

            tamanho = tamanho + 1;
            numeros = cnpj.substring(0, tamanho);
            soma = 0;
            pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2)
                    pos = 9;
            }
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(1))
                return false;

            return true;

        }

    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
