@model GTI_Mvc.ViewModels.BoletoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Emissão de Guia";
}

<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }
</style>

<br />
<img src="~/Images/logobb.png" />
<br />
<br />
<table title="Dados do Boleto" style="font-size:12px;background-color:White;border-color:#CCCCCC; ">
    <tr>
        <td style="width:20%;padding: 1px 1px 1px 5px;">
            Requerente:
        </td>
        <td style="color:black;font-weight:bold">
            @Model.Nome
        </td>
    </tr>
    <tr>
        <td style="width:20%;padding: 1px 1px 1px 5px;">
            Nº de Documento :
        </td>
        <td style="color:black;font-weight:bold">
            @Model.CpfCnpj
        </td>
    </tr>
    <tr>
        <td style="width: 20%; padding: 1px 1px 1px 5px;">
            Endereço:
        </td>
        <td style="color:black;font-weight:bold">
            @Model.Endereco
        </td>
    </tr>
    <tr>
        <td style="width:20%;padding: 1px 1px 1px 5px;">
            Cidade/UF/Cep:
        </td>
        <td style="color:black;font-weight:bold">
            @Model.Cidade /@Model.Uf &nbsp; - &nbsp;@Model.Cep
        </td>

    </tr>
    <tr>
        <td style="width: 20%; padding: 1px 1px 1px 5px;">
            Data de vencimento:
        </td>
        <td style="color:black;font-weight:bold">
            @Model.Data_Vencimento.Substring(0, 2)/@Model.Data_Vencimento.Substring(2, 2)/@Model.Data_Vencimento.Substring(4, 4)
        </td>
    </tr>
    <tr>
        <td style="width: 20%; padding: 1px 1px 1px 5px;">
            Valor do Boleto:
        </td>
        <td style="color:black;font-weight:bold">
            R$ @Model.Valor_Boleto_Full
        </td>
    </tr>
</table>
<br />



@using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "https://mpag.bb.com.br/site/mpag/" })) {

    @Html.Hidden("cep", @Model.Cep);
    @Html.Hidden("uf", @Model.Uf);
    @Html.Hidden("cidade", @Model.Cidade);
    @Html.Hidden("endereco", Functions.RemoveDiacritics(@Model.Endereco));
    @Html.Hidden("nome", Functions.RemoveDiacritics(@Model.Nome));
    @Html.Hidden("urlInforma", "sistemas.jaboticabal.sp.gov.br/gti/");
    @Html.Hidden("urlRetorno", "sistemas.jaboticabal.sp.gov.br/gti/");
    @Html.Hidden("msgLoja", " RECEBER SOMENTE ATE O VENCIMENTO, APOS ATUALIZAR O BOLETO NO SITE www.jaboticabal.sp.gov.br");
    @Html.Hidden("tpDuplicata", "DS");
    @Html.Hidden("dataLimiteDesconto", "0");
    @Html.Hidden("valorDesconto", "0");
    @Html.Hidden("indicadorPessoa", @Model.TipoDoc);
    @Html.Hidden("cpfCnpj", @Model.CpfCnpj);
    @Html.Hidden("tpPagamento", "2");
    @Html.Hidden("dtVenc", @Model.Data_Vencimento);
    @Html.Hidden("qtdPontos", "0");
    @Html.Hidden("valor", @Model.Valor_Boleto);
    @Html.Hidden("refTran", @Model.Nosso_Numero);
    @Html.Hidden("idConv", "317203");

    <button type="submit" class="green_button">Emitir Boleto</button>
}


@Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home")