@model GTI_Mvc.ViewModels.BoletoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Certidão de Débito";
}

<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }
</style>

<label style="color: brown;font-size: 16px;font-style: italic;font-weight: normal;text-decoration:underline" ;>Certidão de Débito</label>
<br />
<br />


@using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "https://mpag.bb.com.br/site/mpag/" })) {

    @Html.Hidden("cep", @Model.Cep);
    @Html.Hidden("uf", "SP");
    @Html.Hidden("cidade", "JABOTICABAL");
    @Html.Hidden("endereco", Functions.RemoveDiacritics(@Model.Endereco));
    @Html.Hidden("nome", Functions.RemoveDiacritics(@Model.Nome));
    @Html.Hidden("urlInforma", "sistemas.jaboticabal.sp.gov.br/gti/");
    @Html.Hidden("urlRetorno", "sistemas.jaboticabal.sp.gov.br/gti/");
    @Html.Hidden("msgLoja", " RECEBER SOMENTE ATE O VENCIMENTO, APOS ATUALIZAR O BOLETO NO SITE www.jaboticabal.sp.gov.br");
    @Html.Hidden("tpDuplicata", "DS");
    @Html.Hidden("dataLimiteDesconto", "0");
    @Html.Hidden("valorDesconto", "0");
    @Html.Hidden("indicadorPessoa", @Model.TipoDoc);
    @Html.Hidden("cpfCnpj", @Model.CpfCnpj);
    @Html.Hidden("tpPagamento", "2");
    @Html.Hidden("dtVenc", @Model.Data_Vencimento);
    @Html.Hidden("qtdPontos", "0");
    @Html.Hidden("valor", @Model.Valor_Boleto);
    @Html.Hidden("refTran", "28735320015301564");
    @Html.Hidden("idConv", "317203");

    <button type="submit" class="green_button">Emitir Boleto</button>
}


@Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home")