@model GTI_Mvc.ViewModels.NotificacaoIssViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Notificação de ISS";
}

<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }
    .center {
        margin: auto;
/*        width: 700px;*/
        border: 1px solid rgba(0,0,0,0.24);
        padding: 20px;
        box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;
    }
    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>

<div class="center" style="width:620px">

    @using (Html.BeginForm("Notificacao_iss", "Tributario", FormMethod.Post, new { @id = "MainForm" })) {

    <div class="container" style="width:580px">
        <div class="panel panel-danger">
            <div class="panel-heading">Notificação de ISS Construção Civil</div>
            <div class="panel-body">

                <div>
                    @Html.HiddenFor(m=>m.Valor_m2)
                    @Html.HiddenFor(m=>m.Valor_Total)
                    <table style="font-size:14px;width:500px">
                        <tr style="height:30px">
                            <td style="width:120px">
                                <label style="font-weight:normal;padding-top:7px">Exercício:</label>
                            </td>
                            <td style="width:150px">
                                @Html.DropDownListFor(m => m.Ano_Notificacao, ViewBag.Lista_Ano as SelectList, null, new { @id = "AnoDropDown", style = "width:70px;height:25px", rows = 10 })
                            </td>
                            <td style="width:110px">
                                <label style="font-weight:normal;padding-top:7px">Nº Notificação:</label>
                            </td>
                            <td style="width:100px">
                                @if (Model.Numero_Notificacao > 0) {
                                    @Html.TextBoxFor(m => m.Numero_Notificacao, new { @id = "numero", @onKeyPress = "return formata(this, '§§§§§', event)", style = "width:70px;", @Value = Model.Numero_Notificacao })
                                } else {
                                    @Html.TextBoxFor(m => m.Numero_Notificacao, new { @id = "numero", @onKeyPress = "return formata(this, '§§§§§', event)", style = "width:70px;", @Value = "" })
                                }
                            </td>
                        </tr>
                    </table>
                    <table style="font-size:14px;width:500px">
                        <tr style="height:30px">
                            <td style="width:120px">
                                <label style="font-weight:normal;padding-top:7px">Código Imóvel:</label>
                            </td>
                            <td style="width:150px">
                                @if (Model.Codigo_Imovel > 0) {
                                    @Html.TextBoxFor(m => m.Codigo_Imovel, new { @id = "Codigo_Imovel", @onKeyPress = "return formata(this, '§§§§§§', event)", style = "width:70px;", @Value = Model.Codigo_Imovel })
                                } else {
                                    @Html.TextBoxFor(m => m.Codigo_Imovel, new { @id = "Codigo_Imovel", @onKeyPress = "return formata(this, '§§§§§§', event)", style = "width:70px;", @Value = "" })
                                }
                            </td>
                            <td style="width:110px">
                                <label style="font-weight:normal;padding-top:7px">Código Cidadão:</label>
                            </td>
                            <td style="width:100px">
                                @if (Model.Codigo_Cidadao > 0) {
                                    @Html.TextBoxFor(m => m.Codigo_Cidadao, new { @id = "Codigo_Cidadao", @onKeyPress = "return formata(this, '§§§§§§', event)", style = "width:70px;", @Value = Model.Codigo_Cidadao })
                                } else {
                                    @Html.TextBoxFor(m => m.Codigo_Cidadao, new { @id = "Codigo_Cidadao", @onKeyPress = "return formata(this, '§§§§§§', event)", style = "width:70px;", @Value = "" })
                                }

                            </td>
                        </tr>
                    </table>
                    <table style="font-size:14px;width:500px">
                        <tr style="height:30px">
                            <td style="width:120px">
                                <label style="font-weight:normal;padding-top:7px">Nº Processo:</label>
                            </td>
                            <td style="width:150px">
                                @Html.TextBoxFor(m => m.Numero_Processo, new { style = "width:70px;" })
                            </td>
                            <td style="width:110px">
                                <label style="font-weight:normal;padding-top:7px">Área Notificada:</label>
                            </td>
                            <td style="width:100px">
                                @if (Model.Area_Notificada > 0) {
                                    @Html.TextBoxFor(m => m.Area_Notificada, new { @id = "area", @class = "maskValor", style = "width:70px;" ,@Value=Model.Area_Notificada})
                                } else {
                                    @Html.TextBoxFor(m => m.Area_Notificada, new { @id = "area", @class = "maskValor", style = "width:70px;",@Value=""})
                                }
                            </td>
                        </tr>
                    </table>
                    <table style="font-size:14px;width:500px">
                        <tr style="height:30px">
                            <td style="width:120px">
                                <label style="font-weight:normal;padding-top:7px">Uso construção:</label>
                            </td>
                            <td style="width:150px">
                                @Html.DropDownListFor(m => m.Uso_Construcao, ViewBag.Lista_Uso as SelectList, "(Selecione...)", new { @id = "UsoDropDown", style = "width:130px;height:25px", rows = 10 })
                            </td>
                            <td style="width:110px">
                                <label style="font-weight:normal;padding-top:7px">ISS Pago:</label>
                            </td>
                            <td style="width:100px">
                                @if (Model.Iss_Pago > 0) {
                                    @Html.TextBoxFor(m => m.Iss_Pago, new { @id = "isspago", @class = "maskValor", style = "width:70px;", @Value = Model.Iss_Pago })
                                } else {
                                    @Html.TextBoxFor(m => m.Iss_Pago, new { @id = "isspago", @class = "maskValor", style = "width:70px;", @Value = "" })
                                }
                            </td>
                        </tr>
                    </table>
                    <table style="font-size:14px;width:500px">
                        <tr style="height:30px">
                            <td style="width:120px">
                                <label style="font-weight:normal;padding-top:7px">Cat. construção:</label>
                            </td>
                            <td style="width:150px">
                                @Html.DropDownListFor(m => m.Categoria_Construcao, ViewBag.Lista_Cat as SelectList, "(Selecione...)", new { @id = "CatDropDown", style = "width:130px;height:25px", rows = 10 })
                            </td>
                            <td style="width:110px">
                                <label style="font-weight:normal;padding-top:7px">Habite-se:</label>
                            </td>
                            <td style="width:100px">
                                @Html.CheckBoxFor(m => m.Habitese)
                            </td>
                        </tr>
                    </table>
                    <table style="font-size:14px;width:500px">
                        <tr style="height:30px">
                            <td style="width:120px">
                                <label style="font-weight:normal;padding-top:7px">Data Vencimento:</label>
                            </td>
                            <td style="width:150px">
                                @Html.TextBoxFor(m => m.Data_vencimento, new { @id = "dataVencto", @class = "maskData", style = "width:80px;height:25px;text-align:left", @Value = Convert.ToDateTime(@Model.Data_vencimento).ToString("dd/MM/yyyy") })
                            </td>
                            <td style="width:110px">
                            </td>
                            <td style="width:100px">
                            </td>
                        </tr>
                    </table>
                    <table style="font-size:14px;width:500px">
                        <tr style="height:30px">
                            <td style="width:120px">
                                <label style="font-weight:normal;padding-top:7px">Valor m²:</label>
                            </td>
                            <td style="width:150px">
                                <Label style="font-weight:normal;color:brown;padding-top:5px" id="lblValorM2">R$&nbsp;@Model.Valor_m2</Label>
                            </td>
                            <td style="width:110px">
                                <label style="font-weight:normal;padding-top:7px" id="lblValorTotal">Valor total:</label>
                            </td>
                            <td style="width:100px">
                                <Label style="font-weight:normal;color:brown;padding-top:5px">R$&nbsp;@Model.Valor_Total</Label>
                            </td>
                        </tr>
                    </table>

                </div>

            </div>

        </div>

        <div style="text-align:center">
            <button type="submit" class="btn btn-primary" name="action" value="btnValida">Gerar notificação</button>
        </div>
        <br />
        @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
    </div>

    }
</div>

        @section scripts{

            <script type="text/javascript">
                $(document).ready(function () {
                    $(".maskValor").mask("99999999,00", { reverse: true });
                    $(".maskData").inputmask("99/99/9999");
                    $(".maskNumero").inputmask("999999");

                    $("#MainForm").submit(function () {
                        return ValidateForm();
                    });

                    $("#UsoDropDown").change(function () {
                        if (this.value != '') {
                            $("#MainForm").submit();
                        }
                    });
                });

                function ValidateForm() {
                    ClearError();
                    //var _cod = document.getElementById('codigo').value;
                    //var _captcha = document.getElementById('captchaTxt').value;
                    //var _chave = document.getElementById('chave').value;

                    //if ((_cod == "" || parseInt(_cod) == 0) && _chave == "") {
                    //    document.getElementById('errorLabel').innerHTML = "Digite a inscrição municipal ou a chave de autenticação da certidão";
                    //    return false;
                    //}




                    return true;
                }

                function ClearError() {
//                    document.getElementById('errorLabel').innerHTML = "";
                }



            </script>
        }
