@model List<GTI_Mvc.ViewModels.NotificacaoIssViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Consulta notificação";
}

<style>

    .center {
        margin: auto;
        width: 700px;
        border: 1px solid rgba(0,0,0,0.24);
        padding: 20px;
        box-shadow: 0 .1em 0.5em #000;
        border-radius: 13px;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }
</style>

<div class="center">

    @using (Html.BeginForm("Notificacao_query", "Tributario", FormMethod.Post, new { @id = "MainForm" })) {
        <div class="container" style="width:800px">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Consulta de Notificações emitidas
                    @{


                        var selectListAno = new SelectList(new List<SelectListItem>
                            {
                        new SelectListItem {Text = "2019", Value = "2019" },
                        new SelectListItem {Text = "2020", Value = "2020"}
                        }, "Value", "Text");

                    }
                    <label style="padding-left:20px">
                        Exercício:&nbsp;
                        @Html.DropDownListFor(m => m[0].Ano_Selected, selectListAno, null, new { @id = "AnoDropDown", @style = "font-weight:normal", onchange = "this.form.submit()" })
                    </label>  <br />


                </div>
                <div class="panel-body">
                    <table id="tblMain" class="tableContainer" style="font-size:14px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse">
                        <thead style="background-color:brown;color:white;font-size:14px;font-weight:normal; white-space: nowrap;">
                            <tr style="height:14px;">
                                <td style="display:none">Guid</td>
                                <td style="width:100px;font-weight:normal">Nº Notif.</td>
                                <td style="width:330px;font-weight:normal">Nome do Contribuinte</td>
                                <td style="width:210px;font-weight:normal">Data Emissão</td>
                                <td style="width:170px;font-weight:normal">Situação</td>
                                <td style="width:100px">
                                </td>
                            </tr>
                        </thead>
                        <tbody id="tblComprador" class="tableContainer" style="font-size:14px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse;padding-left:10px;">
                            @foreach (var item in Model) {
                                <tr style="height:14px;">
                                    <td style="display:none">@Html.DisplayFor(modelItem => item.Guid)</td>
                                    <td style="width:100px;font-weight:normal">@Html.DisplayFor(modelItem => item.AnoNumero)</td>
                                    <td style="width:330px;font-weight:normal">@Html.DisplayFor(modelItem => item.Nome)</td>
                                    <td style="width:210px;font-weight:normal">@Html.DisplayFor(modelItem => item.Data_Emissao)</td>
                                    <td style="width:170px;font-weight:normal">@Html.DisplayFor(modelItem => item.SituacaoNome)</td>
                                    <td style="width:100px">
                                        <a href="@Url.Action("Notificacao_print","Tributario", new { p = item.Guid })" title="Imprimir a Notificação"> <img src="@Url.Content("~/images/print.png")"></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <div class="form-group row">
                        <label style="font-weight:normal;color:red;padding-left:10px" id="errorLabel">@ViewBag.Result</label>
                    </div>

                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Preencher outra notificação", "Notificacao_iss", "Tributario", null, new { @class = "actionlink" })<br />
                    @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
                </div>
            </div>
        </div>
    }
</div>
