@model GTI_Mvc.ViewModels.DebitoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "2ª via de Parcelamento";
}

<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="center container" style="width:600px">
    @using (Html.BeginForm("SegundaVia_Parcelamento", "Tributario", FormMethod.Post, new { @id = "MainForm" })) {
        <div class="card">
            <div class="card-header">Emissão de 2ª via de parcelamento</div>
            <div class="card-body">
                <span style="text-decoration: underline;color: #CC0000">Observação importante</span>:&nbsp; <article style="color: #CC0000;text-align:justify">Os boletos serão enviados para registro e estarão disponíveis para pagamento no próximo dia útil. Nos finais de semana e feriados acrescentar mais um dia. Caso queira pagar alguma parcela hoje, emitir boleto através da consulta e atualização de boletos disponível no site.</article>
                <br />

                <table width="500px">
                    <tr style="height:40px">
                        <td style="  padding-top:15px;width:150px">
                            @Html.LabelFor(m => m.Inscricao, new { @style = "font-weight:normal" })
                        </td>
                        <td style="width:300px">@Html.TextBoxFor(m => m.Inscricao, new { @id = "Codigo", @class = "textBoxBlue", @style = "max-width:100px", @onKeyPress = "return formata(this, '§§§§§§', event)" })</td>
                    </tr>
                    <tr style="height:40px">
                        <td style="width:150px"><label style="font-weight:normal">Nº do Processo: </label></td>
                        <td style="width:300px">@Html.TextBoxFor(m => m.Numero_Processo, new { @id = "numprocesso", @class = "textBoxBlue", @style = "max-width:150px" })</td>
                    </tr>

                    @*<tr style="height:40px">
                            <td style="width:150px" valign="middle">
                                <img id="img-captcha" src="~/Empresa/GetCaptcha" />
                            </td>
                            <td style="width:150px" valign="middle">
                                @Html.TextBoxFor(m => m.CaptchaCode, new { @id = "captchaTxt", @class = "textBoxBlue", @maxlength = "6", @style = "max-width:100px;" })
                            </td>
                        </tr>*@
                </table>

                <br />
                <div class="g-recaptcha" data-sitekey="6LfRjG0aAAAAAOEd4ksnWZYw3oX4cUsimIy7yOqD"></div>
                <br />
                <button type="submit" id="btnOK" class="btn btn-primary"> Consultar</button>
                <br />
                <br />
                <span style="color:brown;text-decoration: underline">Observação:</span><br />
                <article style="color:black;text-align:justify">Em alguns carnês de parcelamento antigos, pode não aparecer o dígito verificador no nº de processo. Digite abaixo o número de processo antigo para obter o número completo com o dígito.</article>
                <br />
                <table style="font-size:13px;width:640px">
                    <tr style="height:30px">
                        <td style="width:65px">
                            <label style="font-weight:normal;padding-top:4px">Nº Antigo:</label>
                        </td>
                        <td style="width:575px">

                            @Html.TextBoxFor(m => m.ProcessoAntigo, new { @id = "codigo", @class = "textBoxBlue", @style = "width:100px;height:25px" })
                            <label>&nbsp;&nbsp;</label>
                            <button id="btnDigito" type="submit" class="btn btn-success" name="action" value="btnDigito">Verificar</button>
                            <span style="padding-left:10px">Nº Processo Novo:&nbsp;</span><span style="color:brown">@Model.ProcessoNovo</span>
                        </td>
                    </tr>
                </table>

            </div>
            <label class="errorlabel" id="errorLabel">@ViewBag.Result</label>
            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>
        </div>
    }
</div>


@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnOK").click(function () {
                return ValidateForm();
            });
        });

        function ValidateForm() {
            ClearError();
            var _numero = document.getElementById('numprocesso').value.trim();
            var _cod = document.getElementById('Codigo').value;

            if ((_cod == "" || parseInt(_cod) == 0)) {
                document.getElementById('errorLabel').innerHTML = "Digite a inscrição municipal!";
                return false;
            }

            var _error = Valida_Numero_Processo(_numero);
            if (_error != "") {
                document.getElementById('errorLabel').innerHTML = _error;
                return false;
            }


            return true;
        }

        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }

    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}




