@model GTI_Mvc.ViewModels.ProcessoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Consulta de Processos";
}




<style>
    .textBoxBlue {
        height: 25px;
        position: relative;
        border: 1px solid #0094ff;
        border-color: rgba(0, 0, 0, .14);
        background-color: white;
        font-size: 14px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24),0 1px 6px 0 rgba(0,0,0,0.19);
    }

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
        font-size:14px;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 18px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
    a:link {
        color: darkslateblue;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: darkslateblue;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }

</style>


<div class="center">

    @using (Html.BeginForm("ProcessoQryC", "Protocolo", FormMethod.Post, new { @id = "MainForm", enctype = "multipart/form-data" })) {

    <div class="container" style="width:950px">
        <div class="card">
            <div class="card-header">Consulta de Processos</div>
            <div class="card-body">
                <table>
                    <tr style="font-weight:normal;font-size:12px">
                        <td>
                            Nº do processo
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.Numero_Ano, new { @id = "numprocesso", @style = "width:150px;height:25px;font-size:12px" })
                        </td>
                    </tr>
                    <tr style="height:8px">
                        <td></td>
                    </tr>
                    <tr style="font-weight:normal;font-size:12px">
                        <td>
                            Nome do requerente
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.Requerente, new { @id = "nome", @style = "width:450px;height:25px;font-size:12px" })
                        </td>
                    </tr>
                    <tr style="height:8px">
                        <td></td>
                    </tr>
                    <tr style="font-weight:normal;font-size:12px">
                        <td>
                            Endereço de Ocorrência
                        </td>
                        <td style="width:10px">
                        </td>
                        <td>
                            Número
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.Endereco, new { @id = "endereco", @style = "width:450px;height:25px;font-size:12px" })
                        </td>
                        <td>
                        </td>
                        <td>
                            @if (Model.EnderecoNumero > 0) {
                                @Html.TextBoxFor(m => m.EnderecoNumero, new { @id = "numero", @style = "width:80px;height:25px;font-size:12px", @onKeyPress = "return formata(this, '§§§§', event)" })<span>&nbsp;&nbsp;</span>
                            } else {
                                @Html.TextBoxFor(m => m.EnderecoNumero, new { @id = "numero", @style = "width:80px;height:25px;font-size:12px", @onKeyPress = "return formata(this, '§§§§', event)", @Value = "" })<span>&nbsp;&nbsp;</span>
                            }

                        </td>
                    </tr>
                    <tr style="height:8px">
                        <td></td>
                    </tr>

                </table>


                <br />
                <button id="btnCodigo" type="submit" class="btn btn-primary" name="action" value="btnCodigoOK">Consultar</button>
                <br /><br />
                @if (Model.Lista_Processo.Count > 0) {
                    <table style="font-size:12px;width:880px">
                        <thead style="background-color:darkred;color:whitesmoke">
                            <tr style="height:10px">
                                <td style="width:80px;text-align:center">Número</td>
                                <td style="width:240px" ;text-align:left">Requerente</td>
                                <td style="width:240px" ;text-align:left">Assunto</td>
                                <td style="width:240px;text-align:left">Endereço</td>
                                <td style="width:50px;text-align:center"></td>
                            </tr>
                        </thead>
                        @foreach (GTI_Models.Models.ProcessoLista item in Model.Lista_Processo) {
                    <tr style="height:20px;">
                        <td style="width:80px;text-align:center;font-weight:normal"><a href="@Url.Action("ProcessoqryC", "Protocolo", new { id = Functions.Encrypt(item.AnoNumero).Replace('/', '-') })" title="Consultar">@Html.DisplayFor(modelItem => item.AnoNumero)</a></td>
                        <td style="width:240px;text-align:left;font-weight:normal"><a href="@Url.Action("ProcessoqryC", "Protocolo", new { id = Functions.Encrypt(item.AnoNumero).Replace('/', '-') })" title="Consultar">@Html.DisplayFor(modelItem => item.Requerente)</a></td>
                        <td style="width:240px;text-align:left;font-weight:normal"><a href="@Url.Action("ProcessoqryC", "Protocolo", new { id = Functions.Encrypt(item.AnoNumero).Replace('/', '-') })" title="Consultar">@Html.DisplayFor(modelItem => item.Assunto)</a></td>
                        <td style="width:240px;text-align:left;font-weight:normal"><a href="@Url.Action("ProcessoqryC", "Protocolo", new { id = Functions.Encrypt(item.AnoNumero).Replace('/', '-') })" title="Consultar">@Html.DisplayFor(modelItem => item.Endereco)</a></td>
                        @*<td style="width:80px;text-align:center;font-weight:normal">@Html.DisplayFor(modelItem => item.AnoNumero)</td>
        <td style="width:240px;text-align:left;font-weight:normal">@Html.DisplayFor(modelItem => item.Requerente)</td>
        <td style="width:240px;text-align:left;font-weight:normal">@Html.DisplayFor(modelItem => item.Assunto)</td>
        <td style="width:240px;text-align:left;font-weight:normal">@Html.DisplayFor(modelItem => item.Endereco)</td>
        <td style="width:50px;text-align:right">
            <a href="@Url.Action("ProcessoqryC", "Protocolo", new { id = Functions.Encrypt(item.AnoNumero).Replace('/', '-') })" title="Consultar"> <img src="@Url.Content("~/images/Consultar.gif")"></a>
        </td>*@
                    </tr>
                        }
                    </table>
                }

                <label class="errorlabel" id="errorLabel">@ViewBag.Result</label>
            </div>
            
            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu de opções", "sysMenu", "Home", null, new { @class = "actionlink" })<br />
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>
        </div>
    </div>

    }
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            $("#MainForm").submit(function () {
                return ValidateForm();
            });
        });


        function ValidateForm() {
            ClearError();
            var _numero = document.getElementById('numprocesso').value.trim();
            var _nome = document.getElementById('nome').value.trim();
            var _endereco = document.getElementById('endereco').value.trim();

            if (_numero == '' && _nome == '' && _endereco == '') {
                document.getElementById('errorLabel').innerHTML = "Nenhum filtro selecionado!";
                return false;
            }

            if (_numero != '') {
                var _error = Valida_Numero_Processo(_numero);
                if (_error != "") {
                    document.getElementById('errorLabel').innerHTML = _error;
                    return false;
                }
            }

        }

        function ClearError() {
            document.getElementById('errorLabel').innerHTML = "";
        }


    </script>
}