@model GTI_Mvc.ViewModels.ProcessoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Consulta de Processo";
}

<style>
    .tableContainer {
        color: dodgerblue;
        border-spacing: 10px;
        empty-cells: show;
        width: 100%;
        text-align: left;
        font-size: 12px;
    }

        .tableContainer tr td {
            white-space: nowrap;
            text-align: left;
        }

    .center {
        margin: auto;
    }

    .actionlink:hover {
        color: darkgreen;
    }

    .actionlink {
        color: darkslateblue;
    }

    .card-header {
        background-color: mistyrose;
        color: brown;
        font-size: 14px
    }

    .card {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .card-footer {
        background-color: whitesmoke;
        font-size: 14px
    }

    .btn-primary {
        background-color: steelblue;
    }

    .btn {
        font-size: 14px;
        border-radius: 4px;
    }

    .errorlabel {
        font-weight: normal;
        color: red;
        padding-left: 13px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<div class="center container" style="width:870px">

    <form asp-controller="Protocolo" enctype="multipart/form-data" method="post" class="mt-3">
        <div class="card">
            <div class="card-header">Consulta de Processo</div>
            <div class="card-body">
                <table title="Dados do Processo" style="font-size:12px;background-color:White;border-color:#CCCCCC; ">
                    <tr>
                        <td style="width:200px;padding: 1px 1px 1px 5px;">
                            Nº do processo:
                        </td>
                        <td style="color:black;font-weight:bold">
                            @Model.Numero_Ano
                        </td>
                    </tr>
                    <tr>
                        <td style="width:600px;padding: 1px 1px 1px 5px;">
                            Data do processo:
                        </td>
                        <td style="color:black;font-weight:bold">
                            @Model.Data_Processo
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%; padding: 1px 1px 1px 5px;">
                            Requerente:
                        </td>
                        <td style="color:black;font-weight:bold">
                            @Model.Requerente
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;padding: 1px 1px 1px 5px;">
                            Assunto:
                        </td>
                        <td style="color:black;font-weight:bold">
                            @Model.Assunto_Nome
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;padding: 1px 1px 1px 5px;">
                            Endereço(s):
                        </td>
                        <td style="color:black;font-weight:bold">
                            @Model.Endereco_Ocorrencia
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;padding: 1px 1px 1px 5px;">
                            Observação:
                        </td>
                        <td style="color:black;font-weight:bold">
                            @Model.Observacao
                        </td>
                    </tr>
                </table>
                <br />
                <div id="TramitacaoTable" style="max-height: 247px; overflow: auto;width:800px">
                    <table id="tblMain" class="tableContainer" style="font-size:9px;font-weight:normal;border-width:1px;border-style:None;border-collapse:collapse">
                        <thead style="background-color:#337ab7;color:white;font-size:9px;font-weight:normal">
                            <tr style="height:12px;">
                                <th>
                                    Seq
                                </th>
                                <th style="width:30px">
                                    Centro de Custos
                                </th>
                                <th style="width:60px;text-align:center">
                                    Dt.Entrada
                                </th>
                                <th style="width:40px;text-align:center">
                                    Hora
                                </th>
                                <th style="width:30px">
                                    Recebido por
                                </th>
                                <th style="width:30px">
                                    Despacho
                                </th>
                                <th style="width:60px;text-align:center">
                                    Dt.Envio
                                </th>

                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody style="color: #333333">
                            @foreach (var item in Model.Lista_Tramite) {
                                <tr style="height: 15px;border-bottom-color: cadetblue; border-bottom-style: solid; border-bottom-width: 1px; border-top-color: cadetblue; border-top-style: solid; border-top-width: 1px">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Seq)
                                    </td>
                                    <td style="width:180px">
                                        @Html.DisplayFor(modelItem => item.CentroCustoNome)
                                    </td>
                                    <td style="width:50px;text-align:center">
                                        @Html.DisplayFor(modelItem => item.DataEntrada)
                                    </td>
                                    <td style="width:40px;text-align:center">
                                        @Html.DisplayFor(modelItem => item.HoraEntrada)
                                    </td>
                                    <td style="min-width:150px">
                                        @Html.DisplayFor(modelItem => item.Usuario1)
                                    </td>
                                    <td style="color:brown">
                                        @Html.DisplayFor(modelItem => item.DespachoNome)
                                    </td>
                                    <td style="width:60px;text-align:center">
                                        @Html.DisplayFor(modelItem => item.DataEnvio)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>
            <label class="errorlabel" id="errorLabel">@ViewBag.Result</label>

            <div class="card-footer">
                @Html.ActionLink("Retornar ao menu de opções", "sysMenu", "Home", null, new { @class = "actionlink" })<br />
                @Html.ActionLink("Retornar ao menu principal", "Login_gti", "Home", null, new { @class = "actionlink" })
            </div>

        </div>
    </form>
</div>


